<%# Values required: 
searchawards - list of award responses
startRecord, endRecord - record index at start/end of current page
totalSearchResults - total number of search results
totalPages - integer total number of pages
prevPage, nextPage - integer of previous/next page
currentURI - current url for setURIParameter() function (in utils.js)
%>
<div>
    <%if(typeof searchawards == undefined || !hasAwards) { %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
        data-module="govuk-error-summary">

        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a aria-label="No associated awards found for this subsidy scheme">No associated awards found for this subsidy scheme.</a>
            </li>

          </ul>
        </div>
      </div>
    <%} else { %>
    <section class="govuk-table">
        <table class="govuk-table" id="searchresult-table">
            <div class="govuk-grid-column-one-third govuk-form-group govuk-display-flex govuk-padding-0"
            style="float:right;text-align: right;">
                <label>Results per page</label>
                <div class="pagination pagination-style-modified govuk-padding-0 govuk-!-width-one-half"
                style="display: inline;  margin: 0;">
                <a id="results-per-page-10" aria-label="10 records per page selected" aria-selected="<%-perPage===10%>" class="round btn-page <%-perPage===10 ? 'active' : ''%>"
                    href="<%-setURIParameters(currentURI, {'perPage' : 10, 'page': 1})%>#searchresult-table">10</a>
                <a id="results-per-page-20" aria-label="20 records per page selected" aria-selected="<%-perPage===20%>" class="round btn-page <%-perPage===20 ? 'active' : ''%>"
                    href="<%-setURIParameters(currentURI, {'perPage' : 20, 'page': 1})%>#searchresult-table">20</a>
                <a id="results-per-page-50" aria-label="50 records per page selected" aria-selected="<%-perPage===50%>" class="round btn-page <%-perPage===50 ? 'active' : ''%>"
                    href="<%-setURIParameters(currentURI, {'perPage' : 50, 'page': 1})%>#searchresult-table">50</a>
                <a id="results-per-page-100" aria-label="100 records per page selected" aria-selected="<%-perPage===100%>" class="round btn-page <%-perPage===100 ? 'active' : ''%>"
                    href="<%-setURIParameters(currentURI, {'perPage' : 100, 'page': 1})%>#searchresult-table">100</a>            </div>
            </div>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">

                    <th scope="col" class="govuk-table__header app-custom-class" style="width: 8em">
                        Subsidy award number
                    </th>

                    <th scope="col" class="govuk-table__header app-custom-class" style="width: 4em;">
                        Status
                    </th>

                    <th scope="col" class="govuk-table__header app-custom-class" style=" text-align:left">
                        Recipient
                    </th>

                    <th scope="col" class="govuk-table__header app-custom-class">
                        Public authority
                    </th>

                    <th scope="col" class="govuk-table__header app-custom-class" style=" text-align:left">
                        Subsidy amount
                    </th>

                </tr>
            </thead>
            <tbody id="searchresult-table-body" class="govuk-table__body">
                <% searchawards.forEach(function(item) { %>
                    <tr>
                        <td class="govuk-table__cell">
                            <a href="/subsidyawardfetch/?award=<%= item.awardNumber %>">
                                <%= item.awardNumber %>
                            </a>
                        </td>
                        <td class="govuk-table__cell" style="text-align:left">
                            <%= item.status %>
                        </td>
                        <td class="govuk-table__cell" style="text-align:left">
                            <%= item.beneficiary.beneficiaryName %>
                        </td>
                        <td class="govuk-table__cell">
                            <%= item.grantingAuthorityResponse.grantingAuthorityName %>
                        </td>
                        <% if (item.subsidyInstrument=="Tax measures (tax credit, or tax/duty exemption)" ) { %>
                            <td class="govuk-table__cell" style="text-align:left">
                                <%= item.subsidyFullAmountRange %>
                            </td>
                        <% } else { %>
                            <td class="govuk-table__cell" style="text-align:left"> £<%= item.subsidyFullAmountExact
                                    %>
                            </td>
                        <% } %>
                    </tr>

                    <% } ); %>

            </tbody>
        </table>
        <div id="pagination1" class="pagination  govuk-grid-row">
            
            <% if (totalPages > 1) { %>

                <div class="govuk-grid-column-one-third first">
                    <p class="pagination-label">
                        Showing <span>
                            <%= startRecord %>
                        </span> - <span>
                            <%= endRecord %>
                        </span> of
                        <span>
                            <%= totalSearchResults %>
                        </span>
                    </p>
                </div>

            <% } %>
            <div class="govuk-grid-column-two-thirds last govuk-padding-0 govuk-display-flex" style="float:left;text-align: right; align-items: center; justify-content: flex-end;">
                <% if (totalPages> 1) { %>
                    <% if (currentPage !=1) { %>
                        <a href="<%-setURIParameter(currentURI, 'page', 1)%>#searchresult-table" id="paginationlink_first_page" class="first round">
                            <svg version="1.1" width="19px" height="30px"
                                aria-label="go to subsidy awards first page">
                                <defs>
                                    <mask fill="white" id="clip2">
                                        <path
                                            d="M 18.5805027173913 8.01668806161746  C 18.8601675724638 8.33761232349166  19 8.72486093281985  19 9.17843388960205  L 19 10.8215661103979  C 19 11.2751390671801  18.8601675724638 11.6623876765083  18.5805027173913 11.9833119383825  C 18.3008378623188 12.3042362002567  17.9372735507246 12.4646983311938  17.4898097826087 12.4646983311938  L 8.40285326086956 12.4646983311938  L 12.1847826086957 16.2387676508344  C 12.5117753623188 16.5468549422336  12.6752717391304 16.9319640564827  12.6752717391304 17.3940949935815  C 12.6752717391304 17.8562259306804  12.5117753623188 18.2413350449294  12.1847826086957 18.5494223363286  L 11.2167119565217 19.5250320924262  C 10.8983242753623 19.8416773641421  10.5110960144928 20  10.055027173913 20  C 9.6075634057971 20  9.21603260869565 19.8416773641421  8.8804347826087 19.5250320924262  L 0.47758152173913 11.1553273427471  C 0.15919384057971 10.8386820710312  0 10.4535729567822  0 10  C 0 9.55498502353445  0.15919384057971 9.16559691912709  0.47758152173913 8.83183568677792  L 8.8804347826087 0.487804878048781  C 9.20742753623188 0.162601626016259  9.59895833333333 0  10.055027173913 0  C 10.502490942029 0  10.8897192028986 0.162601626016259  11.2167119565217 0.487804878048781  L 12.1847826086957 1.43774069319641  C 12.5117753623188 1.76294394522893  12.6752717391304 2.15233204963628  12.6752717391304 2.60590500641849  C 12.6752717391304 3.05947796320068  12.5117753623188 3.44886606760804  12.1847826086957 3.77406931964057  L 8.40285326086956 7.53530166880616  L 17.4898097826087 7.53530166880616  C 17.9372735507246 7.53530166880616  18.3008378623188 7.69576379974326  18.5805027173913 8.01668806161746  Z "
                                            fill-rule="evenodd" />
                                    </mask>
                                </defs>
                                <g transform="matrix(1 0 0 1 -456 -1231 )">
                                    <path
                                        d="M 18.5805027173913 8.01668806161746  C 18.8601675724638 8.33761232349166  19 8.72486093281985  19 9.17843388960205  L 19 10.8215661103979  C 19 11.2751390671801  18.8601675724638 11.6623876765083  18.5805027173913 11.9833119383825  C 18.3008378623188 12.3042362002567  17.9372735507246 12.4646983311938  17.4898097826087 12.4646983311938  L 8.40285326086956 12.4646983311938  L 12.1847826086957 16.2387676508344  C 12.5117753623188 16.5468549422336  12.6752717391304 16.9319640564827  12.6752717391304 17.3940949935815  C 12.6752717391304 17.8562259306804  12.5117753623188 18.2413350449294  12.1847826086957 18.5494223363286  L 11.2167119565217 19.5250320924262  C 10.8983242753623 19.8416773641421  10.5110960144928 20  10.055027173913 20  C 9.6075634057971 20  9.21603260869565 19.8416773641421  8.8804347826087 19.5250320924262  L 0.47758152173913 11.1553273427471  C 0.15919384057971 10.8386820710312  0 10.4535729567822  0 10  C 0 9.55498502353445  0.15919384057971 9.16559691912709  0.47758152173913 8.83183568677792  L 8.8804347826087 0.487804878048781  C 9.20742753623188 0.162601626016259  9.59895833333333 0  10.055027173913 0  C 10.502490942029 0  10.8897192028986 0.162601626016259  11.2167119565217 0.487804878048781  L 12.1847826086957 1.43774069319641  C 12.5117753623188 1.76294394522893  12.6752717391304 2.15233204963628  12.6752717391304 2.60590500641849  C 12.6752717391304 3.05947796320068  12.5117753623188 3.44886606760804  12.1847826086957 3.77406931964057  L 8.40285326086956 7.53530166880616  L 17.4898097826087 7.53530166880616  C 17.9372735507246 7.53530166880616  18.3008378623188 7.69576379974326  18.5805027173913 8.01668806161746  Z "
                                        fill-rule="nonzero" fill="#1d70b8" stroke="none"
                                        transform="matrix(1 0 0 1 456 1241 )" />
                                    <path
                                        d="M 18.5805027173913 8.01668806161746  C 18.8601675724638 8.33761232349166  19 8.72486093281985  19 9.17843388960205  L 19 10.8215661103979  C 19 11.2751390671801  18.8601675724638 11.6623876765083  18.5805027173913 11.9833119383825  C 18.3008378623188 12.3042362002567  17.9372735507246 12.4646983311938  17.4898097826087 12.4646983311938  L 8.40285326086956 12.4646983311938  L 12.1847826086957 16.2387676508344  C 12.5117753623188 16.5468549422336  12.6752717391304 16.9319640564827  12.6752717391304 17.3940949935815  C 12.6752717391304 17.8562259306804  12.5117753623188 18.2413350449294  12.1847826086957 18.5494223363286  L 11.2167119565217 19.5250320924262  C 10.8983242753623 19.8416773641421  10.5110960144928 20  10.055027173913 20  C 9.6075634057971 20  9.21603260869565 19.8416773641421  8.8804347826087 19.5250320924262  L 0.47758152173913 11.1553273427471  C 0.15919384057971 10.8386820710312  0 10.4535729567822  0 10  C 0 9.55498502353445  0.15919384057971 9.16559691912709  0.47758152173913 8.83183568677792  L 8.8804347826087 0.487804878048781  C 9.20742753623188 0.162601626016259  9.59895833333333 0  10.055027173913 0  C 10.502490942029 0  10.8897192028986 0.162601626016259  11.2167119565217 0.487804878048781  L 12.1847826086957 1.43774069319641  C 12.5117753623188 1.76294394522893  12.6752717391304 2.15233204963628  12.6752717391304 2.60590500641849  C 12.6752717391304 3.05947796320068  12.5117753623188 3.44886606760804  12.1847826086957 3.77406931964057  L 8.40285326086956 7.53530166880616  L 17.4898097826087 7.53530166880616  C 17.9372735507246 7.53530166880616  18.3008378623188 7.69576379974326  18.5805027173913 8.01668806161746  Z "
                                        stroke-width="2" stroke="#ffffff" fill="none"
                                        transform="matrix(1 0 0 1 456 1241 )" mask="url(#clip2)" />
                                </g>
                            </svg>
                        </a>
                        <a href="<%-setURIParameter(currentURI, 'page', prevPage)%>#searchresult-table"
                            aria-label="go to subsidy awards search results previous page"
                            id="paginationlink_previous_page" class="previous round">
                            Previous Page
                        </a>
                    <% } %>

                    <% for (var i=pagingStart; i <=pagingEnd; i++) { %>
                        <a id="paginationlink_<%=i%>_page"
                            aria-label="Go to page <%= i %>"
                            class="round btn-page <%= currentPage == i ? 'active' : ''%>" href="<%-setURIParameter(currentURI, 'page', i)%>#searchresult-table">
                            <%= i %>
                        </a>
                        <% } %>
                        <% if (currentPage !=totalPages) { %>
                            <a href="<%-setURIParameter(currentURI, 'page', nextPage)%>#searchresult-table"
                                aria-label="Go to next page"
                                id="paginationlink_next_page" class="next round">Next
                                Page</a>
                            <a href="<%-setURIParameter(currentURI, 'page', totalPages)%>#searchresult-table"
                                aria-label="Go to last page"
                                id="paginationlink_last_page" class="last round"><svg
                                    version="1.1" width="19px" height="30px"
                                    class="left-arrow"
                                    aria-label="Go to last page">
                                    <defs>
                                        <mask fill="white" id="clip3">
                                            <path
                                                d="M 18.5224184782609 8.84467265725289  C 18.8408061594203 9.14420196833547  19 9.52931108258451  19 10  C 19 10.4621309370988  18.8408061594203 10.8515190415062  18.5224184782609 11.1681643132221  L 10.1195652173913 19.5250320924262  C 9.78396739130435 19.8416773641421  9.3924365942029 20  8.94497282608696 20  C 8.50611413043478 20  8.11888586956522 19.8416773641421  7.78328804347826 19.5250320924262  L 6.81521739130435 18.5622593068036  C 6.48822463768116 18.2370560547711  6.32472826086957 17.8476679503637  6.32472826086957 17.3940949935815  C 6.32472826086957 16.9405220367993  6.48822463768116 16.551133932392  6.81521739130435 16.2259306803594  L 10.5971467391304 12.4646983311938  L 1.5101902173913 12.4646983311938  C 1.06272644927536 12.4646983311938  0.69916213768116 12.3042362002567  0.419497282608696 11.9833119383825  C 0.139832427536232 11.6623876765083  0 11.2751390671801  0 10.8215661103979  L 0 9.17843388960205  C 0 8.72486093281985  0.139832427536232 8.33761232349166  0.419497282608696 8.01668806161746  C 0.69916213768116 7.69576379974326  1.06272644927536 7.53530166880616  1.5101902173913 7.53530166880616  L 10.5971467391304 7.53530166880616  L 6.81521739130435 3.7612323491656  C 6.48822463768116 3.45314505776637  6.32472826086957 3.06803594351733  6.32472826086957 2.60590500641849  C 6.32472826086957 2.14377406931964  6.48822463768116 1.7586649550706  6.81521739130435 1.45057766367137  L 7.78328804347826 0.487804878048781  C 8.11028079710145 0.162601626016259  8.49750905797101 0  8.94497282608696 0  C 9.40104166666667 0  9.79257246376812 0.162601626016259  10.1195652173913 0.487804878048781  L 18.5224184782609 8.84467265725289  Z "
                                                fill-rule="evenodd" />
                                        </mask>
                                    </defs>
                                    <g transform="matrix(1 0 0 1 -930 -1231 )">
                                        <path
                                            d="M 18.5224184782609 8.84467265725289  C 18.8408061594203 9.14420196833547  19 9.52931108258451  19 10  C 19 10.4621309370988  18.8408061594203 10.8515190415062  18.5224184782609 11.1681643132221  L 10.1195652173913 19.5250320924262  C 9.78396739130435 19.8416773641421  9.3924365942029 20  8.94497282608696 20  C 8.50611413043478 20  8.11888586956522 19.8416773641421  7.78328804347826 19.5250320924262  L 6.81521739130435 18.5622593068036  C 6.48822463768116 18.2370560547711  6.32472826086957 17.8476679503637  6.32472826086957 17.3940949935815  C 6.32472826086957 16.9405220367993  6.48822463768116 16.551133932392  6.81521739130435 16.2259306803594  L 10.5971467391304 12.4646983311938  L 1.5101902173913 12.4646983311938  C 1.06272644927536 12.4646983311938  0.69916213768116 12.3042362002567  0.419497282608696 11.9833119383825  C 0.139832427536232 11.6623876765083  0 11.2751390671801  0 10.8215661103979  L 0 9.17843388960205  C 0 8.72486093281985  0.139832427536232 8.33761232349166  0.419497282608696 8.01668806161746  C 0.69916213768116 7.69576379974326  1.06272644927536 7.53530166880616  1.5101902173913 7.53530166880616  L 10.5971467391304 7.53530166880616  L 6.81521739130435 3.7612323491656  C 6.48822463768116 3.45314505776637  6.32472826086957 3.06803594351733  6.32472826086957 2.60590500641849  C 6.32472826086957 2.14377406931964  6.48822463768116 1.7586649550706  6.81521739130435 1.45057766367137  L 7.78328804347826 0.487804878048781  C 8.11028079710145 0.162601626016259  8.49750905797101 0  8.94497282608696 0  C 9.40104166666667 0  9.79257246376812 0.162601626016259  10.1195652173913 0.487804878048781  L 18.5224184782609 8.84467265725289  Z "
                                            fill-rule="nonzero" fill="#1d70b8"
                                            stroke="none"
                                            transform="matrix(1 0 0 1 930 1241 )" />
                                        <path
                                            d="M 18.5224184782609 8.84467265725289  C 18.8408061594203 9.14420196833547  19 9.52931108258451  19 10  C 19 10.4621309370988  18.8408061594203 10.8515190415062  18.5224184782609 11.1681643132221  L 10.1195652173913 19.5250320924262  C 9.78396739130435 19.8416773641421  9.3924365942029 20  8.94497282608696 20  C 8.50611413043478 20  8.11888586956522 19.8416773641421  7.78328804347826 19.5250320924262  L 6.81521739130435 18.5622593068036  C 6.48822463768116 18.2370560547711  6.32472826086957 17.8476679503637  6.32472826086957 17.3940949935815  C 6.32472826086957 16.9405220367993  6.48822463768116 16.551133932392  6.81521739130435 16.2259306803594  L 10.5971467391304 12.4646983311938  L 1.5101902173913 12.4646983311938  C 1.06272644927536 12.4646983311938  0.69916213768116 12.3042362002567  0.419497282608696 11.9833119383825  C 0.139832427536232 11.6623876765083  0 11.2751390671801  0 10.8215661103979  L 0 9.17843388960205  C 0 8.72486093281985  0.139832427536232 8.33761232349166  0.419497282608696 8.01668806161746  C 0.69916213768116 7.69576379974326  1.06272644927536 7.53530166880616  1.5101902173913 7.53530166880616  L 10.5971467391304 7.53530166880616  L 6.81521739130435 3.7612323491656  C 6.48822463768116 3.45314505776637  6.32472826086957 3.06803594351733  6.32472826086957 2.60590500641849  C 6.32472826086957 2.14377406931964  6.48822463768116 1.7586649550706  6.81521739130435 1.45057766367137  L 7.78328804347826 0.487804878048781  C 8.11028079710145 0.162601626016259  8.49750905797101 0  8.94497282608696 0  C 9.40104166666667 0  9.79257246376812 0.162601626016259  10.1195652173913 0.487804878048781  L 18.5224184782609 8.84467265725289  Z "
                                            stroke-width="2" stroke="#ffffff"
                                            fill="none"
                                            transform="matrix(1 0 0 1 930 1241 )"
                                            mask="url(#clip3)" />
                                    </g>
                                </svg></a>
                        <% } %>
                    <% } %>
                </div>
        </div>
    <% } %>
</div>