<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - MFA award cancel page</title>
    <%- include('../partials/headercss.ejs') %>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>
            <!-- Header pane starts here -->

            <!-- Header pane starts here -->

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">MFA</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mfaawards">MFA Awards</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Cancel MFA Award</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->

            <!-- Body header starts here -->
            <div class="govuk-body-cancel">
                <h1 class="govuk-heading-l">Cancel new MFA award</h1>

                <p class="govuk-body govuk-!-font-size-19 govuk-!-width-two-thirds">If you cancel, you will lose any
                    information that you’ve
                    already entered for this MFA award</p>
                <!-- Body header ends here -->
                <p class="govuk-body govuk-!-font-size-19">Are you sure you want to cancel?</p>

                <a href="/mfaawards">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Yes, cancel</button>
                </a>
                <a href="/mfaawardreview">
                    <button class="govuk-button govuk-button_sm govuk-button--secondary"
                        data-module="govuk-button">No</button>
                </a>
            </div>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('mfa-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>
</html>