<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - MFA Award details page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <style>
        .govuk-inative-status {
            float: left;
            width: 100%;
            padding: 1%;
        }
    </style>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>

    <div class="govuk-width-container ">

        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">MFA</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mfaawards">MFA Awards</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page"
                            href="#"><%= ssn.mfaAwardDetails.mfaAwardId %></a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl">
                            MFA award details
                        </h1>
                    </legend>
                </div>

            </div>

            <% if(nodata) { %>
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                data-module="govuk-error-summary">

                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a>No data available</a>
                        </li>

                    </ul>
                </div>
            </div>
            <% } else { %>
            <!-- Reject Message Block -->
            <% if( ssn.mfaAwardDetails.status =="Rejected" || ssn.mfaAwardDetails.status =="Deleted") { %>
                <div class="govuk-form-group app-example">
                    <div class="app-example__toolbar">
                        <label>Comments from approver</label>
                    </div>
                    <div class="app-example__frame">
                        <% if(ssn.mfaAwardDetails.status) { %>
                        <p> <%= ssn.mfaAwardDetails.reason %></p>
                        <% } else { %>
                        <p>The subsidy award reject reason not mentioned by the approver </p>
                        <% } %>
                    </div>
                </div>
            <% } %>
            <!-- Reject Message Block -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">
                        MFA award details
                    </h2>
                </div>
            </div>
            <!-- <h2 class="govuk-heading-m">
                Subsidy details
            </h2> -->

            <form action="/mfaawardapprovereject" method="POST">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            MFA award number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= ssn.mfaAwardDetails.mfaAwardNumber %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            SPEI assistance award
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= ssn.mfaAwardDetails.isSpeiAssistance %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            MFA grouping
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <% if(ssn.mfaAwardDetails.hasMfaGrouping){ %>
                                <a href="/mfagrouping?id=<%=ssn.mfaAwardDetails.mfaGroupingNumber%>"><%=ssn.mfaAwardDetails.mfaGroupingResponse.mfaGroupingName%> </a>
                            <% }else{ %>
                                <%= ssn.mfaAwardDetails.mfaGroupingNumber %>
                            <% } %> 
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Award full amount
                        </dt>
                        <dd class="govuk-summary-list__value">
                            £<%= ssn.mfaAwardDetails.awardAmountFormatted  %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Confirmation date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= ssn.mfaAwardDetails.confirmationDate  %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Published date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= ssn.mfaAwardDetails.publishedDate  %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Granting Authority
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= ssn.mfaAwardDetails.grantingAuthorityName  %>
                        </dd>
                    </div>
                </dl>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">
                            Recipient details
                        </h2>
                    </div>
                </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= ssn.mfaAwardDetails.recipientName  %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            ID Type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= ssn.mfaAwardDetails.recipientIdType   %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            ID number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= ssn.mfaAwardDetails.recipientIdNumber  %>
                        </dd>
                    </div>


                </dl>
                <% if(ssn.dashboard_roles != 'Granting Authority Encoder' && (ssn.dashboard_roles == 'BEIS Administrator' || ssn.dashboard_ga_name == ssn.mfaAwardDetails.grantingAuthorityName)) { %>
                <% if(ssn.mfaAwardDetails.status.toLowerCase() =="awaiting approval") { %>
                <input type="hidden" value="Yes" name="PublishAward">
                <button class="govuk-button" data-module="govuk-button" name="button_value" id="Award_status"
                    value="Published">
                    Approve and publish </button>
                <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="button_value"
                    id="Award_status" value="Rejected">
                    Reject </button>

                <% } %>
                <% if(ssn.mfaAwardDetails.status.toLowerCase() == "published" || ssn.mfaAwardDetails.status.toLowerCase() == "rejected") { %>
                <input type="hidden" value="No" name="PublishAward">
                <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="button_value"
                    id="Award_status" value="Deleted">
                    Delete </button>
                <% } %>
                <% } %>
                <% if(ssn.mfaAwardDetails.status.toLowerCase() == "rejected" && (ssn.dashboard_roles == 'BEIS Administrator' || ssn.dashboard_ga_name == ssn.mfaAwardDetails.grantingAuthorityName)) { %>
                <input type="hidden" value="Yes" name="PublishAward">
                <a href="/mfaawardedit?id=<%= ssn.mfaAwardDetails.mfaAwardNumber %>"" style="color : rgb(250, 245, 245); text-decoration: none"
                    class="govuk-button" data-module="govuk-button">Edit
                </a>
                <% } %>

                <a href="/mfaawards" class="govuk-button govuk-button--secondary" data-module="govuk-button">Back
                    to MFA awards list</a>
            </form>
            <% }  %>
        </main>

    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('mfa-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>