<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - MFA grouping <% if (button_value == "add_measure") { %> published <% } else { %> updated <% } %>
        successfully page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
            <%- include('../partials/navigationbar.ejs') %>


            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">MFA</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mfagroupings">MFA Groupings</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page"
                            href="#"><% if (button_value == "add_mfa_grouping") { %> Add <% } else { %> Update
                            <% } %> an MFA grouping</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds govuk-form-group">

                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            MFA grouping <% if (button_value == "add_mfa_grouping") { %> published <% } else { %> updated
                            <% } %>
                        </h1>
                        <div class="govuk-panel__body">
                            MFA grouping number <%=  ssn.MFA_Grouping_Number_Global %>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-full govuk-form-group">
                    <p class="govuk-body govuk-!-font-size-19" id="published-text">You have <% if (button_value == "add_mfa_grouping") { %> published <% } else { %> updated
                        <% } %> MFA grouping <%=  ssn.MFA_Grouping_Number_Global %></p>

                </div>
                <div class="govuk-grid-column-full govuk-form-group">
                    <a class="govuk-button" href="/mfagroupings" data-module="govuk-button">
                        View all MFA groupings
                    </a>

                    <a class="govuk-button" href="/mfagroupingadd" data-module="govuk-button" name="buttonvalue"
                        value="add_measure">Add another MFA grouping</a>

                </div>
            </div>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('mfa-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>

</body>

</html>