<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Delete MFA Grouping</title>
    <%- include('../partials/headercss.ejs') %>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">MFA</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mfagroupings">MFA Groupings</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page"
                            href="/mfagrouping?id=<%= ssn.mfaGroupingDetails.mfaGroupingNumber %>"><%= ssn.mfaGroupingDetails.mfaGroupingName %></a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Delete MFA grouping</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->

            <!-- Body header starts here -->
            <div class="govuk-body-cancel govuk-form-group">
                <h1 class="govuk-heading-l">Delete MFA grouping</h1>

                <p class="govuk-body govuk-!-font-size-19">If you delete this MFA grouping, the association to all MFA / SPEIA Awards will be removed.
                    Users will no longer be able to associate MFA / SPEIA awards to this MFA grouping. </p>
                <!-- Body header ends here -->
                <p class="govuk-body govuk-!-font-size-19">Are you sure you want to delete this MFA grouping?</p>

                <a href="/mfagroupingdeletesuccess" class="govuk-button govuk-button--secondary">
                    Yes, delete MFA grouping
                </a>
                <a href="/mfagrouping?id=<%=ssn.mfaGroupingDetails.mfaGroupingNumber%>"
                    class="govuk-button govuk-button_sm govuk-button--secondary" data-module="govuk-button">
                    Cancel
                </a>
            </div>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
    <script>
        document.getElementById('mfa-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>

</body>

</html>