<!DOCTYPE html>
<html lang="en">

<head>
    <% if(ssn.MFAGroupingErrors.length > 0 ) { %>
        <%if(isCallFromEditGrouping) {%>
            <title>Error - MFA Grouping <%= ssn.mfaGroupingDetails.mfaGroupingNumber %> - Manage UK subsidies - GOV.UK - <%=addOrEdit%> MFA Grouping page</title>
        <% } else { %>
            <title>Error - Manage UK subsidies - GOV.UK - <%=addOrEdit%> MFA Grouping page</title>
        <% } %>
    <% } else { %>
        <%if(isCallFromEditGrouping) {%>
            <title>MFA Grouping <%= ssn.mfaGroupingDetails.mfaGroupingNumber %>- Manage UK subsidies - GOV.UK - <%=addOrEdit%> MFA Grouping page</title>
        <% } else { %>
            <title>Manage UK subsidies - GOV.UK - <%=addOrEdit%> MFA Grouping page</title>
        <% } %>
    <% } %>
    <%- include('../partials/headercss.ejs') %>
</head>


<body class="govuk-template__body app-example-page"
    onload="getErrorList('<%=ssn.SubsidyArraySize%>','<%=ssn.Subsidy_Adhoc_Global%>'); checkEndDateCheckBox()">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>

            <!-- Header pane starts here -->
            <%- include('../partials/navigationbar.ejs') %>
            <!-- Header pane starts here -->
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">MFA</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mfagroupings">MFA Groupings</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#"><%=addOrEdit%> MFA Grouping</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <% if( ssn.MFAGroupingErrors.length > 0 ){ %>

            <div tabindex="-1" class="govuk-error-summary" id="error-alert" role="alert"
                aria-labelledby="error-summary-title" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>

                <div class="govuk-error-summary__body">
                    <% for(var i=0; i < ssn.MFAGroupingErrors.length  ; i++) {%>
                    <ul class="govuk-list govuk-error-summary__list">

                        <li> <a autofocus href="<%= ssn.MFAFocus[i] %>"> <%= ssn.MFAGroupingErrors[i] %> </a> </li>
                    </ul>
                    <% } %>
                </div>

            </div>

            <% } %>
            <!-- Body header starts here -->
            <% if(isCallFromEditGrouping){ %> 
                <h1 class="govuk-heading-xl">Edit MFA grouping <%= ssn.mfaGroupingDetails.mfaGroupingNumber %> </h1>
            <% }else{ %> 
                <h1 class="govuk-heading-xl">Add an MFA grouping</h1>
            <% } %> 
            <%- include('../partials/subsidy-database-requirements.ejs') %>
            <p class="govuk-body govuk-!-font-size-19">This section is for adding an MFA Grouping. To add a new MFA award, you can click <a href="/mfaawardadd" aria-label="Add MFA Award">here</a>.</p>
            <!-- Body header ends here -->

            <form action="/mfagroupingreview" method="POST" id="scheme-form">
                <section class="govuk-grid-row">
                <% if (isCallFromEditGrouping){ %> 
                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                        <label class="govuk-label" for="MFA_Grouping_Number">
                            MFA grouping number
                        </label>
                        <input class="govuk-input govuk-!-width-one-half" id="MFA_Grouping_Number"
                            name="MFA_Grouping_Number" type="text"
                            value="<%= ssn.mfaGroupingDetails.mfaGroupingNumber %>" disabled />
                    </div>
                <% } %> 


                <% if( ssn.MFA_Grouping_Name_Error || ssn.MFA_Grouping_Name_Length_Error ){ %>
                    <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                <% } else { %>
                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                <% }  %>
                    <label class="govuk-label" for="address-line-1">
                        MFA grouping name
                    </label>
                <% if( ssn.MFA_Grouping_Name_Length_Error ){ %>
                    <span class="govuk-error-message" id="MFA_Grouping_Name_Length_Error">
                        <span class="govuk-visually-hidden">Error:</span> MFA grouping name cannot be
                        greater than 255 characters
                    </span>
                <% } %>
                <% if( ssn.MFA_Grouping_Name_Error ){ %>
                    <span class="govuk-error-message" id="MFA_Grouping_Name_Error">
                        <span class="govuk-visually-hidden">Error:</span> You must provide an MFA grouping name
                    </span>
                <% } %>
                    <input class="govuk-input govuk-!-width-one-half" id="MFA_Grouping_Name"
                        name="MFA_Grouping_Name" type="text"
                        value="<%= ssn.MFA_Grouping_Name_Global %>">
                    </div>

                <% if( ssn.Granting_Authority_Name_Error || ssn.Granting_Authority_Name_Inactive_Error || ssn.Granting_Authority_Multiple_Error || ssn.Granting_Authority_Exists_Error) { %>
                    <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                        <label class="govuk-label" for="Granting_Authority_Name">
                            Public authority name
                        </label>
                        <% if(ssn.Granting_Authority_Name_Inactive_Error){ %>
                        <span class="govuk-error-message" id="Granting_Authority_Name_Error">
                            <span class="govuk-visually-hidden">Error:</span> Public authority is not active
                        </span>
                        <% } else { %>
                        <span class="govuk-error-message" id="Granting_Authority_Name_Error">
                            <span class="govuk-visually-hidden">Error:</span> Enter a public authority name
                        </span>
                        <% } %>
                        <% if(ssn.dashboard_roles == "BEIS Administrator") { %>
                        <input class="govuk-input govuk-!-width-one-half govuk-input--error"
                            id="Granting_Authority_Name" name="Granting_Authority_Name" type="text"
                            aria-describedby="Granting_Authority_Name"
                            <% if(ssn.Granting_Authority_Name_Global) {%>
                            value="<%= ssn.Granting_Authority_Name_Global %>" <% } %> />

                        <% } else { %>

                        <input class="govuk-input govuk-!-width-one-half govuk-input--error"
                            id="Granting_Authority_Name" name="Granting_Authority_Name" type="text"
                            aria-describedby="Granting_Authority_Name" value="<%= ssn.dashboard_ga_name %>"
                            disabled />
                        <% } %>
                    </div>
                    <% } else { %>

                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                        <label class="govuk-label" for="Granting_Authority_Name">
                            Public authority name
                        </label>

                        <% if(ssn.dashboard_roles == "BEIS Administrator") { %>
                        <input class="govuk-input govuk-!-width-one-half" id="Granting_Authority_Name"
                            name="Granting_Authority_Name" type="text" aria-describedby="Granting_Authority_Name"
                            <% if(ssn.Granting_Authority_Name_Global) {%>
                            value="<%= ssn.Granting_Authority_Name_Global %>" <% } %> />

                        <% } else { %>

                        <input class="govuk-input govuk-!-width-one-half" id="Granting_Authority_Name"
                            name="Granting_Authority_Name" type="text" aria-describedby="Granting_Authority_Name"
                            value="<%= ssn.dashboard_ga_name %>" disabled />
                        <% } %>
                    </div>
                    <% }  %>

                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                        <button class="govuk-button" data-module="govuk-button" name="buttonvalue" value="Continue">Continue</button>
                        <button class="govuk-link govuk-cancel-button-link" data-module="govuk-button" name="buttonvalue" value="Cancel"
                            style="background: transparent;cursor:pointer;
                                border: 0;color: #1d70b8;  outline: 0px solid transparent;    box-shadow: 0 0px #fd0, 0 0px #0b0c0c;
                                    text-decoration: underline;">Cancel</button>
                    </div>
                </section>
            </form>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
    <script>
        document.getElementById('mfa-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>