<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Admin Program Review details page</title>
    <%- include('../partials/headercss.ejs') %>
</head>


<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/adminprograms">Admin Programs</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#"><%=addOrEdit%> Admin Program</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl">Review admin program before publishing</h1>

                    <!-- *************************************
              Review for subsidy details tab
              ************************************* -->

                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">Admin program details
                    </h2>
                    <a rel="external" aria-label="Change admin program details"
                        class="govuk-link head-right govuk-relative-position" href="/adminprogramaddreview">
                        <p>Change </p>
                    </a>
                </div>
            </div>
            <section class="govuk-table-responsive">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <% if (isCallFromEdit){ %> 
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header govuk-!-width-one-half">Admin program number</th>
                                <td class="govuk-table__cell"><%= ssn.adminProgramDetails.apNumber %></td>
                            </tr>
                        <% } %> 
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidy control number</th>
                            <td class="govuk-table__cell"><%= ssn.Subsidy_Control_Number_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Streamlined Route or primary public authority scheme name</th>
                            <td class="govuk-table__cell"><%= ssn.Subsidy_Measure_Title_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Admin program name</th>
                            <td class="govuk-table__cell"><%= ssn.Admin_Program_Name_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Public authority name</th>
                            <td class="govuk-table__cell"><%= ssn.Granting_Authority_Name_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Budget of the grouping of subsidy awards</th>
                            <td class="govuk-table__cell"><%= ssn.Admin_Program_Budget_Formatted_Global %></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <div class="govuk-grid-row">
                    <form action="/adminprogrampublished" class="govuk-grid-column-full" method="POST" novalidate>
                    <input type="hidden" name="answers-checked" value="true">

                <% if (isCallFromEdit){ %> 
                    <button class="govuk-button" name="button_value" value="update" data-module="govuk-button">
                        Update admin program
                    </button>
                <% }else{ %> 
                    <button class="govuk-button" name="button_value" value="add" data-module="govuk-button">
                        Publish admin program
                    </button>
                <% } %> 
                    <a href="/adminprogramcancelreview" class=" govuk-link govuk-cancel-button-link">Cancel</a>

                </form>


            </div>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('admin-program-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>