<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Admin program details page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <style>
        .govuk-inative-status {
            float: left;
            width: 100%;
            padding: 1%;
        }
    </style>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>

    <div class="govuk-width-container ">

        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/adminprograms">Admin programs</a>
                    </li>
                    <% if(!noresult) { %>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page"
                            href="#"><%= ssn.adminProgramDetails.apNumber %></a>
                    </li>
                    <% } %>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl">
                            Admin program details
                        </h1>
                    </legend>
                </div>

            </div>

            <% if(noresult) { %>
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                  data-module="govuk-error-summary">
        
                  <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                      <li>
        
                        <a aria-label="<%= nodata%>"><%= nodata %></a>
                      </li>
        
                    </ul>
        
                  </div>
                </div>
                <a href="/adminprograms" class="govuk-button govuk-button--secondary" data-module="govuk-button">Back to admin program list</a>
              <% } else { %>
            <!-- Reject Message Block -->
            <% if( ssn.adminProgramDetails.status == "Deleted") { %>
                <div class="govuk-form-group app-example govuk-inative-status">
                    <div class="app-example__toolbar">
                        <label>This admin program has been deleted</label>
                    </div>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Deleted by
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <%= ssn.adminProgramDetails.deletedBy %>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Deleted date/time
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <%= ssn.adminProgramDetails.deletedTimestamp %>
                            </dd>
                        </div>
                    </dl>
                </div>
            <% } %>
            <!-- Reject Message Block -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">
                        Admin program details
                    </h2>
                </div>
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Admin program number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.adminProgramDetails.apNumber %>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Admin program name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.adminProgramDetails.adminProgramName %>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Admin program budget
                    </dt>
                    <dd class="govuk-summary-list__value">
                        £<%= ssn.adminProgramDetails.budgetFormatted %>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Subsidy scheme number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="/editreviewsubsidymeasure?scheme=<%=ssn.adminProgramDetails.subsidyMeasure.scNumber%>"><%=ssn.adminProgramDetails.subsidyMeasure.scNumber%> </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Subsidy scheme name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.adminProgramDetails.subsidyMeasure.subsidyMeasureTitle  %>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Public Authority
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.adminProgramDetails.gaName  %>
                    </dd>
                </div>
            </dl>

            <div class="govuk-grid-row" id="adminProgramAwardsWrapper">
                <div class="govuk-grid-column-three-quarters">
                        <h1 class="govuk-heading-xl">Awards</h1>
                </div>    

                <% if(ssn.adminProgramDetails.awardResponseList.length > 0){ %> 
                <div class="govuk-grid-column-full">
                    <table id="adminProgramAwardsTable " class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Award number</th>
                                <th scope="col" class="govuk-table__header">Scheme name</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                                <th scope="col" class="govuk-table__header">Recipient</th>
                                <th scope="col" class="govuk-table__header">Public authority</th>
                                <th scope="col" class="govuk-table__header">Subsidy amount</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <% ssn.adminProgramDetails.awardResponseList.forEach(function(item) { %>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><a href="/subsidyawardfetch/?award=<%= item.awardNumber %>"><%= item.awardNumber %></a></td>
                                    <td class="govuk-table__cell"><%= item.subsidyMeasure.subsidyMeasureTitle %> </td>
                                    <td class="govuk-table__cell"><%= item.status %> </td>
                                    <td class="govuk-table__cell"><%= item.beneficiary.beneficiaryName %> </td>
                                    <td class="govuk-table__cell"><%= item.grantingAuthorityResponse.grantingAuthorityName %> </td>
                                    <td class="govuk-table__cell">
                                        <% if (item.subsidyInstrument == "Tax measures (tax credit, or tax/duty exemption)") { %>
                                            <%= item.subsidyFullAmountRange %>
                                        <% } else { %>
                                            £<%= item.subsidyFullAmountExact %>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }); %> 
                        </tbody>
                    </table>
                </div>
                <% }else{ %> 
                    <div class="govuk-error-summary govuk-grid-column-three-quarters" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                    data-module="govuk-error-summary">
            
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                There are no awards assocaited to this admin program
                            </li>
                        </ul>
                    </div>
                    </div>
                <% } %> 
            </div> <!-- Awards Wrapper End -->

            <% if (ssn.adminProgramDetails.canDelete && ssn.adminProgramDetails.status != "Deleted") { %>
                <a class="govuk-button govuk-button--warning" href="/adminprogramdelete" data-module="govuk-button" style="float:right">
                    Delete
                </a>
            <% } %>
            <% if(ssn.adminProgramDetails.canEdit) { %>
            <input type="hidden" value="Yes" name="PublishAward">
            <a href="/adminprogramedit?id=<%= ssn.adminProgramDetails.apNumber %>"" style="color : rgb(250, 245, 245); text-decoration: none"
                class="govuk-button" data-module="govuk-button">Edit
            </a>
            <% } %>

            <a href="/adminprograms" class="govuk-button govuk-button--secondary" data-module="govuk-button">Back to admin program list</a>
            <% }  %>
        </main>

    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('admin-program-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>