<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Cookies help page</title>
    <%- include('../partials/headercss.ejs') %>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                    us to improve
                    it.
                </span>
            </p>
        </div>
        <main id="main-content" role="main">
            
            <%- include('../partials/navigationbar.ejs') %>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-notification-banner govuk-notification-banner--success govuk-visually-hidden" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" id="cookie-preference-saved">
                        <div class="govuk-notification-banner__header">
                          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Success
                          </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                        
                          <h3 id="cookie-preference-saved-heading" class="govuk-notification-banner__heading" tabindex="-1">
                              Your cookie settings were saved
                            </h3>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-beis-heading">
                <h1 class="govuk-heading-l">Cookies on GOV.UK</h1>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a
                        website.</p>

                    <p class="govuk-body"> We use cookies to store information about how you use the GOV.UK website,
                        such as the pages you
                        visit.</p>
                    <h2 class="govuk-heading-m">Cookie settings</h2>
                    <p class="govuk-body">We use 2 types of cookie. You can choose which cookies you're happy for us to use.</p>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="hint-67769e61">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-fieldset__heading">Cookies that measure website use</h2>
                            </legend>


                            <div id="hint-67769e61" class="gem-c-hint govuk-!-margin-bottom-3">
                                <p class="govuk-body">We use Google Analytics to measure how you use the website so we can improve it based on user needs.
                                    We do not allow Google to use or share the data about how you use this site.
                                </p>
                                <p class="govuk-body">Google Analytics sets cookies that store anonymised information about:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>how you got to the site</li>
                                    <li>the pages you visit on GOV.UK and government digital services, and how long you spend on each page</li>
                                    <li>what you click on while you're visiting the site</li>
                                </ul>
                            </div>

                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Name</th>
                                    <th scope="col" class="govuk-table__header">Purpose</th>
                                    <th scope="col" class="govuk-table__header">Expiry</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">_ga</th>
                                    <td class="govuk-table__cell">These help us count how many people visit GOV.UK and other government digital services by tracking if you've visited before</td>
                                    <td class="govuk-table__cell">2 years</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">_gid</th>
                                    <td class="govuk-table__cell">These help us count how many people visit GOV.UK and other government digital services by tracking if you've visited before</td>
                                    <td class="govuk-table__cell">24 hours</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">_gat</th>
                                    <td class="govuk-table__cell">Used to limit request to Google Analytics</td>
                                    <td class="govuk-table__cell">10 mins</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">_ga_K8BQX93J</th>
                                    <td class="govuk-table__cell">Used by Google Analytics to find and track an individual session with your device</td>
                                    <td class="govuk-table__cell">2 years</td>
                                    </tr>
                                </tbody>
                                </table>

                            <div class="govuk-radios">
                                <div class="gem-c-radio govuk-radios__item">
                                    <input type="radio" name="cookies-usage" id="cookies-analytics" value="on"
                                        class="govuk-radios__input">

                                    <label for="cookies-analytics"
                                        class="gem-c-label govuk-label govuk-radios__label">Use cookies that measure my website use</label>
                                </div>

                                <div class="gem-c-radio govuk-radios__item">
                                    <input type="radio" name="cookies-usage" id="cookies-analytics-2" value="off"
                                        class="govuk-radios__input">

                                    <label for="cookies-analytics-2"
                                        class="gem-c-label govuk-label govuk-radios__label">Do not use cookies that measure my website use</label>
                                </div>

                            </div>
                        </fieldset>
                    </div>

                    <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

                        <h2>Strictly necessary cookies</h2>
                        <p>These essential cookies do things like remember your progress through a form (for example a licence application)</p>
                        <p>They always need to be on.</p>
                    </div>
                    <button class="gem-c-button govuk-button" type="submit" id="cookie-pref-save">Save changes</button>
                </div>
            </div>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/jquery.min.js"></script>
    <script src="/assets/javascripts/application.js"></script>
</body>

</html>