<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - BEIS Admin Dashboard</title>
  <%- include('../partials/headercss.ejs') %>
  <link href="/assets/stylesheet/govuk-transparencyDb.css" rel="stylesheet" type="text/css" />
</head>
<!-- <script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
<script type="text/javascript" src="/assets/javascripts/script.js" defer></script>
<script src="/assets/javascripts/vendor/modernizr.js"></script> -->

<!-- <%- include('../partials/headersubsidy.ejs') %> -->

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <nav aria-label="Sub navigation">
            <ul class="govuk-sub-navigation__list">
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                  Granting Authorities
                </a>
              </li>

              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/manageusers">
                  Users
                </a>
              </li>

              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                  Subsidy Schemes
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                  Subsidy awards
                </a>
              </li>

              <li class="govuk-sub-navigation__item head-right">
                <a class="govuk-sub-navigation__link" href="/logintransparency">
                  Sign out
                </a>
              </li>
              <li class="govuk-sub-navigation__item head-right">
                <a class="govuk-sub-navigation__link" href="/logintransparency">
                  My account
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="govuk-beis-heading">
        <legend class="form-group">
          <h2>Dashboard</h2>
        </legend>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l form-group">
          <h1 class="govuk-fieldset__heading"><%= dashboard_user_name %></h1>
        </legend>
      </div>

      <div class=" govuk-border-top">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l form-group">
          <h2 class="govuk-fieldset_sub-heading">Users</h2>
        </legend>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-charts govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                20
              </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                All users in Cardiff Council</p>
            </div>

          </div>
          <div class="govuk-grid-column-one-half govuk-charts govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                16
              </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Encoders</p>
            </div>

          </div>


        </div>
        <div class="govuk-addGA form-group">
          <button class="govuk-button govuk-button--success" id="getFilterTags">
            View all Users
          </button>

        </div>
        <!-- <table class="govuk-table">
        <caption class="govuk-table__caption govuk-GA-heading">
          Last 5 updated granting authorities by users
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">User name</th>
            <th scope="col" class="govuk-table__header">
              Granting Authority name
            </th>
            <th scope="col" class="govuk-table__header">Role</th>
            <th scope="col" class="govuk-table__header">Created on</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Rachael Cole</td>
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Adur District Council</a>
            </td>
            <td class="govuk-table__cell">Granting Authority Admin</td>
            <td class="govuk-table__cell">12 :34 - 11 November 2020</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Claire Smith</td>
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Bath and North East Somerset Council</a>
            </td>
            <td class="govuk-table__cell">Granting Authority Approver</td>
            <td class="govuk-table__cell">14:32 - 10 November 2020</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Andrew Davis</td>
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Cardiff Council</a>
            </td>
            <td class="govuk-table__cell">Granting Authority Encoder</td>
            <td class="govuk-table__cell">9:56 - 9 November 2020</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Michelle Bowman</td>
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Cheltenham Borough Council</a>
            </td>
            <td class="govuk-table__cell">Granting Authority Encoder</td>
            <td class="govuk-table__cell">15:02 - 7 November 2020</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mark Jones</td>
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Cotswold District Council</a>
            </td>
            <td class="govuk-table__cell">Granting Authority Encoder</td>
            <td class="govuk-table__cell">10:08 - 4 November 2020</td>
          </tr>
        </tbody>
      </table> -->
      </div>
      <div class="govuk-border-top">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l form-group">
          <h2 class="govuk-fieldset_sub-heading">Subsidy schemes</h2>
        </legend>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalSubsidyMeasures %> </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">Total subsidy
                schemes</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalAwaitingSubsidyMeasures %> </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Awaiting approval</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-third govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalPublishedSubsidyMeasures %> </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Published</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-third govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalDraftSubsidyMeasures %>
              </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Rejected</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-third govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalDeletedSubsidyMeasures %>
              </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Inactive</p>
            </div>
          </div>

        </div>
        <div class="govuk-addGA form-group">
          <button class="govuk-button govuk-button--success" id="getFilterTags">
            View all subsidy schemes
          </button>
          <button class="govuk-button govuk-button--success" id="getFilterTags">
            Add a new subsidy scheme
          </button>
        </div>
        <!-- <table class="govuk-table">
        <caption class="govuk-table__caption govuk-GA-heading">
          My 5 last updated subsidy measures
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Subsidy name</th>
            <th scope="col" class="govuk-table__header">
              Subsidy control no.
            </th>
            <th scope="col" class="govuk-table__header">
              Granting authority
            </th>
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
            <th scope="col" class="govuk-table__header">Duration</th>
            <th scope="col" class="govuk-table__header">Budget</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Air discount scheme</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Wholesale and retail trade; repair of motor vehicles and
              motorcycles
            </td>
            <td scope="row" class="govuk-table__cell">1 December 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£632,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="#" class="govuk-editGA">High-end television tax relief - United Kingdom</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Agriculture, forestry and fishing​
            </td>
            <td scope="row" class="govuk-table__cell">1 November 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£470,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Air discount scheme</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Agriculture, forestry and fishing​
            </td>
            <td scope="row" class="govuk-table__cell">1 October 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£500,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Air discount scheme</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Wholesale and retail trade; repair of motor vehicles and
              motorcycles
            </td>
            <td scope="row" class="govuk-table__cell">1 September 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£632,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">
              <a href="" class="govuk-editGA">Air discount scheme</a>
            </td>
            <td class="govuk-table__cell">SC12345</td>
            <td class="govuk-table__cell">
              Wholesale and retail trade; repair of motor vehicles and
              motorcycles
            </td>
            <td scope="row" class="govuk-table__cell">1 August 2020</td>
            <td class="govuk-table__cell">1 January 2021</td>
            <td class="govuk-table__cell">1 year</td>
            <td class="govuk-table__cell">£632,000</td>
          </tr>
        </tbody>
      </table> -->
      </div>
      <div class="govuk-border-top">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l form-group">
          <h2 class="govuk-fieldset_sub-heading">Subsidy Awards</h2>
        </legend>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalSubsidyAward %>
              </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Total subsidy awards</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalAwaitingAward %>
              </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Awaiting approval</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-third govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalPublishedAward %>
              </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Published</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-third govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalDraftAward %>
              </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Rejected</p>
            </div>


          </div>
          <div class="govuk-grid-column-one-third govuk-form-group">
            <div class="govuk-background">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalDeletedAward %>
              </legend>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Inactive</p>
            </div>
          </div>
        </div>
        <div class="govuk-addGA form-group">
          <button class="govuk-button govuk-button--success" id="getFilterTags">
            View all subsidy award
          </button>
          <button class="govuk-button govuk-button--success btn-md" id="getFilterTags">
            Add a new subsidy award
          </button>
        </div>

      </div>
    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
  <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  <!-- <script src="/assets/javascripts/accordion/govuk-frontend.js"></script> -->

</html>