<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - GA Approver Dashboard page</title>
  <%- include('../partials/headercss.ejs') %>

  <link href="/assets/stylesheet/govuk-transparencyDb.css" rel="stylesheet" type="text/css" />
</head>

<!-- <%- include('../partials/headersubsidy.ejs') %> -->

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%- include('../partials/cookies-consent.ejs') %>
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container">
    <main id="main-content" role="main">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
            us to improve it.
          </span>
        </p>
      </div>
      <%- include('../partials/navigationbar.ejs') %>

      <div class="govuk-beis-heading">
        <h1 class="govuk-heading-l" id="dashboard">Dashboard</h1>
        <h2 class="govuk-heading-xl"><%= ssn.dashboard_user_name %></h2>

      </div>


      <h3 class="govuk-heading-l">Subsidy awards</h3>

      <div class="govuk-grid-row" id="subsidy-awards-dashboard-card">
        <div class="govuk-grid-column-one-half govuk-form-group">
          <div class="govuk-background">
            <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
              <%= dashboardawards.awardUserActionCount.totalSubsidyAward %>
            </p>
            <a href="/mysubsidyawards" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Total subsidy awards
            </a>
          </div>
        </div>
        <div class="govuk-grid-column-one-half govuk-form-group">
          <div class="govuk-background">
            <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
              <%= dashboardawards.awardUserActionCount.totalAwaitingAward %>
            </p>
            <a href="/mysubsidyawards?sort=Awaiting Approval" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Awaiting approval
            </a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
              <%= dashboardawards.awardUserActionCount.totalPublishedAward %>
            </p>
            <a href="/mysubsidyawards?sort=Published" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Published
            </a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
              <%= dashboardawards.awardUserActionCount.totalRejectedAward %>
            </p>
            <a href="/mysubsidyawards?sort=Rejected" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Rejected
            </a>
          </div>
        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
              <%= dashboardawards.awardUserActionCount.totalDeleteAward %>
            </p>
            <a href="/mysubsidyawards?sort=Deleted" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Deleted
            </a>
          </div>
        </div>

      </div>
      <div class=" form-group">
        <a href="/mysubsidyawards" class="govuk-button govuk-button--success">
          View all subsidy awards
        </a>
        <a href="/addsubsidyaward" class="govuk-button govuk-button--success">
          Add a new subsidy award
        </a>
      </div>

      <div class="govuk-border-top" id="subsidy-schemes-dashboard-card">

        <h3 class="govuk-heading-l">Subsidy schemes</h3>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalSubsidyScheme %>
              </p>
              <a href="/mysubsidymeasures" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                  Total subsidy schemes
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalActiveScheme %>
              </p>
              <a href="/mysubsidymeasures?sort=Active" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                  Active
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalInactiveScheme %>
              </p>
              <a href="/mysubsidymeasures?sort=Inactive" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                  Inactive
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalDeletedScheme %>
              </p>
              <a href="/mysubsidymeasures?sort=Deleted" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                  Deleted
              </a>
            </div>
          </div>
        </div>
        <div class=" form-group">
          <a href="/mysubsidymeasures" class="govuk-button govuk-button--success">
            View all subsidy schemes
          </a>
          <a href="/addsubsidymeasures" class="govuk-button govuk-button--success">
            Add a new subsidy scheme
          </a>
        </div>

      </div>

      <div class="govuk-border-top" id="users-dashboard-card">

        <h3 class="govuk-heading-l">Users</h3>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= gaTotalCount_Global %>
              </p>
              <a id="users-page-link" href="/userselect" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Total active users in <%= ssn.dashboard_ga_name %>
             </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%=gaAdminCount_Global%>
              </p>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">Administrators</p>
            </div>
          </div>

          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%=gaApproverCount_Global%>
              </p>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">Approver</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%=gaEncoderCount_Global%>
              </p>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">Encoders</p>
            </div>
          </div>
        </div>
        <div class=" form-group">
          <a class="govuk-button govuk-button--success" href="/userselect">
            View all users
          </a>

        </div>

      </div>


    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
  <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  <!-- <script src="/assets/javascripts/accordion/govuk-frontend.js"></script> -->

</html>