<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - BEIS Admin Dashboard page</title>
  <%- include('../partials/headercss.ejs') %>

  <link href="/assets/stylesheet/govuk-transparencyDb.css" rel="stylesheet" type="text/css" />
</head>


<!-- <script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
<script type="text/javascript" src="/assets/javascripts/script.js" defer></script>
<script src="/assets/javascripts/vendor/modernizr.js"></script> -->

<!-- <%- include('../partials/headersubsidy.ejs') %> -->

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%- include('../partials/cookies-consent.ejs') %>

  <%- include('../partials/header.ejs') %>

  <div class="govuk-width-container">
    <main id="main-content" role="main">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
            us to improve it.
          </span>
        </p>
      </div>
      <%- include('../partials/navigationbar.ejs') %>

      <div class="govuk-beis-heading">
        <h1 class="govuk-heading-l" id="dashboard">Dashboard</h1>
        <!--  -->
        <h2 class="govuk-heading-xl"><%= ssn.dashboard_user_name %></h2>
        <!-- </legend> -->
      </div>
      <!--  -->
      <h3 class="govuk-heading-l" >Public authorities</h3>
      <!-- </legend> -->
      <div class="govuk-grid-row" id="public-authorities-dashboard-card">
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">
            <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
              <%= dashboardawards.grantingAuthorityUserActionCount.totalGrantingAuthority %>
            </p>
            <a href="/mygrantingauthority" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
              Total public authorities
            </a>
        </div>
        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">

            <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
              <%= dashboardawards.grantingAuthorityUserActionCount.totalActiveGA %>
            </p>
            <a href="/mygrantingauthority?status=Active"
            class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
           <span aria-hidden="true">Active</span>
           <span class="govuk-visually-hidden">
             <%= dashboardawards.grantingAuthorityUserActionCount.totalActiveGA %> active public authorities
           </span>
         </a>

         <% const activeAwardCount = dashboardawards.grantingAuthorityUserActionCount.totalActiveGA; %>

        <a href="/mygrantingauthority?status=Active" 
          class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
          Active
          <span class="govuk-visually-hidden"> - <%= activeAwardCount %> active public authorities</span>
        </a>
 
          </div>
        </div>

        <div class="govuk-grid-column-one-third govuk-form-group">
          <div class="govuk-background">

            <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
              <%= dashboardawards.grantingAuthorityUserActionCount.totalDeactiveGA %>
            </p>
            <% const inactiveSchemesCount = dashboardawards.grantingAuthorityUserActionCount.totalDeactiveGA; %>

            <a href="/mygrantingauthority?status=Inactive" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Inactive
                <span class="govuk-visually-hidden"> - <%= inactiveSchemesCount %> inactive public authorities</span>
            </a>
          </div>
        </div>

      </div>
      <div class=" form-group">
        <a href="/mygrantingauthority" class="govuk-button govuk-button--success">
          View all public authorities
        </a>
        <a href="/addgrantingauthority" class="govuk-button govuk-button--success">
          Add public authority
        </a>
      </div>

      <div class="govuk-border-top" id="users-dashboard-card">

        <h3 class="govuk-heading-l">Users</h3>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <!-- <label>Deactive</label>
            <p>Total granting authorities that are not active</p> -->
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= gaTotalCount_Global %>
              </p>
              <a id="users-page-link" href="/userselect" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                 Total active users
              </a>
            </div>
          </div>

          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <!-- <label>Deactive</label>
            <p>Total granting authorities that are not active</p> -->
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= gaAdminCount_Global %>
              </p>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Administrators
              </p>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <!-- <label>Deactive</label>
            <p>Total granting authorities that are not active</p> -->
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= gaApproverCount_Global %>
              </p>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">Approvers</p>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <!-- <label>Deactive</label>
            <p>Total granting authorities that are not active</p> -->
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= gaEncoderCount_Global %>
              </p>
              <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">Encoders</p>
            </div>
          </div>
        </div>
        <div class=" form-group">
          <a href="/userselect" class="govuk-button govuk-button--success">
            View all users
          </a>
          <a href="/adduser" class="govuk-button govuk-button--success btn-md">
            Add a new user
          </a>
        </div>

      </div>
      <div class="govuk-border-top" id="subsidy-schemes-dashboard-card">
        <h3 class="govuk-heading-l">Subsidy schemes</h3>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalSubsidyScheme %>
              </p>

              <a href="/mysubsidymeasures" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                  Total subsidy schemes

              </a>
            </div>
          </div>

          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalActiveScheme %>
              </p>
              <% const activeSchemeCount = dashboardawards.subsidyMeasureUserActionCount.totalActiveScheme; %>

              <a href="/mysubsidymeasures?sort=Active" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                  Active
                  <span class="govuk-visually-hidden"> - <%= activeSchemeCount %> active subsidy scheme(s)</span>

              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalInactiveScheme %>
              </p>
              <% const inactiveSchemeCount = dashboardawards.subsidyMeasureUserActionCount.totalInactiveScheme; %>
              <a href="/mysubsidymeasures?sort=Inactive" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                  Inactive
                  <span class="govuk-visually-hidden"> - <%= inactiveSchemeCount %> inactive subsidy scheme(s)</span>
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.subsidyMeasureUserActionCount.totalDeletedScheme %>
              </p>
              <% const deletedCount = dashboardawards.subsidyMeasureUserActionCount.totalDeletedScheme; %>

              <a href="/mysubsidymeasures?sort=Deleted" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                  Deleted
                  <span class="govuk-visually-hidden"> - <%= deletedCount %> deleted subsidy scheme(s)</span>
              </a>
            </div>
          </div>
        </div>

        <div class=" form-group">
          <a href="/mysubsidymeasures" class="govuk-button govuk-button--success">
            View all subsidy schemes
          </a>
          <a href="/addsubsidymeasures" class="govuk-button govuk-button--success">
            Add a new subsidy scheme
          </a>
        </div>

      </div>
      <div class="govuk-border-top" id="subsidy-awards-dashboard-card">

        <h3 class="govuk-heading-l">Subsidy awards</h3>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <!-- <label>Deactive</label>
            <p>Total granting authorities that are not active</p> -->
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalSubsidyAward %>
              </p>
              <a href="/mysubsidyawards" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Total subsidy awards
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-half govuk-form-group">
            <div class="govuk-background">
              <!-- <label>Deactive</label>
            <p>Total granting authorities that are not active</p> -->
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalAwaitingAward %>
              </p>
              <% const awardsAwaitingApproval = dashboardawards.awardUserActionCount.totalAwaitingAward; %>

              <a href="/mysubsidyawards?sort=Awaiting Approval" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Awaiting approval
                <span class="govuk-visually-hidden"> - <%= awardsAwaitingApproval %> Awards awaiting approval</span>
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-third govuk-form-group">
            <div class="govuk-background">
              <!-- <label>Deactive</label>
            <p>Total granting authorities that are not active</p> -->
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalPublishedAward %>
              </p>
              <% const awardsPublished = dashboardawards.awardUserActionCount.totalPublishedAward; %>

              <a href="/mysubsidyawards?sort=Published" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Published
                <span class="govuk-visually-hidden"> - <%= awardsPublished %> Awards published</span>
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-third govuk-form-group">
            <div class="govuk-background">
              <!-- <label>Deactive</label>
            <p>Total granting authorities that are not active</p> -->
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalRejectedAward %>
              </p>
              <% const awardsRejected = dashboardawards.awardUserActionCount.totalRejectedAward; %>
              <a href="/mysubsidyawards?sort=Rejected" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Rejected
                <span class="govuk-visually-hidden"> - <%= awardsRejected %> Awards rejected</span>
              </a>
            </div>
          </div>
          <div class="govuk-grid-column-one-third govuk-form-group">
            <div class="govuk-background">
              <!-- <label>Deactive</label>
            <p>Total granting authorities that are not active</p> -->
              <p class="govuk-body govuk-!-font-weight-bold govuk-total-count">
                <%= dashboardawards.awardUserActionCount.totalDeleteAward %>
              </p>
              <% const awardsDeleted = dashboardawards.awardUserActionCount.totalDeleteAward; %>
              <a href="/mysubsidyawards?sort=Deleted" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-description-text">
                Deleted
                <span class="govuk-visually-hidden"> - <%= awardsDeleted %> Awards deleted</span>
              </a>
            </div>
          </div>

        </div>
        <div class=" form-group">
          <a href="/mysubsidyawards" class="govuk-button govuk-button--success">
            View all subsidy awards
          </a>
          <a href="/addsubsidyaward" class="govuk-button govuk-button--success btn-md">
            Add a new subsidy award
          </a>
        </div>

      </div>

      <div class="govuk-border-top" id="audit-log-dashboard-card">

        <h3 class="govuk-heading-l">Audit log</h3>

        <div class=" form-group">
          <a href="/audithomepage" class="govuk-button govuk-button--success">
            Manage audit log
          </a>
        </div>
        <section class="govuk-table-responsive">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-GA-heading">
              Recent user activity
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">User name</th>
                <th scope="col" class="govuk-table__header">
                  Public authority
                </th>
                <th scope="col" class="govuk-table__header">Action</th>
                <th scope="col" class="govuk-table__header">Action date</th>
              </tr>
            </thead>
            <!-- <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-editGA"> Mark Smith</a>
                </td>
                <td class="govuk-table__cell">Cardiff Council</td>

                <td class="govuk-table__cell">Action description goes here</td>

                <td class="govuk-table__cell">11 December 2020</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-editGA"> Claire Johnson</a>
                </td>
                <td class="govuk-table__cell">Cardiff Council</td>

                <td class="govuk-table__cell">Action description goes here</td>

                <td class="govuk-table__cell">10 December 2020</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-editGA">David Williamson</a>
                </td>
                <td class="govuk-table__cell">Cardiff Council</td>

                <td class="govuk-table__cell">Action description goes here</td>

                <td class="govuk-table__cell">9 December 2020</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-editGA"> 123456</a>
                </td>
                <td class="govuk-table__cell">Cardiff Council</td>

                <td class="govuk-table__cell">Action description goes here</td>

                <td class="govuk-table__cell">8 December 2020</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="#" class="govuk-editGA">328456</a>
                </td>
                <td class="govuk-table__cell">Cardiff Council</td>

                <td class="govuk-table__cell">Action description goes here</td>

                <td class="govuk-table__cell">6 December 2020</td>
              </tr>
            </tbody> -->
            <tbody class="govuk-table__body">
              <% searchAudits.forEach(function(item) { %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= item.userName %></td>
                <td class="govuk-table__cell"><%= item.gaName %></td>
                <td class="govuk-table__cell"><%= item.eventMessage %></td>
                <td class="govuk-table__cell"><% var date = item.actionDateTime.split("-") %>
                  <%= date[2] %>
                  <% var stringMonth = date[1] < 10 ? date[1].split("").pop() : date[1] %>
                  <% var month = [
                  "January",
                  "February",
                  "March",
                  "April",
                  "May",
                  "June",
                  "July",
                  "August",
                  "September",
                  "October",
                  "November",
                  "December",
                ];%>
                  <% var months = month[stringMonth - 1] %>
                  <%= months  %>
                  <%= date[0]  %></td>
              </tr>
              <% } ); %>
            </tbody>
          </table>
        </section>
      </div>
    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
  <!-- <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script> -->
  <!-- <script src="/assets/javascripts/accordion/govuk-frontend.js"></script>
<script src="/assets/javascripts/accordion/example.js"></script> -->


</html>