<!DOCTYPE html>
<html lang="en">

<head>
    <% if(review == 'true') { %>
    <title>GOV.UK - Public authority updated successfully page</title>
    <% } else { %>
    <title>GOV.UK - Public authority added successfully page</title>
    <% } %>
    <%- include('../partials/headercss.ejs') %>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>
            <!-- <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>

                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>

                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Sign out
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div> -->

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mygrantingauthority">Public Authority</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Add public authority</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds govuk-form-group">
                    <% if(review == 'true') { %>
                    <h1 class="govuk-heading-xl">Edit public authority</h1>
                    <% } else { %>
                    <h1 class="govuk-heading-xl">Add public authority</h1>
                    <% } %>
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            <% if(review == 'true') { %>
                            Public authority updated
                            <% } else { %>
                            Public authority added
                            <% } %>
                        </h1>
                        <div class="govuk-panel__body">
                            ID <strong><%=ssn.gaID_extract%></strong>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-full govuk-form-group">
                    <% if(review == 'true') { %>
                    <p class="govuk-body govuk-!-font-size-19">You have updated public authority
                        <%=ssn.gaID_extract%>.
                    </p>
                    <% } else { %>
                    <p class="govuk-body govuk-!-font-size-19">You have added public authority <%=ssn.gaID_extract%>.
                    </p>
                    <p class="govuk-body govuk-!-font-size-19">You can now <a href="/adduser?newuser=yes">add users</a>
                        to this
                        public authority.</p>
                    <% } %>
                </div>
                <div class="govuk-grid-column-full govuk-form-group">

                    <a class="govuk-button" href="/mygrantingauthority" data-module="govuk-button">
                        View all public authorities
                    </a>
                    <% if(review != 'true') { %>
                    <a class="govuk-button" href="/addgrantingauthority" data-module="govuk-button">Add
                        another
                        public authority</a>
                    <% } %>
                </div>
            </div>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('ga-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>

</body>

</html>