<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Subsidy Award review details page</title>
    <%- include('../partials/headercss.ejs') %>
</head>


<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <!-- <body class="govuk-template__body app-example-page js-enabled"> -->
            <!-- <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script> -->
            <!-- Disable browser validation for any examples that include form elements -->
            <!-- <a href="#main-content" class="govuk-skip-link">Skip to main content</a> -->
            <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>

                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>



                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Sign out
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl"> Edit granting authority</h1>

                    <!-- *************************************
              Review for subsidy details tab
              ************************************* -->
                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">Granting authorty details


                    </h2>
                    <a rel="external" aria-label="Change granting authority details"
                        class="govuk-link head-right govuk-relative-position"
                        href="/editgrantingauthority?edit=<%=grantingAuthorityID_Global%>">
                        <p>Change </p>
                    </a>
                </div>
            </div>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Granting autority ID
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=grantingAuthorityID_Global%>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Granting authority name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=grantingAuthorityName_Global%>
                    </dd>

                </div>

            </dl>

            <!-- <form action="/submitforapproval" method="post" novalidate> -->
            <% if(grantingAuthorityPublish_Global) { %>
            <form method="POST" action="/submitgrantingauthority">
                <input type="hidden" name="editReview" value="true">
                <input type="hidden" value="<%=grantingAuthorityID_Global%>" name="grantingAuthorityID">
                <input type="hidden" value="<%=grantingAuthorityName_Global%>" name="grantingAuthorityName">
                <button class="govuk-button" data-module="govuk-button">
                    Publish
                </button>
            </form>
            <% } else { %>
            <a class="govuk-button" href="/mygrantingauthority" data-module="govuk-button">
                Back to granting authority list
            </a>

            <a class="govuk-button govuk-button--warning" href="/deactivategrantingauthority"
                data-module="govuk-button">
                Deactivate granting authority
            </a>
            <a class="govuk-link govuk-cancel-button-link" id="mylink" value="cancel" href="/editgacancel"> Cancel
            </a>
            <!-- </form> -->
            <% } %>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>