<!DOCTYPE html>
<html lang="en">

<head>
    <title>Public authority <%=ssn.grantingAuthorityName_Global%> - Manage UK subsidies - GOV.UK - Public authority review details page</title>
    <%- include('../partials/headercss.ejs') %>
</head>


<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>
            <!-- <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>

                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>



                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Sign out
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div> -->
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mygrantingauthority">Public Authority</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Add public authority</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl">Add public authority</h1>

                    <!-- *************************************
              Review for subsidy details tab
              ************************************* -->
                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">New public authority
                        details</h2>
                    <!-- <form action="/addgrantingauthority" method="POST"
                        class="govuk-link head-right govuk-relative-position">
                        <p aria-label="Change granting authority details">Change </p>
                        <input type="hidden" value="<%=ssn.grantingAuthorityID_Global%>" name="gaNumber">
                        <input type="hidden" value="<%=ssn.grantingAuthorityName_Global%>" name="grantingAuthorityName">
                    </form> -->
                    <a rel="external" aria-label="Change public authority details"
                        class="govuk-link head-right govuk-relative-position"
                        href="/addgrantingauthority?change=<%=ssn.gaId%>">
                        <p>Change </p>
                    </a>
                </div>
            </div>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Granting authority ID
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=ssn.grantingAuthorityID_Global%>
                    </dd>

                </div> -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Public authority name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=ssn.grantingAuthorityName_Global%>
                    </dd>
                </div>
            </dl>
            <div class="govuk-grid-row">
                <form action="/submitgrantingauthority" method="post" class="govuk-grid-column-one-third">
                    <input type="hidden" id="GaId" name="GaId" value="<%=ssn.gaId%>">
                    <input type="hidden" id="GaName" name="GaName" value="<%=ssn.grantingAuthorityName_Global%>">
                    <button class="govuk-button" data-module="govuk-button">
                        Save public authority
                    </button>
                    <a class="govuk-link govuk-cancel-button-link" id="mylink" href="/cancelgrantingauthority">
                        Cancel
                    </a>
                </form>

            </div>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('ga-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>




</html>