<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Deactivate Granting Authority page</title>
    <%- include('../partials/headercss.ejs') %>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper " id="main-content" role="main">

            <!-- Header pane starts here -->
            <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav class="govuk-sub-navigation" aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>

                            <li class='govuk-sub-navigation__item head-right'>
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Signout
                                </a>
                            </li>
                            <li class='govuk-sub-navigation__item head-right'>
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Header pane starts here -->

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mygrantingauthority">Granting Authority</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link active" href="#">Add granting authority </a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->

            <!-- Body header starts here -->
            <div class="govuk-body-cancel">
                <h1 class="govuk-heading-l">Deactivate granting authority</h1>

                <p class="govuk-body govuk-!-font-size-19 govuk-!-width-two-thirds">If you deactivate this granting
                    authority, users will no longer be able to add subsidy awards to it.</p>
                <!-- Body header ends here -->
                <p class="govuk-body govuk-!-font-size-19">Are you sure you want to deactivate this granting authority?
                </p>
                <form action="/gadeactivated" method="POST">
                    <input type="hidden" name="gaid" value="<%= gaid %>">
                    <input type="hidden" name="ganame" value="<%= ganame %>">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Yes, deactivate granting authority</button>
                    <a href="/editreviewgrantingauthority?gaid=<%= gaid %>&ganame=<%= ganame %>"
                        data-module="govuk-button" class="govuk-button govuk-button_sm govuk-button--secondary">
                        Cancel
                    </a>
                </form>

            </div>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>

</body>

</html>