<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Edit Public Authority page</title>
  <%- include('../partials/headercss.ejs') %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
  <script>
     // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
  </script>
</head>
<!-- <link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
<script type="text/javascript" src="/assets/javascripts/script.js" defer></script>
<script src="/assets/javascripts/vendor/modernizr.js"></script> -->

<!-- <%- include('../partials/headersubsidy.ejs') %> -->

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container">
    <main id="main-content" role="main">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
            us to improve it.
          </span>
        </p>
      </div>
      <%- include('../partials/navigationbar.ejs') %>

      <div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/mygrantingauthority">Public Authority</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Edit Public Authority</a>
          </li>
        </ol>
      </div>


      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l form-group">
        <h1 class="govuk-fieldset__heading">Edit Public Authorities</h1>
      </legend>
      <%- include('../partials/subsidy-database-requirements.ejs') %>
      <div class="govuk-grid-row">
        <form action="/editreviewgrantingauthority" method="POST">
          <div class="govuk-grid-column-three-quarters govuk-form-group">
            <!-- <form action="/filtersearch" method="POST" > -->
            <p>Public Authority ID</p>
            <input class="govuk-input govuk-input--width-2" value="<%= ssn.gaId%>" disabled name="gaId" type="text" />
            <!-- </form>  -->
          </div>

          <div class="govuk-grid-column-one-half govuk-form-group">
            <!-- <form action="/filtersearch" method="POST" > -->
            <p>Public authority name</p>
            <input class="govuk-input" value="<%= ssn.gaName%>" name="gaName" type="text" />
            <!-- </form>  -->
          </div>
          <div class="govuk-grid-column-full">

            <!-- <input type="hidden" value="<%= ssn.grantingAuthorityName_Global %>" name="gaName">
            <input type="hidden" value="<%= ssn.grantingAuthorityID_Global %>" name="gaId"> -->
            <button class="govuk-button govuk-button--success">
              Continue
            </button>

            <a href="/mygrantingauthority" class="govuk-link govuk-cancel-button-link" id="mylink">
              Cancel
            </a>
          </div>
        </form>
        <!-- <button class="govuk-button govuk-button--warning">
              Deactivate
            </button> -->


      </div>


    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
  <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  <!-- <script src="/assets/javascripts/accordion/govuk-frontend.js"></script> -->
  <link href="/assets/stylesheet/govuk-tabs.css" rel="stylesheet" type="text/css" />
  <script>
    document.getElementById('ga-li').firstElementChild.setAttribute("aria-current", 'page');
  </script>

</html>