<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Deactivate Public Authority page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
         // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
    </script>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>

            <!-- Header pane starts here -->
            <%- include('../partials/navigationbar.ejs') %>
            <!-- Header pane starts here -->

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mygrantingauthority">Public Authority</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Add public authority </a>
                    </li>
                </ol>
            </div>
            <% if(checkboxError) { %>
            <div class="govuk-error-summary" role="alert" id="error-alert" tabindex="-1"
                aria-labelledby="error-summary-title" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>

                <div class="govuk-error-summary__body">

                    <ul class="govuk-list govuk-error-summary__list">

                        <li> <a href="#usersCheckbox"> Please select the checkbox</a> </li>

                    </ul>

                </div>

            </div>
            <% } %>
            <!-- bread crumbs ends here -->
            <form action="/gadeactivated" method="POST">
                <!-- Body header starts here -->
                <div class="govuk-body-cancel govuk-form-group">
                    <h1 class="govuk-heading-l">Deactivate public authority</h1>
                    <% if(ssn.GaListArr_Global.length > 0) { %>
                    <div class="govuk-grid-column-full govuk-grid-row">
                        <p class="govuk-body govuk-!-font-size-19 govuk-grid-column-two-thirds govuk-padding-0">To
                            deactivate this
                            public authority, you must first remove the following users from it:</p>
                    </div>
                    <div class="govuk-grid-column-full govuk-grid-row">
                        <ul class="govuk-list">
                            <% ssn.GaListArr_Global.forEach(function(item) { %>

                            <li style="color: white;"><%= item.gaName%></li>
                            <% } ); %>
                        </ul>
                    </div>
                    <div class=" govuk-form-group" id="usersCheckbox" style="margin-bottom: 2%;">
                        <% if(checkboxError) { %>
                        <span id="error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Please select the checkbox
                        </span>
                        <% } %>

                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="userList" name="userList" type="checkbox"
                                    value="Yes">
                                <label class="govuk-label govuk-checkboxes__label" for="userList" style="color: white;">
                                    Remove all users
                                </label>
                            </div>
                        </div>
                    </div>

                    <% } else {%>
                    <input type="hidden" value="[]" name="userIds">
                    <% } %>
                    <p class="govuk-body govuk-!-font-size-19 govuk-!-width-two-thirds">If you deactivate this
                        granting
                        authority, users will no longer be able to add subsidy awards to it.</p>
                    <!-- Body header ends here -->
                    <p class="govuk-body govuk-!-font-size-19">Are you sure you want to deactivate this granting
                        authority?
                    </p>
                    <input type="hidden" value="<%= azGrpId%>" name="azGrpId">
                    <input type="hidden" name="gaid" value="<%= ssn.gaId %>">

                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Yes, deactivate public authority</button>
                    <a href="/editreviewgrantingauthority?gaid=<%= ssn.gaId %>" data-module="govuk-button"
                        class="govuk-button govuk-button_sm govuk-button--secondary">
                        Cancel
                    </a>


                </div>
            </form>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <!-- <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script> -->
    <script>
        document.getElementById('ga-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>