<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Granting authority deactivated successfully page</title>

    <%- include('../partials/headercss.ejs') %>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper " id="main-content" role="main">

            <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>

                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/manageusers">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Sign out
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/choosedashboard">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mygrantingauthority">Granting Authority</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a1 class="govuk-breadcrumbs__link active" href="#">Add granting authority</a1>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds govuk-form-group">

                    <h1 class="govuk-heading-xl">Deactivate granting authority</h1>

                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            Granting authority deactivated
                        </h1>
                        <div class="govuk-panel__body">
                            ID <strong><%= gaId%></strong>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-column-full govuk-form-group">
                    <!-- <% if(review == 'true') { %> -->
                    <p class="govuk-body govuk-!-font-size-19">You have deactivated granting authority <%= gaId%>. Users
                        will no longer be able to add subsidy awards to it.</p>
                </div>
                <div class="govuk-grid-column-full govuk-form-group">
                    <a class="govuk-button" href="/mygrantingauthority" data-module="govuk-button">
                        View all granting authorities
                    </a>
                </div>
            </div>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>

</html>