<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Manage Users page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
         // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
    </script>

</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>

            <%- include('../partials/navigationbar.ejs') %>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>

                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Help</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->

            <h1 class="govuk-heading-xl"> Managing UK subsidies user guide</h1>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Adding a subsidy scheme</h2>

                    <p class="govuk-body">You can add a new subsidy scheme by selecting Add a new subsidy scheme on
                        either the subsidy schemes page or main dashboard.</p>

                </div>
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m">Adding an ad hoc subsidy scheme</h3>
                    <p class="govuk-body">An ad hoc
                        subsidy scheme is a scheme that is created for one subsidy award.
                    </p>
                    <p class="govuk-body"> If you want to add more than one subsidy award to a subsidy scheme,
                        select No
                        for this question.
                    </p>

                    <h4 class="govuk-heading-s">Granting authority name</h4>

                    <p class="govuk-body">The name of your granting authority will appear automatically.
                    </p>

                    <h4 class="govuk-heading-s">Subsidy scheme name</h4>

                    <p class="govuk-body">This is the name that members of the public will be able to see on <a
                            href="<%=beis_public_search%>"> Search for UK subsidies</a>.
                    </p>

                    <h4 class="govuk-heading-s">Legal basis</h4>
                    <p class="govuk-body">You must provide a legal justification for each subsidy scheme. This can
                        be a
                        short summary of the policy or economic background of the scheme.
                    </p>
                    <h4 class="govuk-heading-s">Granting authority policy URL</h4>
                    <p class="govuk-body">You must provide a URL for the webpage that contains the policy that this
                        subsidy scheme relates to. For example, if you are adding a subsidy scheme that relates to
                        water
                        purity, you should provide the URL for the water purity policy.
                    </p>
                    <h4 class="govuk-heading-s">Granting authority policy page description</h4>
                    <p class="govuk-body">You must provide a short summary of the page that you have entered the URL
                        for. This will make it easier for other users to understand the contents of the page,
                        without
                        clicking on it.
                    </p>
                    <h4 class="govuk-heading-s">Budget</h4>
                    <p class="govuk-body">You must enter the budget for the subsidy scheme.
                    </p>
                    <h4 class="govuk-heading-s">Start date</h4>
                    <p class="govuk-body">You must enter the date that the subsidy scheme will start.
                    </p>
                    <h4 class="govuk-heading-s">End date</h4>
                    <p class="govuk-body">You must enter the date that the subsidy scheme will end.
                    </p>

                </div>
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m">Publishing a subsidy scheme</h3>
                    <p class="govuk-body">When you have entered all the information about the subsidy scheme, you can
                        publish it.
                    </p>
                    <p class="govuk-body">First, you’ll need to choose <b>Continue</b> to check the information that
                        you’ve
                        entered.</p>
                    <p class="govuk-body">If you want to edit the subsidy scheme before publishing, select <b>Change</b>
                        and
                        make
                        the changes that you need to.</p>
                    <p class="govuk-body">When you’re ready to publish the subsidy scheme, select <b>Publish subsidy
                            scheme</b>.
                    </p>
                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Deactivating a subsidy scheme</h2>

                    <p class="govuk-body">If an error was made when publishing a subsidy scheme, you may need to remove
                        it. You can deactivate a subsidy scheme on <b>Search for UK subsidies</b>.
                    </p>
                    <p class="govuk-body">Simply view the subsidy scheme that you want to deactivate and select
                        <b>Deactivate</b>.
                    </p>

                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Adding a subsidy award</h2>

                    <p class="govuk-body">You can add a new subsidy award by selecting <b>Add a new subsidy award </b>on
                        either
                        the subsidy awards page or main dashboard.
                    </p>

                    <h4 class="govuk-heading-s">Related subsidy scheme</h4>
                    <p class="govuk-body">You must enter the details of the subsidy scheme that this award relates to.
                        You can choose to enter either:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            the subsidy control number
                        </li>
                        <li> the subsidy scheme name</li>
                    </ul>
                    <h4 class="govuk-heading-s">Subsidy purpose</h4>
                    <p class="govuk-body">You must select the purpose of the subsidy award. If you select ‘Other’, you
                        must provide a summary of the subsidy purpose.
                    </p>
                    <h4 class="govuk-heading-s">Subsidy type</h4>
                    <p class="govuk-body">You must select the type of subsidy award. If you select ‘Other’ you must
                        provide a summary of the subsidy type.
                    </p>

                    <h4 class="govuk-heading-s">Granting authority name</h4>
                    <p class="govuk-body">The name of your granting authority will appear automatically.
                    </p>
                    <h4 class="govuk-heading-s">Granting date</h4>
                    <p class="govuk-body">You must enter the date that the subsidy award was granted.
                    </p>
                    <h4 class="govuk-heading-s">Recipient organisation name</h4>
                    <p class="govuk-body">You must enter the name of the organisation that will receive the subsidy
                        award.
                    </p>
                    <h4 class="govuk-heading-s">Organisation size</h4>
                    <p class="govuk-body">You must select the size of the organisation that will receive the subsidy
                        award.
                    </p>
                    <h4 class="govuk-heading-s">ID type</h4>
                    <p class="govuk-body">You must select the type of ID that you will provide for the recipient
                        organisation.
                    </p>
                    <h4 class="govuk-heading-s">ID number</h4>
                    <p class="govuk-body">You must enter the ID number that matches the ID type you selected. For
                        example, if you selected ‘VAT number’, you must enter the recipient organisation’s VAT number.
                    </p>

                    <h4 class="govuk-heading-s">Goods or services</h4>
                    <p class="govuk-body">You must choose whether the recipient organisation provides goods or services.
                    </p>
                    <p class="govuk-body">YIf the organisation provides both goods and services, you can select the
                        option that you think is most relevant to the subsidy award.
                    </p>
                    <h4 class="govuk-heading-s">Region</h4>
                    <p class="govuk-body">You must select the region that the recipient organisation is based in.
                    </p>
                    <h4 class="govuk-heading-s">Sector</h4>
                    <p class="govuk-body">You must select the sector that the recipient organisation belongs to. If it
                        belongs to more than one sector, you can select the option that you think is most relevant to
                        the subsidy.
                    </p>

                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Adding multiple subsidy awards</h2>

                    <p class="govuk-body">For help adding multiple subsidy awards, read the <a
                            href="/assets/files/HelpDocumentBulkUpload.docx">document</a>.
                    </p>

                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Publishing a subsidy award</h2>

                    <p class="govuk-body">You must submit the subsidy award for approval before publishing it.
                    </p>
                    <p class="govuk-body">First, you’ll need to choose Continue to check the information that you’ve
                        entered.
                    </p>
                    <p class="govuk-body">If you want to edit the subsidy award before publishing, select Change and
                        make the changes that you need to.
                    </p>
                    <p class="govuk-body">When you’re ready to submit the subsidy award for approval, select <b>Submit
                            for approval</b>. This will send a notification to all the approvers in your granting
                        authority,
                        so they
                        can approve the subsidy award.
                    </p>
                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Approving a subsidy award</h2>

                    <p class="govuk-body">If you are an administrator or approver, you can review a subsidy award by
                        opening it from the Subsidy awards page.
                    </p>
                    <p class="govuk-body">Once you’ve checked all the details of the award, you can approve it by
                        selecting <b>Approve and publish</b>. This will:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>make the award visible on Search for UK subsidies</li>
                        <li>send a notification to the person who submitted the award for approval</li>
                    </ul>

                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Rejecting a subsidy award</h2>

                    <p class="govuk-body">If you are an administrator or approver, you can review a subsidy award by
                        opening it from the Subsidy awards page.
                    </p>
                    <p class="govuk-body">You can reject the award by selecting <b>Reject</b>.
                    </p>
                    <p class="govuk-body">You can add comments to the award, so that the person who submitted it for
                        approval will understand why you have rejected it. Your comments will not be visible to the
                        public.</p>
                    <p class="govuk-body">Once you have rejected an award, users will be able to edit it and submit it
                        for approval again.</p>
                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Adding a new granting authority</h2>
                    <h4 class="govuk-heading-s">If you are a BEIS administrator</h4>
                    <p class="govuk-body">You can add a new granting authority by selecting <b>Add a new granting
                            authority</b> on the granting authorities page .
                    </p>

                    <p class="govuk-body">You can enter the granting authority name and save the details.</p>
                    <h4 class="govuk-heading-s">If you are a granting authority administrator, approver or encoder</h4>
                    <p class="govuk-body">You will need to send an email to subsidycontrol@beis.gov.uk to request a new
                        granting authority.
                    </p>
                </div>
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-l">Deactivating a granting authority</h3>

                    <p class="govuk-body">On the granting authorities page, select the granting authority that you want
                        to deactivate, then select <b>Deactivate</b>.
                    </p>
                    <p class="govuk-body">If there are active users linked to the granting authority, you must remove
                        them.
                    </p>

                </div>
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-l">Adding a new user</h3>
                    <h4 class="govuk-heading-s">If you are a BEIS or granting authority administrator</h4>
                    <p class="govuk-body">Select <b>Add a new user</b> from the users page, dashboard or menu.
                    </p>
                    <p class="govuk-body">You can choose the user’s role – this will affect their account permissions.
                        Choose from:
                    </p>
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            BEIS administrator - will be able to add, edit and approve users, granting authorities,
                            subsidy schemes and awards
                        </li>
                        <li>
                            Granting authority administrator - will be able to add, edit and approve users, subsidy
                            schemes and awards
                        </li>
                        <li>
                            Granting authority approver - will be able to add, edit and approve subsidy schemes and
                            awards
                        </li>
                        <li>Granting authority encoder - will be able to add and edit subsidy awards</li>
                    </ul>


                    <h4 class="govuk-heading-s">If you are a granting authority approver or encoder</h4>
                    <p class="govuk-body">You will need to contact your granting authority’s administrator to request a
                        new user.
                    </p>
                    <h4 class="govuk-heading-s">Adding an existing user to a different granting authority</h4>
                    <p class="govuk-body">You will first need to make sure that the user has a separate email address
                        for the granting authority – they will not be able to access different granting authorities with
                        one email address.
                    </p>
                    <p class="govuk-body">If the user has a separate email address, you can follow the steps for adding
                        a new user.
                    </p>
                </div>
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-l">Deactivating a user</h3>

                    <p class="govuk-body">If you want to remove a user from the system, you can deactivate
                        them.
                    </p>
                    <p class="govuk-body">To do this, find the user you want to deactivate on the users page and select
                        Deactivate.
                    </p>

                </div>
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-l">Account</h3>
                    <h4 class="govuk-heading-s">Activating your account</h4>
                    <p class="govuk-body">To be able to sign in to Manage UK subsidies, you must follow a link to create
                        your password. You will receive this link via email when an administrator adds you as a user.
                    </p>
                    <h4 class="govuk-heading-s">Forgotten password</h4>
                    <p class="govuk-body">If you forget your password, follow the forgotten password link on the log in
                        page. You will be able to send a password reset link to your email address.
                    </p>
                    <h4 class="govuk-heading-s">Changing your account details</h4>
                    <p class="govuk-body">You can update your name and contact details in the account area.
                    </p>
                    <h4 class="govuk-heading-s">Changing your password</h4>
                    <p class="govuk-body">You can update your password in the account area.
                    </p>
                </div>
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-l">Audit log for BEIS administrators</h3>

                    <p class="govuk-body">All BEIS administrators can view an audit log, which will show the activity of
                        all users, including:
                    </p>
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                        <li>
                            updates to subsidy schemes and awards
                        </li>
                        <li>
                            updates to granting authorities
                        </li>
                        <li>
                            updates to user information
                        </li>
                    </ul>
                    <p class="govuk-body">If you’re a BEIS administrator, you can access the audit log from your
                        dashboard.</p>
                </div>

            </div>

        </main>
    </div>


    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('help-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>