<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Subsidy Measures search page</title>
  <%- include('../partials/headercss.ejs') %>
</head>


<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">

      <!-- Header pane starts here -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <nav class="govuk-sub-navigation" aria-label="Sub navigation">
            <ul class="govuk-sub-navigation__list">
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                  Granting Authorities
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/manageusers">
                  Users
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" aria-current="page" href="/mysubsidymeasures">
                  Subsidy Schemes
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                  Subsidy Awards
                </a>
              </li>

              <li class='govuk-sub-navigation__item head-right'>
                <a class="govuk-sub-navigation__link" href="/logintransparency">
                  Signout
                </a>
              </li>
              <li class='govuk-sub-navigation__item head-right'>
                <a class="govuk-sub-navigation__link" href="/logintransparency">
                  My account
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- Header pane starts here -->



      <!-- Body header starts here -->
      <h1 class="govuk-heading-xl">Subsidy schemes</h1>
      <!-- Body header ends here -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-row">
          <label class="govuk-label govuk-grid-column-one-third">
            You can search for specific subsidy schemes by entering a subsidy scheme title, control number or granting
            authority.
          </label>
        </div>

        <div class="govuk-grid-column-one-half">
          <input class="govuk-input govuk-!-width-three-quarters" type="text">
          <button class="govuk-button" data-module="govuk-button">
            Search
          </button>
        </div>
        <div class="govuk-grid-column-one-third govuk-form-group">
          <select class="govuk-select govuk-!-width-full">
            <option disabled selected value="">Only show me</option>
            <option value="">Draft (1)</option>
            <option value="">Finalised (5)</option>
            <option value="">Published (35)</option>
            <option value="">Deactive (5) </option>
            <option value="">Show all (46)</option>
          </select>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-form-group">
          <a href="/addsubsidymeasures"><button class="govuk-button" data-module="govuk-button">
              Add subsidy scheme
            </button></a>
        </div>
        <div class="govuk-grid-column-one-third govuk-display-flex">
          <label class="govuk-grid-column-two-thirds">
            Results per page
          </label>

          <form class="govuk-grid-column-one-third govuk-padding-0" action="/measurespageperroute" method="GET">
            <select class="govuk-select" id="sort" name="sort" onchange="this.form.submit()">
              <% if(frontend_totalRecordsPerPage  == 10) { %>
              <option value="10" selected>10</option>
              <% } else { %>
              <option value="10">10</option>
              <% }  %>
              <% if(frontend_totalRecordsPerPage  == 20) { %>
              <option value="20" selected>20</option>
              <% } else { %>
              <option value="20">20</option>
              <% }  %>
              <% if(frontend_totalRecordsPerPage  == 50) { %>
              <option value="50" selected>50</option>
              <% } else { %>
              <option value="50">50</option>
              <% }  %>
              <% if(frontend_totalRecordsPerPage  == 100) { %>
              <option value="100" selected>100</option>
              <% } else { %>
              <option value="100">100</option>
              <% }  %>
            </select>
          </form>
        </div>
      </div>
      <form action="/homepage" method="POST">
        <section class="govuk-table-responsive">
          <table class="govuk-table">
            <caption class="govuk-table__caption">
              <h1 class="govuk-fieldset__heading"></h1>
            </caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header app-custom-class">Subsidy scheme name</th>
                <th scope="col" class="govuk-table__header app-custom-class">Subsidy control no.</th>
                <th scope="col" class="govuk-table__header app-custom-class">Granting authority</th>
                <th scope="col" class="govuk-table__header app-custom-class">Start date</th>
                <th scope="col" class="govuk-table__header app-custom-class">End date</th>
                <th scope="col" class="govuk-table__header app-custom-class">Duration</th>
                <th scope="col" class="govuk-table__header app-custom-class">Budget</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              <% searchawards.awards.forEach(function(item) { %>
              <tr>
                <td class="govuk-table__cell"><a href="/editsubsidymeasure"> <%= item.beneficiaryName  %>
                  </a> </td>
                <td class="govuk-table__cell"><%= item.scNumber %></td>
                <td class="govuk-table__cell"><%= item.gaName %></td>
                <td class="govuk-table__cell" style="text-align:center"><%= item.legalGrantingDate%></td>
                <td class="govuk-table__cell" style="text-align:center"><%= item.legalGrantingDate%></td>
                <td class="govuk-table__cell">1 year</td>
                <td class="govuk-table__cell" style="text-align:center"> £ 500,00</td>
              </tr>
              <% } ); %>
            </tbody>
          </table>

          <!-- ********************** -->
          <!-- Pagination starts here -->
          <!-- ********************** -->

          <div id="pagination1" class="pagination">

            <% if (pageCount > 1) { %>

            <div class="col first">
              <p class="pagination-label">
                Showing <span><%= start_record %></span> - <span><%= end_record %></span> of
                <span><%= totalrows %></span>
              </p>
            </div>

            <% } %>


            <div class="col last">
              <% if (pageCount > 1) { %>

              <% if (current_page_active != 1) { %>
              <a href="/measurespageroute/?page=1" id="paginationlink" class="first round">
                <!-- <img id="govuk-left-arrow"
                  src="/assets/images/govuk-left-arrow.jpg"> -->
                <svg version="1.1" width="19px" height="30px">
                  <defs>
                    <mask fill="white" id="clip2">
                      <path
                        d="M 18.5805027173913 8.01668806161746  C 18.8601675724638 8.33761232349166  19 8.72486093281985  19 9.17843388960205  L 19 10.8215661103979  C 19 11.2751390671801  18.8601675724638 11.6623876765083  18.5805027173913 11.9833119383825  C 18.3008378623188 12.3042362002567  17.9372735507246 12.4646983311938  17.4898097826087 12.4646983311938  L 8.40285326086956 12.4646983311938  L 12.1847826086957 16.2387676508344  C 12.5117753623188 16.5468549422336  12.6752717391304 16.9319640564827  12.6752717391304 17.3940949935815  C 12.6752717391304 17.8562259306804  12.5117753623188 18.2413350449294  12.1847826086957 18.5494223363286  L 11.2167119565217 19.5250320924262  C 10.8983242753623 19.8416773641421  10.5110960144928 20  10.055027173913 20  C 9.6075634057971 20  9.21603260869565 19.8416773641421  8.8804347826087 19.5250320924262  L 0.47758152173913 11.1553273427471  C 0.15919384057971 10.8386820710312  0 10.4535729567822  0 10  C 0 9.55498502353445  0.15919384057971 9.16559691912709  0.47758152173913 8.83183568677792  L 8.8804347826087 0.487804878048781  C 9.20742753623188 0.162601626016259  9.59895833333333 0  10.055027173913 0  C 10.502490942029 0  10.8897192028986 0.162601626016259  11.2167119565217 0.487804878048781  L 12.1847826086957 1.43774069319641  C 12.5117753623188 1.76294394522893  12.6752717391304 2.15233204963628  12.6752717391304 2.60590500641849  C 12.6752717391304 3.05947796320068  12.5117753623188 3.44886606760804  12.1847826086957 3.77406931964057  L 8.40285326086956 7.53530166880616  L 17.4898097826087 7.53530166880616  C 17.9372735507246 7.53530166880616  18.3008378623188 7.69576379974326  18.5805027173913 8.01668806161746  Z "
                        fill-rule="evenodd" />
                    </mask>
                  </defs>
                  <g transform="matrix(1 0 0 1 -456 -1241 )">
                    <path
                      d="M 18.5805027173913 8.01668806161746  C 18.8601675724638 8.33761232349166  19 8.72486093281985  19 9.17843388960205  L 19 10.8215661103979  C 19 11.2751390671801  18.8601675724638 11.6623876765083  18.5805027173913 11.9833119383825  C 18.3008378623188 12.3042362002567  17.9372735507246 12.4646983311938  17.4898097826087 12.4646983311938  L 8.40285326086956 12.4646983311938  L 12.1847826086957 16.2387676508344  C 12.5117753623188 16.5468549422336  12.6752717391304 16.9319640564827  12.6752717391304 17.3940949935815  C 12.6752717391304 17.8562259306804  12.5117753623188 18.2413350449294  12.1847826086957 18.5494223363286  L 11.2167119565217 19.5250320924262  C 10.8983242753623 19.8416773641421  10.5110960144928 20  10.055027173913 20  C 9.6075634057971 20  9.21603260869565 19.8416773641421  8.8804347826087 19.5250320924262  L 0.47758152173913 11.1553273427471  C 0.15919384057971 10.8386820710312  0 10.4535729567822  0 10  C 0 9.55498502353445  0.15919384057971 9.16559691912709  0.47758152173913 8.83183568677792  L 8.8804347826087 0.487804878048781  C 9.20742753623188 0.162601626016259  9.59895833333333 0  10.055027173913 0  C 10.502490942029 0  10.8897192028986 0.162601626016259  11.2167119565217 0.487804878048781  L 12.1847826086957 1.43774069319641  C 12.5117753623188 1.76294394522893  12.6752717391304 2.15233204963628  12.6752717391304 2.60590500641849  C 12.6752717391304 3.05947796320068  12.5117753623188 3.44886606760804  12.1847826086957 3.77406931964057  L 8.40285326086956 7.53530166880616  L 17.4898097826087 7.53530166880616  C 17.9372735507246 7.53530166880616  18.3008378623188 7.69576379974326  18.5805027173913 8.01668806161746  Z "
                      fill-rule="nonzero" fill="#1d70b8" stroke="none" transform="matrix(1 0 0 1 456 1241 )" />
                    <path
                      d="M 18.5805027173913 8.01668806161746  C 18.8601675724638 8.33761232349166  19 8.72486093281985  19 9.17843388960205  L 19 10.8215661103979  C 19 11.2751390671801  18.8601675724638 11.6623876765083  18.5805027173913 11.9833119383825  C 18.3008378623188 12.3042362002567  17.9372735507246 12.4646983311938  17.4898097826087 12.4646983311938  L 8.40285326086956 12.4646983311938  L 12.1847826086957 16.2387676508344  C 12.5117753623188 16.5468549422336  12.6752717391304 16.9319640564827  12.6752717391304 17.3940949935815  C 12.6752717391304 17.8562259306804  12.5117753623188 18.2413350449294  12.1847826086957 18.5494223363286  L 11.2167119565217 19.5250320924262  C 10.8983242753623 19.8416773641421  10.5110960144928 20  10.055027173913 20  C 9.6075634057971 20  9.21603260869565 19.8416773641421  8.8804347826087 19.5250320924262  L 0.47758152173913 11.1553273427471  C 0.15919384057971 10.8386820710312  0 10.4535729567822  0 10  C 0 9.55498502353445  0.15919384057971 9.16559691912709  0.47758152173913 8.83183568677792  L 8.8804347826087 0.487804878048781  C 9.20742753623188 0.162601626016259  9.59895833333333 0  10.055027173913 0  C 10.502490942029 0  10.8897192028986 0.162601626016259  11.2167119565217 0.487804878048781  L 12.1847826086957 1.43774069319641  C 12.5117753623188 1.76294394522893  12.6752717391304 2.15233204963628  12.6752717391304 2.60590500641849  C 12.6752717391304 3.05947796320068  12.5117753623188 3.44886606760804  12.1847826086957 3.77406931964057  L 8.40285326086956 7.53530166880616  L 17.4898097826087 7.53530166880616  C 17.9372735507246 7.53530166880616  18.3008378623188 7.69576379974326  18.5805027173913 8.01668806161746  Z "
                      stroke-width="2" stroke="#ffffff" fill="none" transform="matrix(1 0 0 1 456 1241 )"
                      mask="url(#clip2)" />
                  </g>
                </svg>
              </a>
              <a href="/measurespageroute/?page=<%= previous_page %>" id="paginationlink"
                class="previous round">Previous Page</a>
              <% } %>

              <% for (var i = start_page; i <= end_page; i++) { %>
              <% if (current_page_active != i ) { %>
              <a id="paginationlink" class="round btn-page" href="/measurespageroute/?page=<%= i %>"><%= i %></a>
              <% } else { %>
              <a id="paginationlink" class="round btn-page active" href="/measurespageroute/?page=<%= i %>"><%= i %></a>
              <% } %>
              <% } %>

              <% if (current_page_active != pageCount) { %>
              <a href="/measurespageroute/?page=<%= next_page %>" id="paginationlink" class="next round">Next Page</a>
              <a href="/measurespageroute/?page=<%= pageCount %>" id="paginationlink" class="last round">
                <!-- <img
                  id="govuk-right-arrow" src="/assets/images/govuk-right-arrow.jpg"> -->
                <svg version="1.1" width="19px" height="30px" class="left-arrow">
                  <defs>
                    <mask fill="white" id="clip3">
                      <path
                        d="M 18.5224184782609 8.84467265725289  C 18.8408061594203 9.14420196833547  19 9.52931108258451  19 10  C 19 10.4621309370988  18.8408061594203 10.8515190415062  18.5224184782609 11.1681643132221  L 10.1195652173913 19.5250320924262  C 9.78396739130435 19.8416773641421  9.3924365942029 20  8.94497282608696 20  C 8.50611413043478 20  8.11888586956522 19.8416773641421  7.78328804347826 19.5250320924262  L 6.81521739130435 18.5622593068036  C 6.48822463768116 18.2370560547711  6.32472826086957 17.8476679503637  6.32472826086957 17.3940949935815  C 6.32472826086957 16.9405220367993  6.48822463768116 16.551133932392  6.81521739130435 16.2259306803594  L 10.5971467391304 12.4646983311938  L 1.5101902173913 12.4646983311938  C 1.06272644927536 12.4646983311938  0.69916213768116 12.3042362002567  0.419497282608696 11.9833119383825  C 0.139832427536232 11.6623876765083  0 11.2751390671801  0 10.8215661103979  L 0 9.17843388960205  C 0 8.72486093281985  0.139832427536232 8.33761232349166  0.419497282608696 8.01668806161746  C 0.69916213768116 7.69576379974326  1.06272644927536 7.53530166880616  1.5101902173913 7.53530166880616  L 10.5971467391304 7.53530166880616  L 6.81521739130435 3.7612323491656  C 6.48822463768116 3.45314505776637  6.32472826086957 3.06803594351733  6.32472826086957 2.60590500641849  C 6.32472826086957 2.14377406931964  6.48822463768116 1.7586649550706  6.81521739130435 1.45057766367137  L 7.78328804347826 0.487804878048781  C 8.11028079710145 0.162601626016259  8.49750905797101 0  8.94497282608696 0  C 9.40104166666667 0  9.79257246376812 0.162601626016259  10.1195652173913 0.487804878048781  L 18.5224184782609 8.84467265725289  Z "
                        fill-rule="evenodd" />
                    </mask>
                  </defs>
                  <g transform="matrix(1 0 0 1 -930 -1241 )">
                    <path
                      d="M 18.5224184782609 8.84467265725289  C 18.8408061594203 9.14420196833547  19 9.52931108258451  19 10  C 19 10.4621309370988  18.8408061594203 10.8515190415062  18.5224184782609 11.1681643132221  L 10.1195652173913 19.5250320924262  C 9.78396739130435 19.8416773641421  9.3924365942029 20  8.94497282608696 20  C 8.50611413043478 20  8.11888586956522 19.8416773641421  7.78328804347826 19.5250320924262  L 6.81521739130435 18.5622593068036  C 6.48822463768116 18.2370560547711  6.32472826086957 17.8476679503637  6.32472826086957 17.3940949935815  C 6.32472826086957 16.9405220367993  6.48822463768116 16.551133932392  6.81521739130435 16.2259306803594  L 10.5971467391304 12.4646983311938  L 1.5101902173913 12.4646983311938  C 1.06272644927536 12.4646983311938  0.69916213768116 12.3042362002567  0.419497282608696 11.9833119383825  C 0.139832427536232 11.6623876765083  0 11.2751390671801  0 10.8215661103979  L 0 9.17843388960205  C 0 8.72486093281985  0.139832427536232 8.33761232349166  0.419497282608696 8.01668806161746  C 0.69916213768116 7.69576379974326  1.06272644927536 7.53530166880616  1.5101902173913 7.53530166880616  L 10.5971467391304 7.53530166880616  L 6.81521739130435 3.7612323491656  C 6.48822463768116 3.45314505776637  6.32472826086957 3.06803594351733  6.32472826086957 2.60590500641849  C 6.32472826086957 2.14377406931964  6.48822463768116 1.7586649550706  6.81521739130435 1.45057766367137  L 7.78328804347826 0.487804878048781  C 8.11028079710145 0.162601626016259  8.49750905797101 0  8.94497282608696 0  C 9.40104166666667 0  9.79257246376812 0.162601626016259  10.1195652173913 0.487804878048781  L 18.5224184782609 8.84467265725289  Z "
                      fill-rule="nonzero" fill="#1d70b8" stroke="none" transform="matrix(1 0 0 1 930 1241 )" />
                    <path
                      d="M 18.5224184782609 8.84467265725289  C 18.8408061594203 9.14420196833547  19 9.52931108258451  19 10  C 19 10.4621309370988  18.8408061594203 10.8515190415062  18.5224184782609 11.1681643132221  L 10.1195652173913 19.5250320924262  C 9.78396739130435 19.8416773641421  9.3924365942029 20  8.94497282608696 20  C 8.50611413043478 20  8.11888586956522 19.8416773641421  7.78328804347826 19.5250320924262  L 6.81521739130435 18.5622593068036  C 6.48822463768116 18.2370560547711  6.32472826086957 17.8476679503637  6.32472826086957 17.3940949935815  C 6.32472826086957 16.9405220367993  6.48822463768116 16.551133932392  6.81521739130435 16.2259306803594  L 10.5971467391304 12.4646983311938  L 1.5101902173913 12.4646983311938  C 1.06272644927536 12.4646983311938  0.69916213768116 12.3042362002567  0.419497282608696 11.9833119383825  C 0.139832427536232 11.6623876765083  0 11.2751390671801  0 10.8215661103979  L 0 9.17843388960205  C 0 8.72486093281985  0.139832427536232 8.33761232349166  0.419497282608696 8.01668806161746  C 0.69916213768116 7.69576379974326  1.06272644927536 7.53530166880616  1.5101902173913 7.53530166880616  L 10.5971467391304 7.53530166880616  L 6.81521739130435 3.7612323491656  C 6.48822463768116 3.45314505776637  6.32472826086957 3.06803594351733  6.32472826086957 2.60590500641849  C 6.32472826086957 2.14377406931964  6.48822463768116 1.7586649550706  6.81521739130435 1.45057766367137  L 7.78328804347826 0.487804878048781  C 8.11028079710145 0.162601626016259  8.49750905797101 0  8.94497282608696 0  C 9.40104166666667 0  9.79257246376812 0.162601626016259  10.1195652173913 0.487804878048781  L 18.5224184782609 8.84467265725289  Z "
                      stroke-width="2" stroke="#ffffff" fill="none" transform="matrix(1 0 0 1 930 1241 )"
                      mask="url(#clip3)" />
                  </g>
                </svg>
              </a>
              <% } %>
              <% } %>
            </div>
          </div>
        </section>
        <!-- ********************** -->
        <!-- Pagination ends here -->
        <!-- ********************** -->
      </form>

    </main>
  </div>

  <%- include('../partials/footer.ejs') %>
  <!-- <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
  <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script> -->
</body>

</html>