<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>

  <link href="/assets/stylesheet/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script>
  <script src="/assets/javascripts/vendor/modernizr.js"></script>

  <script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script>

   <script>


//select all checkboxes
$(document).ready(function () {

$("#select_all").change(function(){  //"select all" change 
    $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
});

//".checkbox" change 
$('.checkbox').change(function(){ 
	//uncheck "select all", if one of the listed checkbox item is unchecked
    if(false == $(this).prop("checked")){ //if this item is unchecked
        $("#select_all").prop('checked', false); //change "select all" checked status to false
    }
	//check "select all" if all checkbox items are checked
	if ($('.checkbox:checked').length == $('.checkbox').length ){
		$("#select_all").prop('checked', true);
	}
});

    $(".round").on('click', function(event){
      alrt("pageination button click1")
        $("input[type='checkbox']").attr("checked",false);
    });

});

</script>


<body>
 <div class="govuk-width-container ">
    

   <main class="govuk-main-wrapper " id="main-content" role="main"> 

    <div class="govuk-grid-row">   
        <div class="govuk-grid-column-full">
          <nav aria-label="Sub navigation">
            <ul class="govuk-sub-navigation__list">
              <li class="govuk-sub-navigation__item">
                <a
                  class="govuk-sub-navigation__link"
                  href="/mygrantingauthority"
                >
                  Granting Authorities
                </a>
              </li>

              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="#">
                  Users
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                  Subsidy Measures
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" aria-current="page" href="/mysubsidyawards">
                  Subsidy Awards
                </a>
              </li>

            

              <li class="govuk-sub-navigation__item head-right">
                <a class="govuk-sub-navigation__link" href="/logintransparency">
                  Sign out
                </a>
              </li>
              <li class="govuk-sub-navigation__item head-right">
                <a class="govuk-sub-navigation__link" href="/logintransparency">
                  My account
                </a>
              </li>
            </ul>
          </nav>
        
         </div>
            
        </div>
       
       
    <br />
    <br />

        <!-- bread crumbs start here -->
        <div class="govuk-breadcrumbs ">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/homepage">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a1 class="govuk-breadcrumbs__link" href="#">Subsidy awards</a1>
            </li>
          </ol>
        </div>
     <!-- bread crumbs ends here -->

     <br />
    <br />


    <h1 class="govuk-heading-xl">
      Subsidy awards</h1>
  
            
    <div id="Subsidy_Control_Number-hint" class="govuk-hint">
      Search by entering either Subsidy Measure Title, Subsidy Control number, or Granting Authority
     </div>

     <div>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
          <button class="govuk-button" data-module="govuk-button" >
          Search
        </button>

        <select class="govuk-select"  id="award_status" name="award_status">
        <option value="" disabled selected>Only show me...</option>
        <option value="Andrew Davis">Draft (1)</option>
        <option value="Albert Einstein">Finalised (5)</option>
        <option value="Barry Smith">Published (35)</option>
        <option value="Claire Jones">Deactive (4)</option>
        <option value="Mary Johnson">Rejected (1)</option>
        <option value="Michael Robinson">Show all (46)</option>
      </select>


      </div>



   
<!-- Body details header starts here -->    

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds filter-input-div">
      <a href="/addsubsidyaward" style="color : black; text-decoration: none">
         <button class="govuk-button" data-module="govuk-button" >
          Add subsidy award 
        </button>   </a>
        <a href="/bulkuploadsubsidy" style="color : black; text-decoration: none">
        <button class="govuk-button" data-module="govuk-button" >
          Bulk upload 
        </button> </a>
        <button class="govuk-button" data-module="govuk-button" >
          Delete Selected 
        </button>    
    </div>

    <div class="govuk-grid-column-one-third govuk-display-flex">        
      <label class="govuk-grid-column-two-thirds">
        Results per page
      </label>
     
     <form class="govuk-grid-column-one-third" action="/awardspageperroute" method="GET" >  
      <select class="govuk-select" id="sort" name="sort" onchange="this.form.submit()">  
        <% if(frontend_totalRecordsPerPage  == 1) { %>    
          <option value="1" selected>1</option>
        <% } else { %>
        <option value="1">1</option>     
        <% }  %>
        <% if(frontend_totalRecordsPerPage  == 2) { %>  
        <option value="2" selected>2</option>
        <% } else { %>
       <option value="2">2</option>
        <% }  %>
        <% if(frontend_totalRecordsPerPage  == 5) { %> 
        <option value="5" selected>5</option>
        <% } else { %>
        <option value="5">5</option>
        <% }  %>
        <% if(frontend_totalRecordsPerPage  == 10) { %> 
        <option value="10" selected>10</option>
        <% } else { %>
        <option value="10">10</option>
        <% }  %>
      </select>
    </form>
    </div>
  </div>

<!-- Body details header ends here -->    
    



    <form action="/collectcheckbox" method="GET" novalidate="">
      

    <section>
              <table class="govuk-table" id="datatable">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">
                          <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input Subsidy_awardno_head" id="select_all" name="Subsidy_awardNo" type="checkbox" value="Subsidy_awardNo">
                            <label class="govuk-label govuk-checkboxes__label_padding govuk-checkboxes__label " for="Subsidy awardNo" id='Subsidy_awardno_lb'>
                              <b>Subsidy Name</b>
                            </label>
                             </div>
                            </div>
                        </th>
                      
                        <th scope="col" class="govuk-table__header app-custom-class">Subsidy control no.</th>
                        <th scope="col" class="govuk-table__header app-custom-class">Granting authority</th>
                        <th scope="col" class="govuk-table__header app-custom-class">Start date</th>
                        <th scope="col" class="govuk-table__header app-custom-class">End date</th>
                        <th scope="col" class="govuk-table__header app-custom-class">Duration</th>
                        <th scope="col" class="govuk-table__header app-custom-class">Budget</th>
                    </tr >
                </thead>
                <tbody class="govuk-table__body">
                  <% searchawards.awards.forEach(function(item) { %> 
                    <tr>
                        <td class="govuk-table__cell">
                          <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input checkbox Subsidy_awardNo" id="Subsidy_awardNo" name="check[]" type="checkbox" value="Subsidy awardNo">
                                <label class="govuk-label govuk-checkboxes__label" for="Subsidy awardNo">
                                    <%= item.beneficiary.beneficiaryName %>
                                </label>
                                 </div>
                                 </div>
                                       
                        </td>
                    
                        <td class="govuk-table__cell"><%= item.subsidyMeasure.scNumber %></td> 
                        <td class="govuk-table__cell">Granting Authority Name</td> 
                        <td class="govuk-table__cell" style="text-align:center"><%= item.legalGrantingDate%></td>    
                        <td class="govuk-table__cell" style="text-align:center"><%= item.legalGrantingDate%></td> 
                        <td class="govuk-table__cell">1 year</td> 
                        <td class="govuk-table__cell" style="text-align:center"> £ 500,00</td> 
                    </tr>

                    <% } ); %>
                   
                </tbody>
                
            </table>
      <!-- ********************** -->
      <!-- Pagination starts here -->
      <!-- ********************** -->

          <div id="pagination1" class="pagination">
 
            <% if (pageCount > 1) { %>
   
             <div class="col first">
             <p class="pagination-label">
                 Showing <span><%= start_record %></span> - <span><%= end_record %></span> of <span><%= totalrows %></span>
             </p>
             </div>
   
            <% } %>
   
   
             <div class="col last">
               <% if (pageCount > 1) { %>
   
                 <% if (current_page_active != 1) { %> 
                  <a href="/awardspageroute/?page=1" id="paginationlink" class="first round"><img id="govuk-left-arrow" src="/assets/images/govuk-left-arrow.jpg"></a>
                   <a href="/awardspageroute/?page=<%= previous_page %>" id="paginationlink" class="previous round">Previous Page</a>
                  <% } %>
                 
                     <% for (var i = start_page; i <= end_page; i++) { %>
                       <% if (current_page_active != i ) { %>
                       <a id="paginationlink" class="round btn-page" href="/awardspageroute/?page=<%= i %>"><%= i %></a>
                       <% } else { %>
                         <a id="paginationlink" class="round btn-page active" href="/awardspageroute/?page=<%= i %>"><%= i %></a>
                         <% } %> 
                       <% } %>
                   
                       <% if (current_page_active != pageCount) { %> 
                     <a href="/awardspageroute/?page=<%= next_page %>" id="paginationlink" class="next round">Next Page</a>
                    <a href="/awardspageroute/?page=<%= pageCount %>" id="paginationlink" class="last round"><img id="govuk-right-arrow" src="/assets/images/govuk-right-arrow.jpg"></a> 
                     <% } %>
               <% } %>
           </div>
          </div>
            
    </section>
      <br />
    <!-- <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button" >
      Submit
    </button> -->

  </form>    
    
   
   </main>
</div>
</body>

<%- include('../partials/footer.ejs') %>

<script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>     
<script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
</html>