<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Privacy Notice</title>
    <%- include('../partials/headercss.ejs') %>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve
                        it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>

            <div class="govuk-beis-heading">
                <h1 class="govuk-heading-l">Privacy Notice</h1>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds"> <!-- Body starts -->
                    <p class="govuk-body">
                        This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (UK GDPR). 
                    </p>
                    <h2 class="govuk-heading-m">YOUR DATA</h2>
                    <h3 class="govuk-heading-s">The data</h3>
                    <p class="govuk-body">
                        We will process the following personal data: 
                        <ul class="govuk-list govuk-list--bullet">
                            <li>First name</li>
                            <li>Last name</li>
                            <li>E-mail address</li> 
                            <li>Mobile phone number</li>
                        </ul>
                    </p>
                    <h3 class="govuk-heading-s">Purpose</h3>
                    <p class="govuk-body">
                        The purpose(s) for which we are processing your personal data is to enable sign up of new users. A mobile phone number is required to enable passwords to be re-set securely.
                    </p>
                    <h3 class="govuk-heading-s">Legal basis of processing</h3>
                    <p class="govuk-body">
                        The legal basis for processing your personal data is:
                    </p>
                    <p class="govuk-body govuk-!-font-weight-bold">
                        Article 6 (1) (b) Contract: It is necessary for the performance of a contract to which you are a party. The contract is your employment contract, utilisation of the transparency database being part of the duties of your employment.
                        <br/>
                        <br/>
                        It is necessary in order to take steps at your request prior to entering into a contract                        
                    </p>
                    <h3 class="govuk-heading-s">Recipients</h3>
                    <p class="govuk-body">
                        Your personal data will be shared by us with the public authority admins within your own organisation and by the current support and maintenance contractors of the subsidy control transparency database.
                        <br/>
                        <br/>
                        As your personal data will be stored on our IT infrastructure it will also be shared with our data processors Microsoft and Amazon Web Services.
                    </p>
                    <h3 class="govuk-heading-s">Retention</h3>
                    <p class="govuk-body">
                        Your personal data will be kept by us for the duration of your access to the subsidy control transparency database.
                    </p>
                    <h3 class="govuk-heading-s">Your Rights</h3>
                    <p class="govuk-body">
                        You have the right to request information about how your personal data are processed, and to request a copy of that personal data. 
                        <br/>
                        <br/>
                        You have the right to request that any inaccuracies in your personal data are rectified without delay. 
                        <br/>
                        <br/>
                        You have the right to request that any incomplete personal data are completed, including by means of a supplementary statement. 
                        <br/>
                        <br/>
                        You have the right to request that your personal data are erased if there is no longer a justification for them to be processed. 
                        <br/>
                        <br/>
                        You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted. 
                        <br/>
                        <br/>
                        You have the right to object to the processing of your personal data where it is processed for direct marketing purposes. 
                        <br/>
                        <br/>
                        You have the right to request a copy of any personal data you have provided, and for this to be provided in a structured, commonly used and machine-readable format.
                    </p>
                    <h3 class="govuk-heading-s">International transfers</h3>
                    <p class="govuk-body">
                        As your personal data is stored on our IT infrastructure and shared with our data processors Microsoft and Amazon Web Services, it may be transferred and stored securely in the UK and European Economic Area. Where your personal data is stored outside the UK and EEA it will be subject to equivalent legal protection through the use of Model Contract Clauses.
                    </p>
                    <h3 class="govuk-heading-s">Complaints</h3>
                    <p class="govuk-body">
                        If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an UK independent regulator.  The Information Commissioner can be contacted at:
                        <br/>
                        <br/>
                        Information Commissioner's Office<br/>
                        Wycliffe House<br/>
                        Water Lane<br/>
                        Wilmslow<br/>
                        Cheshire<br/>
                        SK9 5AF<br/>
                        0303 123 1113<br/>
                        <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a>
                        <br/>
                        <br/>
                        Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts. 
                    </p>
                    <h3 class="govuk-heading-s">Contact details</h3>
                    <p class="govuk-body">
                        The data controller for your personal data is the Department for Business, Energy & Industrial Strategy (BEIS). You can contact the BEIS Data Protection Officer at:
                        <br/>
                        <br/>
                        BEIS Data Protection Officer<br/>
                        Department for Business, Energy and Industrial Strategy<br/>
                        1 Victoria Street<br/>
                        London<br/>
                        SW1H 0ET<br/>
                        Email: <a href="mailto:dataprotection@beis.gov.uk">dataprotection@beis.gov.uk</a>
                    </p>
                </div>
            </div>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/jquery.min.js"></script>
    <script src="/assets/javascripts/application.js"></script>
</body>

</html>