<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Privacy Notice</title>
    <%- include('../partials/headercss.ejs') %>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve
                        it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>

            <div class="govuk-beis-heading">
                <h1 class="govuk-heading-l">Privacy Notice</h1>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds"> <!-- Body starts -->
                    <p class="govuk-body">
                        This privacy notice explains how the Department for Business and Trade (DBT), as a ‘data controller’, processes personal data for the ‘View subsidies awarded by UK public authorities’ service on GOV.UK. 
                    </p>
                    <p class="govuk-body">
                        This service is made up of two parts – an open access public website for viewing published subsidy awards and schemes and a restricted access administration website (‘Manage UK subsidies’) that allows authenticated users to publish and manage data for public authorities. 
                        This notice covers both parts of the service.
                    </p>
                    <p class="govuk-body">
                        This notice is supplemented by our <a href="https://www.great.gov.uk/privacy-and-cookies/">main privacy notice</a> which provides further information on how DBT processes personal data, and sets out your rights in respect of that personal data.
                    </p>
                    <h2 class="govuk-heading-m">Personal data DBT collects</h2>
                    <p class="govuk-body">
                        DBT collects information about people or businesses that receive a subsidy from a UK public authority, and information about individuals representing UK public authorities.
                    </p>
                    <p class="govuk-body">
                        DBT collects the following categories of personal data:

                        <ul class="govuk-list govuk-list--bullet">
                            <li>Names of businesses or individual sole traders receiving a subsidy from a UK public authority</li>
                            <li>Identifiers of businesses and individuals, including Unique Tax Reference (UTR) numbers for sole traders</li>
                            <li>Names and email addresses of individuals representing UK public authorities</li>
                        </ul>
                    </p>
                    <h2 class="govuk-heading-m">Why DBT asks for this information and what happens if it is not provided</h2>
                    <p class="govuk-body">
                        DBT collects this information to meet its obligations under ‘The Subsidy Control (Subsidy Database Information Requirements) Regulations 2022',
                         which requires UK public authorities to report on their subsidy schemes and subsidies they award.
                    </p>
                    <p class="govuk-body">
                        The ‘View subsidies awarded by UK public authorities’ service is provided by DBT to enable this reporting to take place. 
                        Personal data is collected through this service to:

                        <ul class="govuk-list govuk-list--bullet">
                            <li>identify businesses and individuals who have received a subsidy award</li>
                            <li>allow individuals representing UK public authorities to log into the ‘Manage UK Subsidies’ part of the service</li>
                            <li>send confirmation emails and reminders to individuals publishing entries on behalf of public authorities</li>
                        </ul>
                    </p>
                    <p class="govuk-body">
                        This personal data must be provided by all qualifying UK public authorities to meet their legal obligations under the regulations.
                    </p>
                    <h2 class="govuk-heading-m">The legal basis for processing your personal data</h2>
                    <p class="govuk-body">
                        The legal basis for processing your personal data (Article 6(1) UK General Data Protection Regulation (GDPR)) is that:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>processing is necessary for compliance with a legal obligation to which the controller is subject</li>
                            <li>processing is necessary for the performance of a task of the controller carried out in the public interest or a task carried out in the exercise of official authority vested in the controller</li>
                            <li>processing is necessary for the purposes of a recognised legitimate interest</li>
                        </ul>
                    </p>
                    <p class="govuk-body">
                        In some instances, we may process your data further for a compatible purpose and/or on other legal bases. For example, your data may be used for archiving, 
                        research and/or statistical purposes. 
                        These are compatible purposes for further processing in UK GDPR and your data will be subject to appropriate safeguards if used for such purposes.
                    </p>
                    <h2 class="govuk-heading-m">How DBT processes personal data it receives</h2>
                    <p class="govuk-body">
                        Once received:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>your data will be stored within the ‘View subsidies awarded by UK public authorities’ service</li>
                            <li>names of businesses and sole traders who have been awarded subsidies will be published openly on the ‘View subsidies awarded by UK public authorities’ service. 
                                Further publication may take place through a range of DBT digital channels</li>
                            <li>your data may also be processed within other DBT internal digital and data systems</li>
                        </ul>
                    </p>
                    <h2 class="govuk-heading-m">Third-party processors</h2>
                    <p class="govuk-body">
                        We use the following third-party processors to operate the service:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Microsoft Azure – DBT’s contracted cloud-hosting service provider for this service</li>
                            <li>Microsoft Active Directory – allows users to log in</li>
                            <li>CGI – the contracted supplier for developing and maintaining this service</li>
                            <li>Government Digital Service – provides the GOV.UK Notify service, used for confirmation emails</li>
                        </ul>
                    </p>
                    <h2 class="govuk-heading-m">Information sharing</h2>
                    <p class="govuk-body">
                        In addition to the open publishing of subsidy recipients, we may share personal data you provide:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>with other government departments, public authorities, law enforcement agencies and regulators including where the data is necessary for them to discharge their statutory functions</li>
                            <li>with other third parties where we consider it necessary in order to further our functions as a government department</li>
                            <li>in response to information requests, for example, under Freedom of Information (FOI) law or the Environmental Information Regulations (EIR)</li>
                            <li>to a court, tribunal or party where the disclosure is necessary in order to exercise, establish or defend a legal claim</li>
                            <li>where we are ordered to do so or where we are otherwise required to do so by law</li>
                            <li>with third party data processors as governed by contract</li>
                        </ul>
                    </p>
                    <p class="govuk-body">
                        You can find out more detailed information about how we share data and further processing in the <a href="https://www.great.gov.uk/privacy-and-cookies/">main privacy notice</a>.
                    </p>

                    <h2 class="govuk-heading-m">How long will DBT hold your data for</h2>
                    <p class="govuk-body">
                        DBT will only retain your personal data for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.
                    </p>
                    <p class="govuk-body">
                        Your personal data will be kept by us for the duration of your subsidy remaining on the database.
                    </p>
                    <p class="govuk-body">
                        If we decide that we need to process your personal data for a reason which is incompatible with the purposes for which we collected it for,
                        we will contact you to explain why we are doing this and why it is lawful to do so.
                    </p>
                    <p class="govuk-body">
                        To determine the appropriate retention period for personal data, we consider the amount, nature, and sensitivity of the personal data, the potential risk of harm from unauthorised use or disclosure of your personal data, 
                        the purposes for which we process your personal data and whether we can achieve those purposes through other means, and the applicable legal requirements.
                    </p>
                    <h2 class="govuk-heading-m">Your Rights</h2>
                    <p class="govuk-body">
                        You have a number of rights available to you under UK data protection legislation, including:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>the right to request copies of the personal data we hold about you</li>
                            <li>the right to request that we rectify information about you which you think is inaccurate or incomplete</li>
                            <li>the right to request that we restrict your data from further processing (in certain circumstances)</li>
                            <li>the right to object to the processing of your data (in certain circumstances)</li>
                            <li>the right to data portability (in certain circumstances)</li>
                            <li>the right to request that we erasure your data (in certain circumstances)</li>
                            <li>the right not to be subject to a decision based on solely automated data processing </li>
                        </ul>
                    </p>
                    <p class="govuk-body">
                        You can contact DBT’s Data Protection Officer for further information about how your data has been processed by the department or to make a complaint about how your data has been used. 
                        Please contact: <a href="mailto:data.protection@businessandtrade.gov.uk">data.protection@businessandtrade.gov.uk</a>
                    </p>
                    <p class="govuk-body">
                        You can also submit a complaint to the Information Commissioner’s Office (ICO) at:
                        <br/>
                        <br/>
                        Information Commissioner's Office<br/>
                        Wycliffe House<br/>
                        Water Lane<br/>
                        Wilmslow<br/>
                        Cheshire<br/>
                        SK9 5AF<br/>
                        <br/>
                        Website: <a href="https://ico.org.uk/">https://ico.org.uk/</a><br/>
                        <br/>
                        Telephone: 0303 123 1113<br/>
                        <br/>
                        You can find out more about your rights as a data subject, and details of how to contact our Data Protection Officer and the ICO in our <a href="https://www.great.gov.uk/privacy-and-cookies/">main privacy notice</a>.
                    </p>
                </div>
            </div>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/jquery.min.js"></script>
    <script src="/assets/javascripts/application.js"></script>
</body>

</html>