<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Subsidy Measures search page</title>
  <%- include('../partials/headercss.ejs') %>
</head>


<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <!-- <body class="govuk-template__body app-example-page js-enabled"> -->
      <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
      <!-- Disable browser validation for any examples that include form elements -->
      <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
      <div class="govuk-grid-row govuk-form-group">
        <div class="govuk-grid-column-full">
          <nav aria-label="Sub navigation">
            <ul class="govuk-sub-navigation__list">
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                  Granting Authorities
                </a>
              </li>

              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/manageusers">
                  Users
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                  Subsidy Measures
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" aria-current="page" href="/mysubsidyawards">
                  Subsidy Awards
                </a>
              </li>



              <li class="govuk-sub-navigation__item head-right">
                <a class="govuk-sub-navigation__link" href="/logintransparency">
                  Sign out
                </a>
              </li>
              <li class="govuk-sub-navigation__item head-right">
                <a class="govuk-sub-navigation__link" href="/logintransparency">
                  My account
                </a>
              </li>
            </ul>
          </nav>

        </div>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">


          <h1 class="govuk-heading-xl">Review subsidy award details before submitting for approval</h1>

          <!-- *************************************
              Review for subsidy details tab
              ************************************* -->
        </div>
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">Subsidy details</h2>
          <a rel="external" class="govuk-link head-right govuk-relative-position" href="/addsubsidyreview">
            <p>Change </p>
          </a>
        </div>
      </div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy control (SC) number
          </dt>
          <dd class="govuk-summary-list__value">
            <% if (Subsidy_Control_Number_Global !== '') { %>
            <%= Subsidy_Control_Number_Global %>
            <% } else { %>
            NA
            <% } %>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy scheme name
          </dt>
          <dd class="govuk-summary-list__value">
            <% if (Subsidy_Measure_Title_Global !== '') { %>
            <%= Subsidy_Measure_Title_Global %>
            <% } else { %>
            NA
            <% } %>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy purpose
          </dt>
          <dd class="govuk-summary-list__value">
            <%=  Subsidy_Objective_Plus_Other_Global %>
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy type
          </dt>
          <dd class="govuk-summary-list__value">
            <%=  Subsidy_Instrument_Plus_Other_Global %>

          </dd>
        </div>

        <% if( Subsidy_Instrument_Global == "Tax measures (tax credit, or tax/duty exemption)"  ) { %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy range
          </dt>
          <dd class="govuk-summary-list__value">
            <%= Subsidy_Full_Amount_Range_Global %>
          </dd>
        </div>

        <% } else { %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy amount
          </dt>
          <dd class="govuk-summary-list__value">
            <%= Subsidy_Element_Full_Amount_Global %>
          </dd>
        </div>

        <% }  %>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Granting Authority
          </dt>
          <dd class="govuk-summary-list__value">
            <%= Granting_Authority_Name_Global %>
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Award date
          </dt>
          <dd class="govuk-summary-list__value">
            <%= Legal_Granting_Date_Day_Global %> &nbsp; <%= GetMonthName %> &nbsp;
            <%= Legal_Granting_Date_Year_Global %>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Added by
          </dt>
          <dd class="govuk-summary-list__value">
            Sean Martin
          </dd>

        </div>

      </dl>

      <!-- *************************************
              Review for beneficialry details tab
              ************************************* -->

      <h2 class="govuk-heading-m">Recipient details</h2>
      <a rel="external" class="govuk-link head-right govuk-relative-position" href="/addsubsidyreview">
        <p>Change </p>
      </a>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            <%= Beneficiary_Name_Global %>
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation size
          </dt>
          <dd class="govuk-summary-list__value">
            <%= Size_of_the_Organisation_Global %>

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ID Type
          </dt>
          <dd class="govuk-summary-list__value">
            <%= National_ID_Type_Global %>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ID number
          </dt>
          <dd class="govuk-summary-list__value">
            <%= National_ID_Number_Global %>
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider of(goods or services)
          </dt>
          <dd class="govuk-summary-list__value">
            <%= Goods_or_Services_Global %>
          </dd>

        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Region
          </dt>
          <dd class="govuk-summary-list__value">
            <%= Spending_Region_Global %>

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sector
          </dt>
          <dd class="govuk-summary-list__value">
            <%= Spending_Sector_Global %>

          </dd>
        </div>

      </dl>



      <form action="/submitforapproval" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Submit for Approval
        </button>

        <a href="/subsidyawardreviewcancel" class="govuk-link govuk-cancel-button-link">Cancel</a>
      </form>

      <!-- <form action="/subsidyawardreviewcancel" method="get">
        <div>
          <button class=" govuk-button_cancel_lg govuk-button--secondary ">
            Cancel
          </button>
        </div>
      </form> -->



  </div>

  </main>
  </div>


</body>

<%- include('../partials/footer.ejs') %>


</html>