<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Subsidy Award review details page</title>
  <%- include('../partials/headercss.ejs') %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
  <script>
     // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
  </script>
</head>


<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
  <div class="govuk-width-container ">
    <main id="main-content" role="main">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help us to improve
            it.
          </span>
        </p>
      </div>
      <%- include('../partials/navigationbar.ejs') %>

      <!-- bread crumbs start here -->
      <div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/mysubsidyawards">Subsidy awards</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Review a subsidy award</a>
          </li>
        </ol>
      </div>
      <!-- bread crumbs ends here -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-xl">Review subsidy award details before
            <% if(ssn.dashboard_roles == 'Granting Authority Encoder') { %>
            submitting for approval
            <% } else { %>
            publishing
            <% } %></h1>
          <!-- *************************************
              Review for subsidy details tab
              ************************************* -->
        </div>
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">Subsidy details</h2>
          <a rel="external" aria-label="Change subsidy details" class="govuk-link head-right govuk-relative-position"
            href="/addsubsidyreview">
            <p>Change </p>
          </a>
        </div>
      </div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Standalone subsidy award
          </dt>
          <dd class="govuk-summary-list__value">
            <%=  ssn.Standalone_Award_Global %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy control (SC) number
          </dt>
          <dd class="govuk-summary-list__value">
            <% if (ssn.Subsidy_Control_Number_Global == '' || !ssn.Subsidy_Control_Number_Global) { %>
              NA
            <% } else { %>
              <%= ssn.Subsidy_Control_Number_Global %>
            <% } %>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy scheme name
          </dt>
          <dd class="govuk-summary-list__value">
            <% if (ssn.Subsidy_Measure_Title_Global !== '') { %>
            <%= ssn.Subsidy_Measure_Title_Global %>
            <% } else { %>
            NA
            <% } %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Admin program (AP) number
          </dt>
          <dd class="govuk-summary-list__value">
            <% if (ssn.Admin_Program_Number_Global !== '') { %>
            <%= ssn.Admin_Program_Number_Global %>
            <% } else { %>
            NA
            <% } %>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Admin program name
          </dt>
          <dd class="govuk-summary-list__value">
            <% if (ssn.Admin_Program_Name_Global !== '') { %>
            <%= ssn.Admin_Program_Name_Global %>
            <% } else { %>
            NA
            <% } %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidies or Schemes of Interest (SSoI) or Subsidies or Schemes of Particular Interest (SSoPI)
          </dt>
          <dd class="govuk-summary-list__value render-newlines"><%= (ssn.Standalone_Award_Global === 'No') ? 'NA' : ssn.Subsidy_Award_Interest_Global %></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Policy Objective
          </dt>
          <dd class="govuk-summary-list__value render-newlines"><%= ssn.Specific_Policy_Objective_Global %></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value render-newlines"><%= ssn.Subsidy_Award_Description_Global %></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy purpose
          </dt>
          <dd class="govuk-summary-list__value">
            <%=  ssn.Subsidy_Objective_Plus_Other_Global %>
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy form
          </dt>
          <dd class="govuk-summary-list__value">
            <%=  ssn.Subsidy_Instrument_Plus_Other_Global %>

          </dd>
        </div>

        <% if( ssn.Subsidy_Instrument_Global == "Tax measures (tax credit, or tax/duty exemption)"  ) { %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy range
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.Subsidy_Full_Amount_Range_Global %>
          </dd>
        </div>

        <% } else { %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subsidy amount
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.Subsidy_Element_Full_Amount_Global %>
          </dd>
        </div>

        <% }  %>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Public Authority
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.Granting_Authority_Name_Global %>
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Public authority policy URL
          </dt>
          <dd class="govuk-summary-list__value">
            <%= (ssn.Standalone_Award_Global === 'No') ? 'NA' : ssn.Authority_URL_Global %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Public authority policy page summary
          </dt>
          <dd class="govuk-summary-list__value">
            <%= (ssn.Standalone_Award_Global === 'No') ? 'NA' : ssn.Authority_URL_Description_Global %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Award date
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.Legal_Granting_Date_Day_Global %> &nbsp; <%= ssn.GetMonthName %> &nbsp;
            <%= ssn.Legal_Granting_Date_Year_Global %>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Added by
          </dt>
          <dd class="govuk-summary-list__value">
            <%=ssn.dashboard_user_name%>
          </dd>

        </div>

      </dl>

      <!-- *************************************
              Review for beneficialry details tab
              ************************************* -->

      <h2 class="govuk-heading-m">Recipient details</h2>
      <a rel="external" aria-label="Change Recipient details" class="govuk-link head-right govuk-relative-position"
        href="/addsubsidyreview">
        <p>Change </p>
      </a>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.Beneficiary_Name_Global %>
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation size
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.Size_of_the_Organisation_Global %>

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ID Type
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.National_ID_Type_Global %>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            ID number
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.National_ID_Number_Global %>
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Provider of(goods or services)
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.Goods_or_Services_Global %>
          </dd>

        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Region
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.Spending_Region_Global %>

          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sector
          </dt>
          <dd class="govuk-summary-list__value">
            <%= ssn.Spending_Sector_Global %>

          </dd>
        </div>

      </dl>



      <form action="/submitforapproval" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
          <% if(ssn.dashboard_roles == 'Granting Authority Encoder') { %>
          Submit for Approval
          <% } else {
            %>Publish<%
          } %>
        </button>

        <a href="/subsidyawardreviewcancel" class="govuk-link govuk-cancel-button-link">Cancel</a>
      </form>

      <!-- <form action="/subsidyawardreviewcancel" method="get">
        <div>
          <button class=" govuk-button_cancel_lg govuk-button--secondary ">
            Cancel
          </button>
        </div>
      </form> -->



  </div>

  </main>
  </div>

  <%- include('../partials/footer.ejs') %>
  <script>
    document.getElementById('subsidyaward-li').firstElementChild.setAttribute("aria-current", 'page');
  </script>
</body>



</html>