<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Edit Subsidy Schemes page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
         // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
    </script>
    <script>
        getSubsidyAdhoc = (event) => {
            if (event.target.value == 'Yes') {
                document.getElementById("endDateDiv").style.display = "none";
                document.getElementById("startDateLabel").textContent = "Date";
            }
            else {
                document.getElementById("endDateDiv").style.display = "block";
                document.getElementById("startDateLabel").textContent = "Start Date";
            }
        }
        getErrorList = (errorArray, adhoc) => {
            if (errorArray > 0) {
                document.getElementById("error-alert").focus();
            }
            if (adhoc == 'true' || adhoc == 'Yes') {
                document.getElementById("endDateDiv").style.display = "none";
                document.getElementById("startDateLabel").textContent = "Date";
            }
            else {
                document.getElementById("endDateDiv").style.display = "block";
                document.getElementById("startDateLabel").textContent = "Start Date";
            }
        }
        getSubsidyNoEndDate = (event) => {
            var checkBox = document.getElementById("myCheck");
            if (checkBox.checked == true) {
                document.getElementById("scheme_issued_end_day").value = "";
                document.getElementById("scheme_issued_end_month").value = "";
                document.getElementById("scheme_issued_end_year").value = "";
            }
            document.getElementById("scheme_issued_end_day").disabled = checkBox.checked;
            document.getElementById("scheme_issued_end_month").disabled = checkBox.checked;
            document.getElementById("scheme_issued_end_year").disabled = checkBox.checked;
        }

    </script>
    <script>
    function selectAll(source) {
        checkboxes = document.getElementsByClassName("govuk-checkboxes__input_spendingsector");
        for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
        }
    }
    </script>

</head>


<body class="govuk-template__body app-example-page"
    onload="getErrorList('<%=ssn.SubsidyArraySize%>','<%=ssn.Subsidy_Adhoc_Global%>'); getSubsidyNoEndDate()">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>
            <!-- Header pane starts here -->
            <!-- <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav class="govuk-sub-navigation" aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>

                            <li class='govuk-sub-navigation__item head-right'>
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Signout
                                </a>
                            </li>
                            <li class='govuk-sub-navigation__item head-right'>
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div> -->
            <!-- Header pane starts here -->
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidymeasures">Subsidy schemes</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Edit subsidy scheme</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <% if( ssn.SubsidyArraySize > 0 ){ %>

            <div tabindex="-1" class="govuk-error-summary" id="error-alert" role="alert"
                aria-labelledby="error-summary-title" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>

                <div class="govuk-error-summary__body">
                    <% for(var i=0; i < ssn.SubsidyArraySize ; i++) {%>
                    <ul class="govuk-list govuk-error-summary__list">

                        <li> <a href="<%= ssn.SubsidyFocus[i] %>"> <%= ssn.SubsidyErrors[i] %> </a> </li>
                    </ul>
                    <% } %>
                </div>

            </div>

            <% } %>
            <!-- Body header starts here -->
            <h1 class="govuk-heading-xl">Edit subsidy scheme</h1>

            <p class="govuk-body govuk-!-font-size-19">This section is for adding a subsidy scheme. To add a new award
                under an existing scheme, you can add <a href="/addsubsidyaward" aria-label="Add Single Award">a subsidy
                    award</a> or use the bulk
                upload to <a href="/bulkuploadsubsidy" aria-label="Bulk Upload Subsidy Awards">add multiple
                    subsidy awards</a>.</p>
            <!-- Body header ends here -->
            <label class="govuk-heading-l">
                Subsidy scheme details
            </label>

            <form action="/subsidymeasurereditreview" method="POST">

                <section class="govuk-grid-row">

                    <!-- adhoc subsidy details -->
                        <div class="govuk-form-group govuk-grid-column-two-thirds" hidden>
                            <label class="govuk-label" for="address-line-1">
                                Is this for an ad hoc subsidy?
                            </label>
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        What is an ad hoc subsidy?
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    An ad hoc subsidy scheme is a scheme created specifically for one subsidy award. If
                                    you create an ad hoc subsidy scheme, you will only be able to add one subsidy award
                                    under it.
                                </div>
                            </details>
                            <% if( ssn.Subsidy_Adhoc_Error ){ %>
                            <span class="govuk-error-message" id="Subsidy_adhoc_Error">
                                <span class="govuk-visually-hidden">Error:</span> Select the adhoc subsidy scheme
                            </span>
                            <% }  %>
                            <div class="govuk-radios" id="Subsidy_Adhoc">
                                <div class="govuk-radios__item">
                                    <% if(ssn.Subsidy_Adhoc_Global == 'true' || ssn.Subsidy_Adhoc_Global == 'Yes') { %>
                                    <input class="govuk-radios__input" onchange="getSubsidyAdhoc(event)"
                                        name="Subsidy_Adhoc" id="adhocyes" type="radio" value="Yes" checked>
                                    <% } else { %>
                                    <input class="govuk-radios__input" onchange="getSubsidyAdhoc(event)"
                                        name="Subsidy_Adhoc" id="adhocyes" type="radio" value="Yes" onclick="return false;">
                                    <% } %>
                                    <label class="govuk-label govuk-radios__label" for="adhocyes">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <% if(ssn.Subsidy_Adhoc_Global == 'No' || ssn.Subsidy_Adhoc_Global == 'false') { %>
                                    <input class="govuk-radios__input" onchange="getSubsidyAdhoc(event)"
                                        name="Subsidy_Adhoc" id="adhocno" type="radio" value="No" checked>
                                    <% } else { %>
                                    <input class="govuk-radios__input" onchange="getSubsidyAdhoc(event)"
                                        name="Subsidy_Adhoc" id="adhocno" type="radio" value="No" onclick="return false;">
                                    <% } %>
                                    <label class="govuk-label govuk-radios__label" for="adhocno">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                            <label class="govuk-label" for="address-line-1">
                                Subsidy scheme number
                            </label>
                            <input class="govuk-input govuk-!-width-one-half" id="scNumber"
                                value="<%=ssn.scNumber_Global%>" readonly name="scNumber" type="text">
                        </div>
                        <!-- granting authority details -->

                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                            <label class="govuk-label" for="address-line-1">
                                Granting Authority
                            </label>
                            <input class="govuk-input govuk-!-width-one-half" id="Granting_Authority_Name"
                                value="<%=ssn.Granting_Authority_Name_Global%>" readonly name="Granting_Authority_Name"
                                type="text">
                        </div>

                        <!-- subsidy measure details -->

                        <% if( ssn.Subsidy_Measure_Title_Error ){ %>
                        <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                            <% } else { %>
                            <div class="govuk-form-group govuk-grid-column-two-thirds">
                                <% }  %>
                                <label class="govuk-label" for="address-line-1">
                                    Subsidy scheme name
                                </label>

                                <% if( ssn.Subsidy_Measure_Title_Error ){ %>
                                <span class="govuk-error-message" id="Subsidy_Measure_Title_Error">
                                    <span class="govuk-visually-hidden">Error:</span> Enter a valid subsidy
                                    scheme name
                                </span>
                                <% }  %>
                                <input class="govuk-input govuk-!-width-one-half" id="Subsidy_Measure_Title"
                                    name="Subsidy_Measure_Title" type="text"
                                    value="<%= ssn.Subsidy_Measure_Title_Global %>">
                            </div>

                            <!-- <% if( ssn.Subsidy_Scheme_Description_Error){ %>
                                <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                    <% } else { %>
                                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                                        <% }  %>
                                        <label class="govuk-label" for="address-line-1">
                                            Subsidy scheme description
                                        </label>
                                        <details class="govuk-details" data-module="govuk-details">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    What is a Subsidy scheme description?
                                                </span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                Please provide a summary description of the subsidy scheme which includes information such as location, enterprise eligibility, the basis for calculating subsidies under the scheme and any other information required by the Subsidy Control (Subsidy Database Information Requirements) Regulations 2022 which is not already included in the database entry.
                                            </div>
                                                <% if(ssn.Subsidy_Scheme_Description_Error || ssn.Subsidy_Scheme_Description_Error_Length){ %>
                                                    <span class="govuk-error-message" id="Subsidy_Objective_Error">
                                                    <span class="govuk-visually-hidden">Error:</span>
                                                    <% if(ssn.Subsidy_Scheme_Description_Error){ %>
                                                        You must provide a description of the subsidy scheme
                                                    <% } else { %>
                                                        The subsidy award description must be 5000 characters or less
                                                    <% } %>
                                                    </span>
                                                <% } %>
                                                <textarea class="govuk-textarea govuk-js-character-count" id="Subsidy_Scheme_Description" name="Subsidy_Scheme_Description" rows="5" aria-describedby="Subsidy_Scheme_Description-info"><%= ssn.Subsidy_Scheme_Description_Global %></textarea>
                                    </div>
                                </details> -->

                                <% if( ssn.Subsidy_Scheme_Description_Error ||ssn.Subsidy_Scheme_Description_5000_Error){ %>
                                    <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                        <% } else { %>
                                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                                            <% }  %>
                                            <label class="govuk-label" for="address-line-1">
                                                Subsidy scheme description
                                            </label>
                                            <details class="govuk-details" data-module="govuk-details">
                                                <summary class="govuk-details__summary">
                                                    <span class="govuk-details__summary-text">
                                                        What is a Subsidy scheme description?
                                                    </span>
                                                </summary>
                                                <div class="govuk-details__text">
                                                    Please provide a summary description of the subsidy scheme which includes information such as location, enterprise eligibility, the basis for calculating subsidies under the scheme and any other information required by the Subsidy Control (Subsidy Database Information Requirements) Regulations 2022 which is not already included in the database entry.
                                                </div>
                                            </details>

                                            <!-- <div class="govuk-hint">A short summary of the policy page that you provided
                                                the URL for. For example, Water Purity Scheme policy page.
                                            </div> -->
                                            <% if( ssn.Subsidy_Scheme_Description_Error ){ %>
                                            <span class="govuk-error-message" id="Granting_Authority_Policy_Error">
                                                <span class="govuk-visually-hidden">Error:</span> Enter a valid
                                                granting authority policy page description
                                            </span>

                                            <% } else if( ssn.Subsidy_Scheme_Description_5000_Error ){ %>
                                            <span class="govuk-error-message" id="Granting_Authority_Policy_Error">
                                                <span class="govuk-visually-hidden">Error:</span> Subsidy scheme description cannot be greater than 5000 characters
                                            </span>
                                            <% }  %>
                                            <!-- <input class="govuk-input" id="Subsidy_Scheme_Description"
                                                name="Subsidy_Scheme_Description" type="text"
                                                value="<%= ssn.Subsidy_Scheme_Description_Global%>"> -->

                                                <textarea class="govuk-textarea govuk-js-character-count" id="Subsidy_Scheme_Description" name="Subsidy_Scheme_Description" rows="5" aria-describedby="Subsidy_Scheme_Description-info"><%= ssn.Subsidy_Scheme_Description_Global %></textarea>
                                        </div>

                            <!-- legal basis details -->

                            <% if( ssn.Legal_Basis_Error ){ %>
                            <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                <% } else { %>
                                <div class="govuk-form-group govuk-grid-column-two-thirds">
                                    <% }  %>
                                    <label class="govuk-label" for="Legal_Basis">
                                        Legal basis
                                    </label>
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                What is Legal basis?
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            This is the legal justification of this subsidy scheme.
                                        </div>
                                    </details>

                                    <% if( ssn.Legal_Basis_Error ){ %>
                                    <span class="govuk-error-message" id="Legal_Basis_Error">
                                        <span class="govuk-visually-hidden">Error:</span> Enter a valid legal basis
                                    </span>
                                    <% }  %>
                                    <input class="govuk-input govuk-!-width-one-half" id="Legal_Basis"
                                        name="Legal_Basis" type="text" value="<%= ssn.Legal_Basis_Global %>">
                                </div>

                                <!-- Granting authority URL details -->

                                <% if( ssn.Granting_Authority_URL_Error ){ %>
                                <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                    <% } else { %>
                                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                                        <% }  %>
                                        <label class="govuk-label" for="address-line-1">
                                            Granting authority policy URL
                                        </label>
                                        <details class="govuk-details" data-module="govuk-details">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    What is Granting authority policy URL?
                                                </span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                This is the web address for the policy that
                                                this subsidy scheme is related to.
                                            </div>
                                        </details>
                                        <% if( ssn.Granting_Authority_URL_Error ){ %>
                                        <span class="govuk-error-message" id="Granting_Authority_URL_Error">
                                            <span class="govuk-visually-hidden">Error:</span> Enter a valid granting
                                            authority URL

                                        </span>
                                        <% }  %>
                                        <input class="govuk-input " name="Granting_Authority_URL"
                                            id="Granting_Authority_URL" type="text"
                                            value="<%= ssn.Granting_Authority_URL_Global %>">
                                    </div>

                                    <!-- granting authority ploicy details -->

                                    <% if( ssn.Granting_Authority_Policy_Error ){ %>
                                    <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                        <% } else { %>
                                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                                            <% }  %>
                                            <label class="govuk-label" for="address-line-1">
                                                Granting authority policy page description
                                            </label>
                                            <details class="govuk-details" data-module="govuk-details">
                                                <summary class="govuk-details__summary">
                                                    <span class="govuk-details__summary-text">
                                                        What should a Granting authority policy page description be?
                                                    </span>
                                                </summary>
                                                <div class="govuk-details__text">
                                                    A short summary of the policy page that you provided the URL for.
                                                    For example, Water Purity Scheme policy page.
                                                </div>
                                            </details>
                                            <% if( ssn.Granting_Authority_Policy_Error ){ %>
                                            <span class="govuk-error-message" id="Granting_Authority_Policy_Error">
                                                <span class="govuk-visually-hidden">Error:</span> Enter a valid granting
                                                authority
                                                policy page description
                                            </span>
                                            <% }  %>
                                            <input class="govuk-input" id="Granting_Authority_Policy"
                                                name="Granting_Authority_Policy" type="text"
                                                value="<%= ssn.Granting_Authority_Policy_Global %>">
                                        </div>

                                        <!-- budget details -->

                                        <% if( ssn.Budget_Error ){ %>
                                        <div
                                            class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                            <% } else { %>
                                            <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                <% }  %>
                                                <label class="govuk-label" for="address-line-1">
                                                    Budget (£)
                                                </label>
                                                <div class="govuk-hint">
                                                    For example, 12000000
                                                </div>
                                                <details class="govuk-details" data-module="govuk-details">
                                                    <summary class="govuk-details__summary">
                                                        <span class="govuk-details__summary-text">
                                                            What is budget?
                                                        </span>
                                                    </summary>
                                                    <div class="govuk-details__text">
                                                        For ad hoc subsidies, enter the exact amount. For other subsidy
                                                        schemes, enter the overall budget. Please use numeric values only.
                                                    </div>
                                                </details>
                                                <% if( ssn.Budget_Error ){ %>
                                                <span class="govuk-error-message" id="Budget_Error">
                                                    <span class="govuk-visually-hidden">Error:</span> Enter a valid
                                                    budget

                                                </span>
                                                <% }  %>
                                                <div class="govuk-input__wrapper">
                                                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                                    <input class="govuk-input govuk-!-width-one-third" id="Budget"
                                                        name="Budget" type="number" value="<%= formatedCurrency %>"
                                                        inputmode="numeric"  min="0" step="0.01">
                                                </div>

                                            </div>

                                            <% if( ssn.scheme_issued_confirmation_day_Error || ssn.scheme_issued_confirmation_month_Error || ssn.scheme_issued_confirmation_year_Error ){ %>
                                                <div
                                                    class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                                    <% } else { %>
                                                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                        <% }  %>
                                                        <label class="govuk-label" for="address-line-1" id="confirmationDateLabel">
                                                            Confirmation Date
                                                        </label>
                                                        <div class="govuk-hint">
                                                            For example, 25 5 2022
                                                        </div>
                                                        <details class="govuk-details" data-module="govuk-details">
                                                            <summary class="govuk-details__summary">
                                                                <span class="govuk-details__summary-text">
                                                                    What is confirmation date?
                                                                </span>
                                                            </summary>
                                                            <div class="govuk-details__text">
                                                                Confirmation date is the date that a public authority confirms the decision to make a subsidy scheme.
                                                            </div>
                                                        </details>
                                                        <% if( ssn.scheme_issued_confirmation_day_Error || ssn.scheme_issued_confirmation_month_Error || ssn.scheme_issued_confirmation_year_Error){ %>
                                                        <span class="govuk-error-message" id="Date_Error">
                                                            <span class="govuk-visually-hidden">Error:</span>
                                                            Enter a valid date
                                                        </span>
                                                        <% }  %>
                                                        <div class="govuk-date-input" id="scheme-issued">
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_confirmation_day">
                                                                        Day
                                                                    </label>

                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                        id="scheme_issued_confirmation_day"
                                                                        name="scheme_issued_confirmation_day" type="text"
                                                                        placeholder="DD" pattern="[0-9]*"
                                                                        inputmode="numeric"
                                                                        value="<%=ssn.Scheme_Confirmation_Day_Global %>">
                                                                </div>
                                                            </div>
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_confirmation_month">
                                                                        Month
                                                                    </label>

                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                        id="scheme_issued_confirmation_month"
                                                                        value="<%= ssn.Scheme_Confirmation_Month_Global %>"
                                                                        name="scheme_issued_confirmation_month" placeholder="MM"
                                                                        type="text" pattern="[0-9]*" inputmode="numeric">
                                                                </div>
                                                            </div>
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_confirmation_year">
                                                                        Year
                                                                    </label>

                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                                        id="scheme_issued_confirmation_year"
                                                                        name="scheme_issued_confirmation_year" type="text"
                                                                        pattern="[0-9]*" inputmode="numeric"
                                                                        value="<%= ssn.Scheme_Confirmation_Year_Global %>"
                                                                        placeholder="YYYY"></div>
                                                            </div>
                                                        </div>

                                                    </div>

                                            <% if( ssn.scheme_issued_start_day_Error || ssn.scheme_issued_start_month_Error || ssn.scheme_issued_start_year_Error ){ %>
                                            <div
                                                class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                                <% } else { %>
                                                <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                    <% }  %>
                                                    <label class="govuk-label" for="address-line-1" id="startDateLabel">
                                                        <% if(ssn.searchmeasuredetails.adhoc == 'true') { %>
                                                        Date
                                                        <%} else {%>
                                                        Start Date
                                                        <% }  %>
                                                    </label>
                                                    <div class="govuk-hint">
                                                        For example, 25 3 2020
                                                    </div>
                                                    <% if( ssn.scheme_issued_start_day_Error || ssn.scheme_issued_start_month_Error || ssn.scheme_issued_start_year_Error){ %>
                                                    <span class="govuk-error-message" id="Date_Error">
                                                        <span class="govuk-visually-hidden">Error:</span>
                                                        Enter a valid date
                                                    </span>
                                                    <% }  %>
                                                    <div class="govuk-date-input" id="scheme-issued">
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label"
                                                                    for="scheme_issued_start_day">
                                                                    Day
                                                                </label>

                                                                <input
                                                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                    id="scheme_issued_start_day"
                                                                    name="scheme_issued_start_day" type="text"
                                                                    placeholder="DD" pattern="[0-9]*"
                                                                    inputmode="numeric"
                                                                    value="<%=ssn.Scheme_Start_Day_Global %>">
                                                            </div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label"
                                                                    for="scheme_issued_start_month">
                                                                    Month
                                                                </label>

                                                                <input
                                                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                    id="scheme_issued_start_month"
                                                                    value="<%= ssn.Scheme_Start_Month_Global %>"
                                                                    name="scheme_issued_start_month" placeholder="MM"
                                                                    type="text" pattern="[0-9]*" inputmode="numeric">
                                                            </div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label"
                                                                    for="scheme_issued_start_year">
                                                                    Year
                                                                </label>

                                                                <input
                                                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                                    id="scheme_issued_start_year"
                                                                    name="scheme_issued_start_year" type="text"
                                                                    pattern="[0-9]*" inputmode="numeric"
                                                                    value="<%= ssn.Scheme_Start_Year_Global %>"
                                                                    placeholder="YYYY"></div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <!-- shceme end date details -->
                                                <% if(ssn.scheme_issued_end_day_lesser_Error|| ssn.scheme_issued_end_day_Error || ssn.scheme_issued_end_month_Error || ssn.scheme_issued_end_year_Error ){ %>
                                                <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error"
                                                    id="endDateDiv">
                                                    <% } else { %>
                                                    <div class="govuk-form-group govuk-grid-column-two-thirds"
                                                        id="endDateDiv">
                                                        <% }  %>
                                                        <label class="govuk-label" for="address-line-1">
                                                            End Date
                                                        </label>
                                                        <div class="govuk-hint">
                                                            For example, 25 3 2021
                                                        </div>
                                                        <% if( ssn.scheme_issued_end_day_Error  || ssn.scheme_issued_end_month_Error || ssn.scheme_issued_end_year_Error){ %>
                                                        <span class="govuk-error-message" id="EndDate_Error">
                                                            <span class="govuk-visually-hidden">Error:</span>
                                                            Enter a date
                                                        </span>
                                                        <% }else if(ssn.scheme_issued_end_day_lesser_Error) { %>
                                                        <span class="govuk-error-message" id="EndDate_Error">
                                                            <span class="govuk-visually-hidden">Error:</span>
                                                            End date should be later than start date
                                                        </span>
                                                        <% } %>
                                                        <div class="govuk-date-input" id="scheme-issued">
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_end_day">
                                                                        Day
                                                                    </label>

                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                        id="scheme_issued_end_day"
                                                                        value="<%= ssn.Scheme_End_Day_Global %>"
                                                                        name="scheme_issued_end_day" type="text"
                                                                        placeholder="DD" pattern="[0-9]*"
                                                                        inputmode="numeric"></div>
                                                            </div>
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_end_month">
                                                                        Month
                                                                    </label>

                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                        id="scheme_issued_end_month"
                                                                        value="<%= ssn.Scheme_End_Month_Global %>"
                                                                        name="scheme_issued_end_month" placeholder="MM"
                                                                        type="text" pattern="[0-9]*"
                                                                        inputmode="numeric">
                                                                </div>
                                                            </div>
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_end_year">
                                                                        Year
                                                                    </label>

                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                                        id="scheme_issued_end_year"
                                                                        value="<%= ssn.Scheme_End_Year_Global %>"
                                                                        name="scheme_issued_end_year" type="text"
                                                                        pattern="[0-9]*" inputmode="numeric"
                                                                        placeholder="YYYY"></div>
                                                            </div>
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-checkboxes__item">
                                                                    <input class="govuk-checkboxes__input" onclick="getSubsidyNoEndDate(event)" id="myCheck" name="myCheck" type="checkbox"<% if (ssn.Has_No_End_Date) { %>
                                                                        checked <% } %> >
                                                                    <label class="govuk-label govuk-checkboxes__label" for="myCheck"> No End Date </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                            <div class="govuk-form-group govuk-grid-column-two-thirds">        
                                                                <fieldset class="govuk-fieldset" aria-describedby="sector-hint">
                                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-grid-column-two-thirds">
                                                                    <!-- <div class="govuk-grid-row">
                                                                        <div class="govuk-grid-column-two-thirds"> -->
                                                                    <!-- </div>
                                                                        </div> -->
                                                                    </legend>
                                                                    <div class="govuk-grid-row govuk-form-group">
                                                                    <div class="govuk-grid-column-full">
                                                                        <p id="sector-hint" class="govuk-body " for="subsidylabel">
                                                                        Select one or more sector(s)
                                                                        </p>
                                                                    </div>
                                                                    </div>
                                                        
                                                                    <div class="govuk-checkboxes govuk-form-group" data-module="govuk-checkboxes">
                                                                    <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" onclick="selectAll(this)" id="spendingsector-0" name="select-all" type="checkbox"
                                                                        value="Select all"
                                                                        data-aria-controls="conditional-spendingsector-0">
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-0">
                                                                        Select all
                                                                        </label>
                                                                    </div>
                                                        
                                                                    <div class="govuk-checkboxes__conditional" id="conditional-objective0">
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-accommodation" name="spendingsector_accommodation"
                                                                            type="checkbox" value="Accommodation and food service activities"<% if (ssn.spendingsector_accommodation_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-accommodation">
                                                                            Accommodation and food service activities
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-activities-of-extraterritorial"
                                                                            name="spendingsector_activities_of_extraterritorial" type="checkbox" value="Activities of extraterritorial organisations and bodies" <% if (ssn.spendingsector_activities_of_extraterritorial_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-activities-of-extraterritorial">
                                                                            Activities of extraterritorial organisations and bodies
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-undifferentiated-goods"
                                                                            name="spendingsector_undifferentiated_goods" type="checkbox"
                                                                            value="Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use" <% if (ssn.spendingsector_undifferentiated_goods_Global) { %>
                                                                                checked <% } %>> 
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-undifferentiated-goods">
                                                                            Activities of households as employers; undifferentiated goods- and services-producing activities of
                                                                            households for own use
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-administrative" name="spendingsector_administrative"
                                                                            type="checkbox" value="Administrative and support service activities" <% if (ssn.spendingsector_administrative_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-administrative">
                                                                            Administrative and support service activities
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-agriculture-forestry-and-fishing"
                                                                            name="spendingsector_agriculture_forestry_and_fishing" type="checkbox" value="Agriculture, forestry and fishing" <% if (ssn.spendingsector_agriculture_forestry_and_fishing_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label"
                                                                            for="spendingsector-agriculture-forestry-and-fishing">
                                                                            Agriculture, forestry and fishing
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-arts-entertainment" name="spendingsector_arts_entertainment"
                                                                            type="checkbox" value="Arts, entertainment and recreation" <% if (ssn.spendingsector_arts_entertainment_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-arts-entertainment">
                                                                            Arts, entertainment and recreation
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-construction" name="spendingsector_construction"
                                                                            type="checkbox" value="Construction" <% if (ssn.spendingsector_construction_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-construction">
                                                                            Construction
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-education" name="spendingsector_education"
                                                                            type="checkbox" value="Education" <% if (ssn.spendingsector_education_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-education">
                                                                            Education
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector"
                                                                            id="spendingsector-Electricity-gas-steam-and-air-conditioning-supply" name="spendingsector_Electricity_gas_steam_and_air_conditioning_supply"
                                                                            type="checkbox" value="Electricity, gas, steam and air conditioning supply" <% if (ssn.spendingsector_Electricity_gas_steam_and_air_conditioning_supply_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label"
                                                                            for="spendingsector-Electricity-gas-steam-and-air-conditioning-supply">
                                                                            Electricity, gas, steam and air conditioning supply
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-financial-and-insurance-activities"
                                                                            name="spendingsector_financial_and_insurance_activities" type="checkbox" value="Financial and insurance activities" <% if (ssn.spendingsector_financial_and_insurance_activities_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label"
                                                                            for="spendingsector-financial-and-insurance-activities">
                                                                            Financial and insurance activities
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-human-health" name="spendingsector_human_health"
                                                                            type="checkbox" value="Human health and social work activities" <% if (ssn.spendingsector_human_health_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-human-health">
                                                                            Human health and social work activities
                                                                        </label>
                                                                        </div>
                                                        
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-information-and-communication"
                                                                            name="spendingsector_information_and_communication" type="checkbox" value="Information and communication" <% if (ssn.spendingsector_information_and_communication_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-information-and-communication">
                                                                            Information and communication
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-Manufacturing" name="spendingsector_Manufacturing"
                                                                            type="checkbox" value="Manufacturing" <% if (ssn.spendingsector_Manufacturing_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-Manufacturing">
                                                                            Manufacturing
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-mining-and-quarrying" name="spendingsector_mining_and_quarrying"
                                                                            type="checkbox" value="Mining and quarrying" <% if (ssn.spendingsector_mining_and_quarrying_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-mining-and-quarrying">
                                                                            Mining and quarrying
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-Other-service-activities"
                                                                            name="spendingsector_Other_service_activities" type="checkbox" value="Other service activities" <% if (ssn.spendingsector_Other_service_activities_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-Other-service-activities">
                                                                            Other service activities
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-professional" name="spendingsector_professional"
                                                                            type="checkbox" value="Professional, scientific and technical activities" <% if (ssn.spendingsector_professional_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-professional">
                                                                            Professional, scientific and technical activities
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-public-administration" name="spendingsector_public_administration"
                                                                            type="checkbox" value="Public administration and defence; compulsory social security" <% if (ssn.spendingsector_public_administration_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-public-administration">
                                                                            Public administration and defence; compulsory social security
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-real-estate-activities"
                                                                            name="spendingsector_real_estate_activities" type="checkbox" value="Real estate activities" <% if (ssn.spendingsector_real_estate_activities_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-real-estate-activities">
                                                                            Real estate activities
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-transportation-and-storage"
                                                                            name="spendingsector_transportation_and_storage" type="checkbox" value="Transportation and storage" <% if (ssn.spendingsector_transportation_and_storage_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-transportation-and-storage">
                                                                            Transportation and storage
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-water-supply" name="spendingsector_water_supply"
                                                                            type="checkbox" value="Water supply; sewerage, waste management and remediation activities" <% if (ssn.spendingsector_water_supply_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-water-supply">
                                                                            Water supply; sewerage, waste management and remediation activities
                                                                        </label>
                                                                        </div>
                                                        
                                                                        <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input govuk-checkboxes__input_spendingsector" id="spendingsector-wholesale-and-retail-trade"
                                                                            name="spendingsector_wholesale_and_retail_trade" type="checkbox"
                                                                            value="Wholesale and retail trade; repair of motor vehicles and motorcycles" <% if (ssn.spendingsector_wholesale_and_retail_trade_Global) { %>
                                                                                checked <% } %>>
                                                                        <label class="govuk-label govuk-checkboxes__label" for="spendingsector-wholesale-and-retail-trade">
                                                                            Wholesale and retail trade; repair of motor vehicles and motorcycles
                                                                        </label>
                                                                        </div>
                                                        
                                                                    </div>
                                                                    </div>
                                                        
                                                                </fieldset>
                                                            </div>

                                                    <!-- action button details -->

                                                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                        <button class="govuk-button" data-module="govuk-button"
                                                            name="buttonvalue" value="Update">Update</button>
                                                        <a href="/cancelsubsidymeasure?scheme=<%=ssn.scNumber_Global%>"
                                                            class="govuk-link govuk-cancel-button-link"
                                                            data-module="govuk-button" name="buttonvalue"
                                                            value="Cancel">Cancel</a>
                                                    </div>
                </section>

            </form>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
    <script>
        document.getElementById('subsidyscheme-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>