<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOV.UK - Subsidy Award Fetch Rejected page</title>
  <%- include('../partials/headercss.ejs') %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-145652997-21');
  </script>
</head>

<body class="govuk-template__body app-example-page">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>

  <div class="govuk-width-container ">

    <main id="main-content" role="main">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help us to improve
            it.
          </span>
        </p>
      </div>

      <div class="govuk-grid-row govuk-form-group">
        <div class="govuk-grid-column-full">
          <nav aria-label="Sub navigation">
            <ul class="govuk-sub-navigation__list">
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                  Granting Authorities
                </a>
              </li>

              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/userselect">
                  Users
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                  Subsidy Schemes
                </a>
              </li>
              <li class="govuk-sub-navigation__item">
                <a class="govuk-sub-navigation__link" aria-current="page" href="/mysubsidyawards">
                  Subsidy Awards
                </a>
              </li>



              <li class="govuk-sub-navigation__item head-right">
                <a class="govuk-sub-navigation__link" href="/logintransparency">
                  Sign out
                </a>
              </li>
              <li class="govuk-sub-navigation__item head-right">
                <a class="govuk-sub-navigation__link" href="/useraccount">
                  My account
                </a>
              </li>
            </ul>
          </nav>

        </div>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl">
              Review subsidy award information before sending for approval
            </h1>
          </legend>
        </div>

      </div>

      <!-- Reject Message Block -->

      <% if( Get_Award_Status =="Rejected") { %>

      <div class="govuk-form-group app-example">
        <div class="app-example__toolbar">
          <label>Comments from approver</label>
        </div>
        <div class="app-example__frame">
          <% if(fetchawarddetails.status) { %>
          <p> <%= fetchawarddetails.rejectReason %></p>
          <% } else { %>
          <p>The subsidy award reject reason not mentioned by the approver </p>
          <% } %>
        </div>
      </div>

      <% } %>
      <!-- Reject Message Block -->

      <h2 class="govuk-heading-m">
        Subsidy details
      </h2>

      <form action="/subsidyawardaction" method="POST">
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy control (SC) number
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.subsidyMeasure.scNumber %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy scheme name
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.subsidyMeasure.subsidyMeasureTitle %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy purpose
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.subsidyObjective %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy type
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.subsidyInstrument%>
            </dd>
          </div>
          <% if (fetchawarddetails.subsidyInstrument == "Tax measures (tax credit, or tax/duty exemption)") { %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy range
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.subsidyFullAmountRange%>
            </dd>
          </div>
          <% } else { %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subsidy amount
            </dt>
            <dd class="govuk-summary-list__value">
              £<%= fetchawarddetails.subsidyFullAmountExact%>
            </dd>
          </div>
          <% } %>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Granting Authority
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.grantingAuthorityResponse.grantingAuthorityName  %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Award date
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.legalGrantingDate %>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">
          Recipient details
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.beneficiary.beneficiaryName  %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation size
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.beneficiary.orgSize %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ID Type
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.beneficiary.nationalIdType   %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ID number
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.beneficiary.nationalId  %>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Provider of (good or services)
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.goodsServicesFilter %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Region
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.spendingRegion %>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sector
            </dt>
            <dd class="govuk-summary-list__value">
              <%= fetchawarddetails.spendingSector %>
            </dd>
          </div>

        </dl>
        <button class="govuk-button" data-module="govuk-button" name="Award_status" id="Award_status" value="Editaward">
          Edit</button>
        <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="Award_status"
          id="Award_status" value="Rejected">
          Reject </button>

        <a value="Cancel" href="/subsidyawardfetchcancel" class="govuk-button-cancel" name="Award_status"
          aria-label="cancel the current award rejection page and ">Cancel</a>
      </form>
    </main>

  </div>
  <%- include('../partials/footer.ejs') %>
</body>

</html>