<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - <%= ssn.searchmeasuredetails.subsidyMeasureTitle %> scheme details page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
         // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
    </script>
    <script>
        const formatter = new Intl.NumberFormat("en-GB");
        getFormatedCurrency = (budget) => {
            if (budget.toString().includes(","))
                budget = budget.split(",").join("");
            formatedCurrency = formatter.format(budget);
            document.getElementById("formatText").textContent = '£ ' + formatedCurrency;
            // formatedCurrency = "$" + budget.replace(/\d(?=(\ d{3})+\. )/g, "$&,");
            // formatedCurrency = formatter.format(parseInt(budget))
            // formatedCurrency = budget.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            // alert(formatedCurrency);
            //document.getElementById("formatText").textContent = '£ ' + formatedCurrency;
        }
    </script>
    <style>
        .govuk-inative-status {
            float: left;
            width: 100%;
            padding: 1%;
        }
    </style>
</head>

<body class="govuk-template__body app-example-page"
    onload="getFormatedCurrency('<%= ssn.searchmeasuredetails.budget %>')">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <!-- header start here -->
            <%- include('../partials/navigationbar.ejs') %>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidymeasures">Subsidy schemes</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page"
                            href="#"><%= ssn.searchmeasuredetails.subsidyMeasureTitle %></a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <!-- <h1 class="govuk-heading-xl">Review subsidy scheme </h1> -->
                    <h1 class="govuk-heading-xl"><%= ssn.searchmeasuredetails.subsidyMeasureTitle %></h1>
                    <!-- *************************************
              Review for subsidy details tab
              ************************************* -->

                </div>
                <% if(ssn.searchmeasuredetails.status == 'Inactive') { %>
                <div class="govuk-grid-column-full">
                    <div class="govuk-form-group app-example govuk-inative-status">
                        <div class="app-example__toolbar">
                            <label>This scheme is not active</label>
                        </div>
                    </div>
                </div>
                <% } else if(ssn.searchmeasuredetails.status == "Deleted") {%>
                    <div class="govuk-form-group app-example govuk-inative-status">
                        <div class="app-example__toolbar">
                            <label>This scheme has been deleted</label>
                        </div>
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Deleted by
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <%= ssn.searchmeasuredetails.deletedBy %>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Deleted date/time
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <%= ssn.searchmeasuredetails.deletedTimestamp %>
                                </dd>
                            </div>
                        </dl>
                    </div>
                <% } %>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">Subsidy scheme details
                    </h2>
                    <% if(ssn.searchmeasuredetails.status == 'Active' && ssn.dashboard_roles == 'BEIS Administrator') { %>
                    <a rel="external" aria-label="Change subsidy scheme details"
                        class="govuk-link head-right govuk-relative-position"
                        href="/editsubsidymeasure?scheme=<%= ssn.searchmeasuredetails.scNumber %>&editsc=No">
                        <p>Change </p>
                    </a>
                    <% } %>
                </div>

            </div>
            <section class="govuk-table-responsive">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Is this an ad hoc scheme
                            </th>
                            <td class="govuk-table__cell">
                                <% if(ssn.searchmeasuredetails.adhoc == 'true') { %>
                                Yes
                                <% } else { %>
                                No
                                <% }  %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Granting Authority</th>
                            <td class="govuk-table__cell"><%= ssn.searchmeasuredetails.gaName %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidy scheme number
                            </th>
                            <td class="govuk-table__cell"><%= ssn.searchmeasuredetails.scNumber %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidy scheme name</th>
                            <td class="govuk-table__cell"><%= ssn.searchmeasuredetails.subsidyMeasureTitle %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Legal basis</th>
                            <td class="govuk-table__cell"><%= ssn.searchmeasuredetails.legalBasisText %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Granting authority policy
                                URL </th>
                            <td class="govuk-table__cell"><%= ssn.searchmeasuredetails.gaSubsidyWebLink %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Granting authority policy
                                page summary </th>
                            <td class="govuk-table__cell">
                                <% if(ssn.searchmeasuredetails.gaSubsidyWebLink.includes("https://") || ssn.searchmeasuredetails.gaSubsidyWebLink.includes("http://")) { %>
                                <a href="<%= ssn.searchmeasuredetails.gaSubsidyWebLink %>"
                                    target="_blank"><%= ssn.searchmeasuredetails.gaSubsidyWebLinkDescription %></a>
                                <% } else { %>
                                <a href="https://<%= ssn.searchmeasuredetails.gaSubsidyWebLink %>"
                                    target="_blank"><%= ssn.searchmeasuredetails.gaSubsidyWebLinkDescription %></a>
                                <% } %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Budget or amount</th>
                            <td class="govuk-table__cell" id="formatText">£ <%= ssn.searchmeasuredetails.budget %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Start date</th>

                            <td class="govuk-table__cell"><%= Scheme_Start_Date%></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">End date</th>

                            <td class="govuk-table__cell">
                                <% if((ssn.Scheme_End_Day_Global == 31) && (ssn.Scheme_End_Month_Global == 12) && (ssn.Scheme_End_Year_Global == 9999)) { %>
                                    Not applicable
                                 <% } else { %>
                                    <%= Scheme_End_Date %>
                                 <% } %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Published Date</th>

                            <td class="govuk-table__cell">
                                <%= ssn.searchmeasuredetails.publishedMeasureDate%></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Spending Sectors</th>
                            <td class="govuk-table__cell">
                                <ul class="govuk-list govuk-list--bullet">
                                    <% spendingSectorArray.forEach(function(item) { %> 
                                    <li> <%=item %> </li>
                                    <% }); %> 
                                </ul>
                            </td>
                        </tr>
                    
                    </tbody>
                </table>
            </section>
            <div class="govuk-grid-row">
                <!-- <div class="govuk-grid-column-two-thirds govuk-padding-0"> -->
                <form action="/mysubsidymeasures" method="GET" novalidate>
                    <input type="hidden" name="answers-checked" value="true">

                    <button class="govuk-button" data-module="govuk-button">
                        Back to subsidy schemes
                    </button>
                    <% if(ssn.dashboard_roles != 'Granting Authority Encoder' && ssn.searchmeasuredetails.status == 'Active' && ssn.searchmeasuredetails.canEdit) { %>
                    <a class="govuk-button  govuk-button--warning" href="/deactivatescheme" data-module="govuk-button">
                        Deactivate
                    </a>
                    <a class="govuk-button govuk-button--secondary"
                        href="/addsubsidyaward?scheme=<%= ssn.searchmeasuredetails.scNumber %>"
                        data-module="govuk-button">
                        Add a subsidy award to this scheme
                    </a>
                    <% } %>

                    <% if (ssn.dashboard_roles == "BEIS Administrator" && ssn.searchmeasuredetails.status != 'Deleted') { %>
                        <a class="govuk-button govuk-button--warning" href="/deletescheme" data-module="govuk-button" style="float:right">
                            Delete
                        </a>
                    <% } %>
                    <!-- <a href="/cancelreviewsubsidymeasures?scheme=<%= ssn.searchmeasuredetails.scNumber %>"
                        class="govuk-link govuk-cancel-button-link ">
                        Cancel
                    </a> -->
                </form>

                <!-- <form action="" method="GET" class="govuk-grid-column-one-half"> -->

                <!-- </form> -->
                <!-- </div> -->
            </div>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('subsidyscheme-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>