<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Subsidy Award Fetch page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-145652997-21');
    </script>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>

    <div class="govuk-width-container ">

        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>
            <!-- <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>

                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>



                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Sign out
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div> -->
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidyawards">Subsidy awards</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Add a subsidy award</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl">
                            Review subsidy award
                        </h1>
                    </legend>
                </div>

            </div>

            <% if(nodata) { %>
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                data-module="govuk-error-summary">

                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a>No data available</a>
                        </li>

                    </ul>
                </div>
            </div>
            <% } else { %>
            <!-- Reject Message Block -->

            <% if( Get_Award_Status =="Rejected" || Get_Award_Status =="Deleted") { %>

            <div class="govuk-form-group app-example">
                <div class="app-example__toolbar">
                    <label>Comments from approver</label>
                </div>
                <div class="app-example__frame">
                    <% if(fetchawarddetails.status) { %>
                    <p> <%= fetchawarddetails.rejectReason %></p>
                    <% } else { %>
                    <p>The subsidy award reject reason not mentioned by the approver </p>
                    <% } %>
                </div>
            </div>

            <% } %>
            <!-- Reject Message Block -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">
                        Subsidy details
                    </h2>
                    <!-- <a rel="external" class="govuk-link head-right govuk-relative-position" href="/addsubsidyaward">
                    <p>Change </p>
                </a> -->
                </div>
            </div>
            <!-- <h2 class="govuk-heading-m">
                Subsidy details
            </h2> -->

            <form action="/subsidyawardaction" method="POST">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy control (SC) number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.subsidyMeasure.scNumber %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy scheme name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.subsidyMeasure.subsidyMeasureTitle %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy purpose
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.subsidyObjective %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.subsidyInstrument%>
                        </dd>
                    </div>
                    <% if (fetchawarddetails.subsidyInstrument == "Tax measures (tax credit, or tax/duty exemption)") { %>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy range
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.subsidyFullAmountRange%>
                        </dd>
                    </div>
                    <% } else { %>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy amount
                        </dt>
                        <dd class="govuk-summary-list__value">
                            £<%= fetchawarddetails.subsidyFullAmountExact%>
                        </dd>
                    </div>
                    <% } %>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Granting Authority
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.grantingAuthorityResponse.grantingAuthorityName  %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Award date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.legalGrantingDate %>
                        </dd>
                    </div>

                </dl>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">
                            Recipient details
                        </h2>
                        <!-- <a rel="external" class="govuk-link head-right govuk-relative-position" href="/addsubsidyaward">
                        <p>Change </p>
                    </a> -->
                    </div>
                </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.beneficiary.beneficiaryName  %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation size
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.beneficiary.orgSize %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            ID Type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.beneficiary.nationalIdType   %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            ID number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.beneficiary.nationalId  %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Provider of (good or services)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.goodsServicesFilter %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Region
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.spendingRegion %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Sector
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.spendingSector %>
                        </dd>
                    </div>

                </dl>
                <% if(ssn.dashboard_roles != 'Granting Authority Encoder') { %>
                <% if(Get_Award_Status.toLowerCase() =="awaiting approval") { %>
                <input type="hidden" value="Yes" name="PublishAward">
                <button class="govuk-button" data-module="govuk-button" name="Award_status" id="Award_status"
                    value="Published">
                    Approve and publish </button>
                <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="Award_status"
                    id="Award_status" value="Rejected">
                    Reject </button>

                <!-- <a value="Cancel" href="/subsidyawardfetchcancel"
                    aria-label="cancel the current award rejection page and " class="govuk-button-cancel"
                    name="Award_status">Cancel</a> -->

                <% } %>
                <% if(Get_Award_Status.toLowerCase() == "published" || Get_Award_Status.toLowerCase() == "rejected") { %>
                <input type="hidden" value="No" name="PublishAward">
                <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="Award_status"
                    id="Award_status" value="Deleted">
                    Delete </button>
                <!-- <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="Award_status"
                  id="Award_status" value="Rejected">
                  Reject </button> -->

                <!-- <a value="Cancel" href="/subsidyawardfetchcancel" class="govuk-button-cancel"
                        name="Award_status">Cancel</a> -->
                <% } %>
                <% } %>
                <% if(Get_Award_Status.toLowerCase() =="rejected") { %>
                <!-- <button class="govuk-button" data-module="govuk-button" name="Award_status" id="Award_status"
                    value="Editaward">
                    Edit</button> -->
                <!-- <a href="/editsubsidyaward?award=<%= awardnumber%>" -->
                <input type="hidden" value="Yes" name="PublishAward">
                <a href="/addsubsidyeditaward" style="color : rgb(250, 245, 245); text-decoration: none"
                    class="govuk-button" data-module="govuk-button">Edit
                </a>
                <!-- <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="Award_status"
                    id="Award_status" value="Rejected">
                    Reject </button> -->

                <!-- <a value="Cancel" href="/subsidyawardfetchcancel" class="govuk-button-cancel" name="Award_status"
                   >Cancel</a> -->
                <% } %>

                <a href="/mysubsidyawards" class="govuk-button govuk-button--secondary" data-module="govuk-button">Back
                    to subsidy awards list</a>
                <!-- <a value="Cancel" href="/subsidyawardfetchcancel" class="govuk-button-cancel" name="Award_status"
                    aria-label="cancel the current award rejection page ">Cancel</a> -->
            </form>
            <% }  %>
        </main>

    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('subsidyaward-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>