<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Subsidy Award Reject page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-145652997-21');
    </script>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>

            <%- include('../partials/navigationbar.ejs') %>

            <!-- <body class="govuk-template__body app-example-page js-enabled"> -->
            <!-- <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script> -->
            <!-- Disable browser validation for any examples that include form elements -->
            <!-- <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>

                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>



                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Sign out
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div> -->
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidyawards">Subsidy awards</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">View award</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <p>
                <a href="/subsidyawardfetch/?award=<%= awardnumber %>" class="govuk-back-link"> Back</a>
            </p>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl">Add comments</h1>
                    <form action="/subsidyawardrejectreason" method="POST">

                        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
                            <div class="govuk-form-group">
                                <% if(Award_status == 'Rejected') {%>
                                <label class="govuk-label" for="label-as-page-heading">
                                    Add feedback for the person who is working on this
                                    subsidy award. Your comments will not be visible to the public.
                                </label>
                                <% } else { %>
                                <label class="govuk-label" for="label-as-page-heading">Give a reason why you are
                                    deleting this award. Your comments will not be visible to the public.</label>
                                <% } %>
                                <textarea class="govuk-textarea govuk-js-character-count" id="label-as-page-heading"
                                    name="reject_reason_text" rows="6"
                                    aria-describedby="label-as-page-heading-info"></textarea>
                            </div>

                            <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message"
                                aria-live="polite">
                                You can enter up to 1,000 characters
                            </div>

                        </div>
                        <!-- <label class="govuk-label">Add feedback for the person who is working on this
                            subsidy award. Your comments will not be visible to the public.</label>
                        <textarea class="govuk-textarea" id="reject_reason_text" type="textarea"
                            name="reject_reason_text" rows="6"></textarea> -->
                        <% if(Award_status == 'Rejected') { %>
                        <button class="govuk-button govuk-button--warning" value="Rejected" name="buttonValue"
                            data-module="govuk-button">
                            Reject subsidy award
                        </button>
                        <% } else { %>
                        <button class="govuk-button govuk-button--warning" name="buttonValue" value="Deleted"
                            data-module="govuk-button">
                            Delete subsidy award
                        </button>
                        <!-- <a href="/subsidyawardfetch/?award=<%= awardnumber %>"
                            class="govuk-link govuk-cancel-button-link"> Cancel</a> -->
                        <% } %>
                    </form>

                </div>

            </div>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('subsidyaward-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>


<!-- <script src="/assets/javascripts/govuk-frontend.js"></script> -->

</html>