<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Subsidy Schemes Review details page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
         // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
    </script>
</head>


<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <!-- bread crumbs start here -->
            <%- include('../partials/navigationbar.ejs') %>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidymeasures">Subsidy schemes</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Edit subsidy scheme</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl">Review subsidy scheme before publishing</h1>

                    <!-- *************************************
              Review for subsidy details tab
              ************************************* -->

                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">Subsidy scheme details
                    </h2>
                    <a rel="external" aria-label="Change subsidy scheme details"
                        class="govuk-link head-right govuk-relative-position"
                        href="/editsubsidymeasure?scheme=<%= ssn.scNumber_Global %>&editsc=Yes">
                        <p>Change </p>
                    </a>
                </div>
            </div>
            <section class="govuk-table-responsive">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Public Authority</th>
                            <td class="govuk-table__cell"><%=ssn.Granting_Authority_Name_Global%></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidy scheme name</th>
                            <td class="govuk-table__cell"><%= ssn.Subsidy_Measure_Title_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidy scheme number
                            </th>
                            <td class="govuk-table__cell"><%= ssn.scNumber_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Specific Policy Objective</th>
                            <td class="govuk-table__cell render-newlines"><%= ssn.Specific_Policy_Objective_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidy scheme description</th>
                            <td class="govuk-table__cell render-newlines"><%= ssn.Subsidy_Scheme_Description_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Legal basis</th>
                            <td class="govuk-table__cell"><%= ssn.Legal_Basis_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Public authority policy
                                URL </th>
                            <td class="govuk-table__cell"><%= ssn.Granting_Authority_URL_Global %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Public authority policy
                                page summary </th>
                            <td class="govuk-table__cell"><%= ssn.Granting_Authority_Policy_Global %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Budget or amount</th>
                            <td class="govuk-table__cell">£ <%= formatedCurrency %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Maximum amount given under this scheme</th>
                            <td class="govuk-table__cell">
                                <% if ( ssn.Maximum_Amount_Under_Scheme_Global == '') { %>
                                    NA
                                <% } else { %>
                                    <%= ssn.Maximum_Amount_Under_Scheme_Global %>
                                <% } %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Confirmation Date</th>
                            <td class="govuk-table__cell"><%= ssn.Scheme_Confirmation_Day_Global %> <%= ssn.GetConfirmationMonthName %>
                                <%= ssn.Scheme_Confirmation_Year_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Start Date</th>
                            <td class="govuk-table__cell"><%= ssn.Scheme_Start_Day_Global %> <%= ssn.GetMonthName %>
                                <%= ssn.Scheme_Start_Year_Global %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">End Date</th>
                            <td class="govuk-table__cell">
                                <% if((ssn.Scheme_End_Day_Global == 31) && (ssn.Scheme_End_Month_Global == 12) && (ssn.Scheme_End_Year_Global == 9999)) { %>
                                    NA
                                    <% ssn.Has_No_End_Date = true %>
                                 <% } else { %>
                                     <%= ssn.Scheme_End_Day_Global %> <%= ssn.GetEndMonthName %>
                                     <%= ssn.Scheme_End_Year_Global %>
                                 <% } %>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Spending Sectors</th>
                            <td class="govuk-table__cell">
                                <ul class="govuk-list govuk-list--bullet">
                                    <% spendingSectorArray.forEach(function(item) { %>
                                    <li> <%=item %> </li>
                                    <% }); %>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <div class="govuk-grid-row">
                <!-- <div class="govuk-grid-column-one-half govuk-padding-0"> -->
                <form action="/subsidymeasurepublished" class="govuk-grid-column-full" method="POST" novalidate>
                    <input type="hidden" name="answers-checked" value="true">

                    <button class="govuk-button" name="button_value" value="update_measure" data-module="govuk-button">
                        Publish subsidy scheme
                    </button>

                    <!-- <a href="/cancelsubsidymeasure?scheme=<%=ssn.scNumber_Global%>&edit=Yes"
                        class="govuk-link govuk-cancel-button-link"> Cancel </a> -->
                </form>

            </div>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('subsidyscheme-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>