<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Edit Subsidy Schemes page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-145652997-21');
    </script>
</head>


<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>
            <!-- Header pane starts here -->
            <!-- <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav class="govuk-sub-navigation" aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>

                            <li class='govuk-sub-navigation__item head-right'>
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Signout
                                </a>
                            </li>
                            <li class='govuk-sub-navigation__item head-right'>
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div> -->
            <!-- Header pane starts here -->
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidymeasures">Subsidy schemes</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Edit subsidy scheme</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <% if( SubsidyArraySize > 0 ){ %>

            <div tabindex="-1" class="govuk-error-summary" role="alert" aria-labelledby="error-summary-title"
                data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>

                <div class="govuk-error-summary__body">
                    <% for(var i=0; i < SubsidyArraySize  ; i++) {%>
                    <ul class="govuk-list govuk-error-summary__list">

                        <li> <a href="<%= SubsidyFocus[i] %>"> <%= SubsidyErrors[i] %> </a> </li>
                    </ul>
                    <% } %>
                </div>

            </div>

            <% } %>
            <!-- Body header starts here -->
            <h1 class="govuk-heading-xl">Edit subsidy scheme</h1>

            <p class="govuk-body govuk-!-font-size-19">This section is for adding a subsidy scheme. To add a new award
                under an existing scheme, you can add <a href="/addsubsidyaward" aria-label="Add Single Award">a subsidy
                    award</a> or use the bulk
                upload to <a href="/bulkuploadsubsidy" aria-label="Bulk Upload Subsidy Awards">add multiple
                    subsidy awards</a>.</p>
            <!-- Body header ends here -->
            <label class="govuk-heading-l">
                Subsidy scheme details
            </label>

            <form action="/subsidymeasurereditreview" method="POST">
                <section class="govuk-grid-row">

                    <!-- adhoc subsidy details -->
                    <% if( ssn.Subsidy_Adhoc_Error ){ %>
                    <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                        <% } else { %>
                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                            <% }  %>
                            <label class="govuk-label" for="address-line-1">
                                Is this for an ad hoc subsidy?
                            </label>
                            <div id="adhoc-subsidy-hint" class="govuk-hint">
                                You will only be able to create one subsidy award under each ad hoc subsidy scheme.
                            </div>
                            <% if( ssn.Subsidy_Adhoc_Error ){ %>
                            <span class="govuk-error-message" id="Subsidy_adhoc_Error">
                                <span class="govuk-visually-hidden">Error:</span> Enter a valid adhoc subsidy scheme
                            </span>
                            <% }  %>
                            <div class="govuk-radios" id="Subsidy_Adhoc">
                                <div class="govuk-radios__item">
                                    <% if(ssn.searchmeasuredetails.adhoc == 'true') { %>
                                    <input class="govuk-radios__input" name="Subsidy_Adhoc" id="adhocyes" type="radio"
                                        value="Yes" checked>
                                    <% } else { %>
                                    <input class="govuk-radios__input" name="Subsidy_Adhoc" id="adhocyes" type="radio"
                                        value="Yes">
                                    <% } %>
                                    <label class="govuk-label govuk-radios__label" for="adhocyes">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <% if(ssn.searchmeasuredetails.adhoc == 'false') { %>
                                    <input class="govuk-radios__input" name="Subsidy_Adhoc" id="adhocno" type="radio"
                                        value="No" checked>
                                    <% } else { %>
                                    <input class="govuk-radios__input" name="Subsidy_Adhoc" id="adhocno" type="radio"
                                        value="No">
                                    <% } %>
                                    <label class="govuk-label govuk-radios__label" for="adhocno">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- granting authority details -->

                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                            <label class="govuk-label" for="address-line-1">
                                Granting Authority
                            </label>
                            <input class="govuk-input govuk-!-width-one-half" id="Granting_Authority_Name"
                                value="Cardiff Council" disabled readonly name="Granting_Authority_Name" type="text">
                        </div>

                        <!-- subsidy measure details -->

                        <% if( ssn.Subsidy_Measure_Title_Error ){ %>
                        <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                            <% } else { %>
                            <div class="govuk-form-group govuk-grid-column-two-thirds">
                                <% }  %>
                                <label class="govuk-label" for="address-line-1">
                                    Subsidy scheme name
                                </label>

                                <% if( ssn.Subsidy_Measure_Title_Error ){ %>
                                <span class="govuk-error-message" id="ssn.Subsidy_Measure_Title_Error">
                                    <span class="govuk-visually-hidden">Error:</span> Enter a valid subsidy
                                    scheme name
                                </span>
                                <% }  %>
                                <input class="govuk-input govuk-!-width-one-half" id="Subsidy_Measure_Title"
                                    name="Subsidy_Measure_Title" type="text"
                                    value="<%= ssn.searchmeasuredetails.subsidyMeasureTitle %>">
                            </div>

                            <!-- legal basis details -->

                            <% if( Legal_Basis_Error ){ %>
                            <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                <% } else { %>
                                <div class="govuk-form-group govuk-grid-column-two-thirds">
                                    <% }  %>
                                    <label class="govuk-label" for="Legal_Basis">
                                        Legal basis
                                    </label>
                                    <div class="govuk-hint">This is the legal justification of this
                                        subsidy scheme.</div>

                                    <% if( Legal_Basis_Error ){ %>
                                    <span class="govuk-error-message" id="Legal_Basis_Error">
                                        <span class="govuk-visually-hidden">Error:</span> Enter a valid legal basis
                                    </span>
                                    <% }  %>
                                    <input class="govuk-input govuk-!-width-one-half" id="Legal_Basis"
                                        name="Legal_Basis" type="text"
                                        value="<%= ssn.searchmeasuredetails.legalBasisText %>">
                                </div>

                                <!-- Granting authority URL details -->

                                <% if( Granting_Authority_URL_Error ){ %>
                                <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                    <% } else { %>
                                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                                        <% }  %>
                                        <label class="govuk-label" for="address-line-1">
                                            Granting authority policy URL
                                        </label>
                                        <div class="govuk-hint">This is the web address for the policy that
                                            this subsidy scheme is related to.</div>
                                        <% if( Granting_Authority_URL_Error ){ %>
                                        <span class="govuk-error-message" id="Granting_Authority_URL_Error">
                                            <span class="govuk-visually-hidden">Error:</span> Enter a valid granting
                                            authority URL

                                        </span>
                                        <% }  %>
                                        <input class="govuk-input " name="Granting_Authority_URL"
                                            id="Granting_Authority_URL" type="text"
                                            value="<%= ssn.searchmeasuredetails.gaSubsidyWebLink %>">
                                    </div>

                                    <!-- granting authority ploicy details -->

                                    <% if( Granting_Authority_Policy_Error ){ %>
                                    <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                        <% } else { %>
                                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                                            <% }  %>
                                            <label class="govuk-label" for="address-line-1">
                                                Granting authority policy page description
                                            </label>
                                            <div class="govuk-hint">A short summary of the policy page that you
                                                provided the URL for. For example, Water Purity Scheme policy page.
                                            </div>
                                            <% if( Granting_Authority_Policy_Error ){ %>
                                            <span class="govuk-error-message" id="Granting_Authority_Policy_Error">
                                                <span class="govuk-visually-hidden">Error:</span> Enter a valid granting
                                                authority
                                                policy page description
                                            </span>
                                            <% }  %>
                                            <input class="govuk-input" id="Granting_Authority_Policy"
                                                name="Granting_Authority_Policy" type="text"
                                                value="<%= ssn.searchmeasuredetails.gaSubsidyWebLinkDescription%>">
                                        </div>

                                        <!-- budget details -->

                                        <% if( Budget_Error ){ %>
                                        <div
                                            class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                            <% } else { %>
                                            <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                <% }  %>
                                                <label class="govuk-label" for="address-line-1">
                                                    Budget (£)
                                                </label>
                                                <div class="govuk-hint">For ad hoc subsidies, enter the exact
                                                    amount.
                                                    For other subsidy schemes, enter the overall budget.</div>
                                                <% if( Budget_Error ){ %>
                                                <span class="govuk-error-message" id="Budget_Error">
                                                    <span class="govuk-visually-hidden">Error:</span> Enter a valid
                                                    budget

                                                </span>
                                                <% }  %>
                                                <div class="govuk-input__wrapper">
                                                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                                    <input class="govuk-input govuk-!-width-one-third" id="Budget"
                                                        name="Budget" type="text"
                                                        value="<%= ssn.searchmeasuredetails.budget %>">
                                                </div>

                                            </div>
                                            <% if( ssn.scheme_issued_start_day_Error || ssn.scheme_issued_start_month_Error || ssn.scheme_issued_start_year_Error ){ %>
                                            <div
                                                class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                                <% } else { %>
                                                <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                    <% }  %>
                                                    <label class="govuk-label" for="address-line-1">
                                                        Start Date
                                                    </label>
                                                    <div class="govuk-hint">
                                                        For example, 25 3 2020
                                                    </div>
                                                    <div class="govuk-date-input" id="scheme-issued">
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label"
                                                                    for="scheme_issued_start_day">
                                                                    Day
                                                                </label>
                                                                <% if( ssn.scheme_issued_start_day_Error ){ %>
                                                                <span class="govuk-error-message" id="Budget_Error">
                                                                    <span class="govuk-visually-hidden">Error:</span>
                                                                    Enter a valid date
                                                                </span>
                                                                <% }  %>
                                                                <input
                                                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                    id="scheme_issued_start_day"
                                                                    name="scheme_issued_start_day" type="text"
                                                                    placeholder="DD" pattern="[0-9]*"
                                                                    inputmode="numeric"
                                                                    value="<%= Scheme_Legal_Granting_Start_Date_Day %>">
                                                            </div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label"
                                                                    for="scheme_issued_start_month">
                                                                    Month
                                                                </label>
                                                                <% if( ssn.scheme_issued_start_month_Error ){ %>
                                                                <span class="govuk-error-message" id="Budget_Error">
                                                                    <span class="govuk-visually-hidden">Error:</span>
                                                                    Enter a valid month
                                                                </span>
                                                                <% }  %>
                                                                <input
                                                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                    id="scheme_issued_start_month"
                                                                    value="<%= ssn.Scheme_Legal_Granting_Start_Date_Month %>"
                                                                    name="scheme_issued_start_month" placeholder="MM"
                                                                    type="text" pattern="[0-9]*" inputmode="numeric">
                                                            </div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label"
                                                                    for="scheme_issued_start_year">
                                                                    Year
                                                                </label>
                                                                <% if( ssn.scheme_issued_start_year_Error ){ %>
                                                                <span class="govuk-error-message" id="Budget_Error">
                                                                    <span class="govuk-visually-hidden">Error:</span>
                                                                    Enter a valid year
                                                                </span>
                                                                <% }  %>
                                                                <input
                                                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                                    id="scheme_issued_start_year"
                                                                    name="scheme_issued_start_year" type="text"
                                                                    pattern="[0-9]*" inputmode="numeric"
                                                                    value="<%= ssn.Scheme_Legal_Granting_Start_Date_Year %>"
                                                                    placeholder="YYYY"></div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <!-- shceme end date details -->
                                                <% if( ssn.scheme_issued_end_day_Error || ssn.scheme_issued_end_month_Error || ssn.scheme_issued_end_year_Error ){ %>
                                                <div
                                                    class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                                    <% } else { %>
                                                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                        <% }  %>
                                                        <label class="govuk-label" for="address-line-1">
                                                            End Date
                                                        </label>
                                                        <div class="govuk-hint">
                                                            For example, 25 3 2021
                                                        </div>
                                                        <div class="govuk-date-input" id="scheme-issued">
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_end_day">
                                                                        Day
                                                                    </label>
                                                                    <% if( ssn.scheme_issued_end_day_Error ){ %>
                                                                    <span class="govuk-error-message" id="Budget_Error">
                                                                        <span
                                                                            class="govuk-visually-hidden">Error:</span>
                                                                        Enter a valid date
                                                                    </span>
                                                                    <% }  %>
                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                        id="scheme-issued-day"
                                                                        value="<%= ssn.Scheme_Legal_Granting_End_Date_Day %>"
                                                                        name="scheme_issued_end_day" type="text"
                                                                        placeholder="DD" pattern="[0-9]*"
                                                                        inputmode="numeric"></div>
                                                            </div>
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_end_month">
                                                                        Month
                                                                    </label>
                                                                    <% if( ssn.scheme_issued_start_month_Error ){ %>
                                                                    <span class="govuk-error-message" id="Budget_Error">
                                                                        <span
                                                                            class="govuk-visually-hidden">Error:</span>
                                                                        Enter a valid month
                                                                    </span>
                                                                    <% }  %>
                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                        id="scheme_issued_end_month"
                                                                        value="<%= ssn.Scheme_Legal_Granting_End_Date_Month %>"
                                                                        name="scheme_issued_end_month" placeholder="MM"
                                                                        type="text" pattern="[0-9]*"
                                                                        inputmode="numeric">
                                                                </div>
                                                            </div>
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_end_year">
                                                                        Year
                                                                    </label>
                                                                    <% if( ssn.scheme_issued_end_year_Error ){ %>
                                                                    <span class="govuk-error-message" id="Budget_Error">
                                                                        <span
                                                                            class="govuk-visually-hidden">Error:</span>
                                                                        Enter a valid year
                                                                    </span>
                                                                    <% }  %>
                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                                        id="scheme_issued_end_year"
                                                                        value="<%= ssn.Scheme_Legal_Granting_End_Date_Year %>"
                                                                        name="scheme_issued_end_year" type="text"
                                                                        pattern="[0-9]*" inputmode="numeric"
                                                                        placeholder="YYYY"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- action button details -->

                                                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                        <button class="govuk-button" data-module="govuk-button"
                                                            name="buttonvalue" value="Update">Update</button>
                                                        <a href="#" class="govuk-link govuk-cancel-button-link"
                                                            data-module="govuk-button" name="buttonvalue"
                                                            value="Cancel">Cancel</a>
                                                    </div>
                </section>

            </form>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
    <script>
        document.getElementById('subsidyscheme-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>