<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - <%= schemeVersionDetails.subsidyMeasureTitle %> previous version</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
        const formatter = new Intl.NumberFormat("en-GB");
        getFormatedCurrency = (budget) => {
            if (budget.toString().includes(","))
                budget = budget.split(",").join("");
            formatedCurrency = formatter.format(budget);
            document.getElementById("formatText").textContent = '£ ' + formatedCurrency;
        }
    </script>
    <style>
        .govuk-inative-status {
            float: left;
            width: 100%;
            padding: 1%;
        }
    </style>
</head>

<body class="govuk-template__body app-example-page"
    onload="getFormatedCurrency('<%= schemeVersionDetails.budget %>')">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <!-- header start here -->
            <%- include('../partials/navigationbar.ejs') %>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidymeasures">Subsidy schemes</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/editreviewsubsidymeasure?scheme=<%= originalScheme.scNumber %>"><%= originalScheme.subsidyMeasureTitle %></a>
                    </li>                    
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page"
                            href="#"><%= schemeVersionDetails.lastModifiedDate %></a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl"><%= schemeVersionDetails.subsidyMeasureTitle %></h1>
                    <h2>Modified date <%= schemeVersionDetails.lastModifiedDate %></h2>
                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">Subsidy scheme details</h2>
                </div>

            </div>
            <section class="govuk-table-responsive">
                <table class="govuk-table" id="scheme-details-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Public Authority</th>
                            <td class="govuk-table__cell"><%= schemeVersionDetails.gaName %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidy scheme number
                            </th>
                            <td class="govuk-table__cell"><%= schemeVersionDetails.scNumber %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidy scheme name</th>
                            <td class="govuk-table__cell"><%= schemeVersionDetails.subsidyMeasureTitle %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidies or Schemes of Interest (SSoI) or Subsidies or Schemes of Particular Interest (SSoPI)</th>
                            <td class="govuk-table__cell"><%= (schemeVersionDetails.subsidySchemeInterest === '' || schemeVersionDetails.subsidySchemeInterest === null) ? 'NA' : schemeVersionDetails.subsidySchemeInterest %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Specific policy objective</th>
                            <td
                            class="govuk-table__cell render-newlines"><%= schemeVersionDetails.specificPolicyObjective %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Subsidy scheme description</th>
                            <td
                            class="govuk-table__cell render-newlines"><%= schemeVersionDetails.subsidySchemeDescription %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Legal basis</th>
                            <td class="govuk-table__cell"><%= schemeVersionDetails.legalBasisText %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Public authority policy
                                URL </th>
                            <td class="govuk-table__cell"><%= schemeVersionDetails.gaSubsidyWebLink %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Public authority policy
                                page summary </th>
                            <td class="govuk-table__cell">
                                <% if(schemeVersionDetails.gaSubsidyWebLink.includes("https://") || schemeVersionDetails.gaSubsidyWebLink.includes("http://")) { %>
                                <a href="<%= schemeVersionDetails.gaSubsidyWebLink %>"
                                    target="_blank"><%= schemeVersionDetails.gaSubsidyWebLinkDescription %></a>
                                <% } else { %>
                                <a href="https://<%= schemeVersionDetails.gaSubsidyWebLink %>"
                                    target="_blank"><%= schemeVersionDetails.gaSubsidyWebLinkDescription %></a>
                                <% } %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Budget or amount</th>
                            <td class="govuk-table__cell" id="formatText">£ <%= schemeVersionDetails.budget %></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Maximum amount given under this scheme</th>
                            <td class="govuk-table__cell">
                                <% if (schemeVersionDetails.maximumAmountUnderScheme == null) { %>
                                    NA
                                <% } else { %>
                                    <%= schemeVersionDetails.maximumAmountUnderScheme %>
                                <% } %>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Confirmation date</th>
                            <td class="govuk-table__cell">
                                <% if (schemeVersionDetails.confirmationDate == '') { %>
                                    NA
                                <% } else { %>
                                    <%= schemeVersionDetails.confirmationDate %>
                                <% } %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Start date</th>

                            <td class="govuk-table__cell"><%= schemeVersionDetails.startDate%></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">End date</th>

                            <td class="govuk-table__cell">
                                <% if(schemeVersionDetails.endDate == "") { %>
                                    NA
                                 <% } else { %>
                                    <%= schemeVersionDetails.endDate %>
                                 <% } %>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Published Date</th>

                            <td class="govuk-table__cell">
                                <%= schemeVersionDetails.publishedMeasureDate%></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-width-one-half">Spending Sectors</th>
                            <td class="govuk-table__cell">
                                <% if(schemeVersionDetails.spendingSectorArray.length > 0) { %>
                                <ul class="govuk-list govuk-list--bullet">
                                    <% schemeVersionDetails.spendingSectorArray.forEach(function(item) { %>
                                    <li> <%=item %> </li>
                                    <% }); %>
                                </ul>
                                <% } else { %>
                                    NA
                                 <% } %>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </section>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('subsidyscheme-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>