<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Subsidy Award submit for approve or reject page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-145652997-21');
    </script>
</head>


<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidyawards">Subsidy awards</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Approve or reject subsidy
                            award</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-xl">Review subsidy award information before sending for approval</h1>

                    <!-- *************************************
              Review for subsidy details tab
              ************************************* -->
                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">Subsidy details</h2>
                    <a rel="external" class="govuk-link head-right govuk-relative-position" href="/addsubsidyreview">
                        <p>Change </p>
                    </a>
                </div>
            </div>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Subsidy Control
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Subsidy_Control_Number_Global %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Subsidy Measure Title
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Subsidy_Measure_Title_Global %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Subsidy Objective
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Subsidy_Objective_Global %>
                    </dd>

                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Subsidy Instrument
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Subsidy_Instrument_Global %>

                    </dd>
                </div>

                <% if( ssn.Subsidy_Element_Full_Amount_Global  ) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Subsidy Element Full Amount(£)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Subsidy_Element_Full_Amount_Global %>

                    </dd>
                </div>

                <% } else { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Subsidy Full Amount Range (£)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Subsidy_Full_Amount_Range_Global %>

                    </dd>
                </div>

                <% }  %>
            </dl>

            <!-- *************************************
              Review for beneficialry details tab
              ************************************* -->

            <h2 class="govuk-heading-m">Beneficiary details</h2>
            <!-- <a rel="external" class="govuk-link head-right govuk-relative-position" href="/beneficiarydetailsreview" >
                <p >Change </p> -->
            </a>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        National ID Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.National_ID_Type_Global %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        National ID number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.National_ID_Number_Global %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Beneficiary name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Beneficiary_Name_Global %>
                    </dd>

                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Size of the Organisation
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Size_of_the_Organisation_Global %>

                    </dd>
                </div>



            </dl>

            <!-- *************************************
              Review for Granting details tab
              ************************************* -->

            <h2 class="govuk-heading-m">Granting details</h2>
            <!-- <a rel="external" class="govuk-link head-right govuk-relative-position" href="/grantingdetailsreview" >
                <p >Change </p>
              </a> -->
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Granting authority name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Granting_Authority_Name_Global %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Legal Granting Date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Legal_Granting_Date_Day_Global %> &nbsp; <%= ssn.GetMonthName %> &nbsp;
                        <%= ssn.Legal_Granting_Date_Year_Global %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Goods or Services
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Goods_or_Services_Global %>
                    </dd>

                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Spending Region
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Spending_Region_Global %>

                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Spending Sector
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.Spending_Sector_Global %>

                    </dd>
                </div>
            </dl>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half govuk-padding-0" class="govuk-grid-column-one-half">
                    <form action="/submitforapproval" method="post" novalidate>

                        <input type="hidden" name="answers-checked" value="true">

                        <button class="govuk-button" data-module="govuk-button">
                            Submit for Approval
                        </button>

                    </form>

                    <form action="/addsubsidyaward" method="POST" class="govuk-grid-column-one-half">

                        <button class="govuk-button govuk-button--secondary ">
                            Cancel
                        </button>

                    </form>
                </div>
            </div>
        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('subsidyaward-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>