<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Deactivate <%=scheme%> page</title>
    <%- include('../partials/headercss.ejs') %>
        <script src="assets/javascripts/jquery.min.js"></script>
        <script src="/assets/javascripts/all.js"></script>
        <script>
            var action = '<%=action%>';
            var charLimit = 1000;

            $(document).ready(function () {
                $('#action-button').text(action + " subsidy scheme");
                
                //Disables submit button if the reason length is too long
                $("#label-as-page-heading").on('input', function() {
                    var length = $("#label-as-page-heading").val().trim().length;
                    var isValid = length > 0 && length <= charLimit;
                    $('#action-button').prop('disabled', !isValid);          
                });
            });

            acceptConfirmation = (event) => {
                $("#confirmation-container").removeAttr("style").hide();
                $("#rejection-reason-container").show();
            };

        </script>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
            <div class="govuk-width-container ">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content">
                        <strong class="govuk-tag govuk-phase-banner__content__tag">
                            beta
                        </strong>
                        <span class="govuk-phase-banner__text">
                            This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a>
                            will help
                            us to improve it.
                        </span>
                    </p>
                </div>
                <main id="main-content" role="main">
                    
                    <%- include('../partials/navigationbar.ejs') %>

                        <!-- bread crumbs start here -->
                        <div class="govuk-breadcrumbs ">
                            <ol class="govuk-breadcrumbs__list">
                                <li class="govuk-breadcrumbs__list-item">
                                    <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                                </li>
                                <li class="govuk-breadcrumbs__list-item">
                                    <a class="govuk-breadcrumbs__link" href="/mysubsidymeasures">Subsidy measures</a>
                                </li>
                                <li class="govuk-breadcrumbs__list-item">
                                    <a class="govuk-breadcrumbs__link" aria-current="page"
                                        href="editreviewsubsidymeasure?scheme=<%=scheme%>">
                                        <%= scheme%>
                                    </a>
                                </li>
                                <li class="govuk-breadcrumbs__list-item">
                                    <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Deactivate</a>
                                </li>
                            </ol>
                        </div>
                        <!-- bread crumbs ends here -->

                        <!-- Body header starts here -->
                        <% if(action=='Delete' ) {%>
                            <div class="govuk-body-cancel govuk-form-group" id="confirmation-container">
                                <h1 class="govuk-heading-l">Delete subsidy scheme</h1>

                                <p class="govuk-body govuk-!-font-size-19 govuk-!-width-two-thirds">If you delete this
                                    subsidy scheme, all associated "Published" and
                                    "Awaiting Approval" awards will also be deleted. Users will no longer
                                    be able to add subsidy awards to this scheme. </p>
                                <p class="govuk-body hljs-strong govuk-!-font-size-19 govuk-!-width-two-thirds">The
                                    scheme and all associated awards will no longer be visible
                                    on the public portal.</p>
                                <p class="govuk-body govuk-!-font-size-19">Are you sure you want to delete this subsidy
                                    scheme and associated awards?</p>
                                <a onclick="acceptConfirmation(event)" class="govuk-button govuk-button--secondary">
                                    Yes, delete subsidy scheme
                                </a>
                                <a href="/editreviewsubsidymeasure?scheme=<%=scheme%>"
                                    class="govuk-button govuk-button_sm govuk-button--secondary"
                                    data-module="govuk-button">
                                    Cancel
                                </a>
                            </div>
                            <% } else { %>
                                <div class="govuk-body-cancel govuk-form-group" id="confirmation-container">
                                    <h1 class="govuk-heading-l">Deactivate subsidy scheme</h1>

                                    <p class="govuk-body govuk-!-font-size-19 govuk-!-width-two-thirds">If you
                                        deactivate this subsidy
                                        scheme, users will no longer be able to add subsidy awards to it.</p>
                                    <p class="govuk-body govuk-!-font-size-19">Are you sure you want to deactivate this
                                        subsidy scheme?</p>

                                    <a onclick="acceptConfirmation(event)" class="govuk-button govuk-button--secondary">
                                        Yes, deactivate subsidy scheme
                                    </a>
                                    <a href="/editreviewsubsidymeasure?scheme=<%=scheme%>"
                                        class="govuk-button govuk-button_sm govuk-button--secondary"
                                        data-module="govuk-button">
                                        Cancel
                                    </a>
                                </div>

                                <% } %>
                                    <div id="rejection-reason-container" hidden>
                                        <div class="govuk-grid-row" id="regression-search-area">
                                            <div class="govuk-grid-column-two-thirds-from-desktop" id="regression-search-area">
                                                <h1 class="govuk-heading-xl">Add comments</h1>
                                                <% if(typeof reasonLengthError != 'undefined' && reasonLengthError) { %>
                                                    <div tabindex="-1" class="govuk-error-summary" id="error-alert" role="alert"
                                                    aria-labelledby="error-summary-title" data-module="govuk-error-summary">
                                                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                                                <div class="govuk-error-summary__body">
                                                    <ul class="govuk-list govuk-error-summary__list">
                                                        <li> <a>Reason should be between 1 and 1000 characters in length </a> </li>
                                                    </ul>
                                                </div> 
                                                </div>
                                                <% } %>
                                                <form method="POST" action="/successfullydeactivatescheme"
                                                    id="rejection-form">
                                                    <input type="hidden" name="scheme" value="<%= scheme %>">

                                                    <div class="govuk-character-count"
                                                        data-module="govuk-character-count"
                                                        data-maxlength=1000>
                                                        <div class="govuk-form-group">
                                                            <label class="govuk-label" for="rejection-reason">
                                                                Add feedback for the person who is working on this
                                                                subsidy scheme. Your comments will not be visible to the
                                                                public.
                                                            </label>
                                                            <textarea class="govuk-textarea govuk-js-character-count"
                                                                id="label-as-page-heading" name="reason" rows="6"
                                                                aria-describedby="label-as-page-heading-info"></textarea>
                                                        </div>
                                                        <div id="label-as-page-heading-info"
                                                            class="govuk-hint govuk-character-count__message"
                                                            aria-live="polite">
                                                            You can enter up to <%=1000%> 
                                                        </div>
                                                    </div>
                                                    <button class="govuk-button govuk-button--warning"
                                                        id='action-button' value=<%=action%> name="action"
                                                        data-module="govuk-button" disabled>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                </main>
            </div>

            <%- include('../partials/footer.ejs') %>
                <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
                <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>

</body>

</html>