<!DOCTYPE html>
<html lang="en">

<head>
    <title>Award <%=fetchawarddetails.awardNumber%> - Manage UK subsidies - GOV.UK - Subsidy Award Fetch page</title>
    <%- include('../partials/headercss.ejs') %>
    <style>
        .govuk-inative-status {
            float: left;
            width: 100%;
            padding: 1%;
        }
    </style>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>

    <div class="govuk-width-container ">

        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidyawards">Subsidy awards</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Fetch a subsidy award
                            details</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl">
                            Review subsidy award
                        </h1>
                    </legend>
                </div>

            </div>

            <% if(nodata) { %>
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
                data-module="govuk-error-summary">

                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a>No data available</a>
                        </li>

                    </ul>
                </div>
            </div>
            <% } else { %>
            <!-- Reject Message Block -->
            <% if( fetchawarddetails.subsidyMeasure.status != "Inactive") { %>
                <% if( Get_Award_Status =="Rejected" || Get_Award_Status =="Deleted") { %>
                    <div class="govuk-form-group app-example">
                        <div class="app-example__toolbar">
                            <label>Comments from approver</label>
                        </div>
                        <div class="app-example__frame">
                            <% if(fetchawarddetails.status) { %>
                            <p> <%= fetchawarddetails.rejectReason %></p>
                            <% } else { %>
                            <p>The subsidy award reject reason not mentioned by the approver </p>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            <% } else if(fetchawarddetails.subsidyMeasure.status == "Inactive") {%>
                <div class="govuk-form-group app-example govuk-inative-status">
                    <div class="app-example__toolbar">
                        <label>This scheme is not active</label>
                    </div>
                </div>
            <% } if(fetchawarddetails.subsidyMeasure.status == "Deleted"){%>
                <div class="govuk-form-group app-example govuk-inative-status">
                    <div class="app-example__toolbar">
                        <label>The scheme associated to this award has been deleted</label>
                    </div>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Deleted by
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <%= fetchawarddetails.subsidyMeasure.deletedBy %>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Deleted date/time
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <%= fetchawarddetails.subsidyMeasure.deletedTimestamp %>
                            </dd>
                        </div>
                    </dl>
                </div>
            <% } %>
            <!-- Reject Message Block -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">
                        Subsidy details
                    </h2>
                </div>
            </div>

            <form action="/subsidyawardaction" method="POST">
                <input type="hidden" value="<%=fetchawarddetails.awardNumber%>" name="awardnumber">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Standalone award
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.standaloneAward %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidies or Schemes of Interest (SSoI) or Subsidies or Schemes of Particular Interest (SSoPI)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= (fetchawarddetails.standaloneAward === 'No' || fetchawarddetails.subsidyAwardInterest === '') ? 'NA' : fetchawarddetails.subsidyAwardInterest %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Policy objective
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= (fetchawarddetails.standaloneAward === 'No' || fetchawarddetails.specificPolicyObjective === '') ? 'NA' : fetchawarddetails.specificPolicyObjective %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Award description
                        </dt>
                        <dd class="govuk-summary-list__value render-newlines"><%= fetchawarddetails.subsidyAwardDescription %></dd>
                        
                    </div>
                 
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy control (SC) number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.subsidyMeasure.scNumber %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy scheme name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.subsidyMeasure.subsidyMeasureTitle %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Admin program (AP) number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.adminProgramNumber %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Admin program name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.adminProgramName %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Services of Public Economic Interest (SPEI)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.spei %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy purpose(s)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <% if(objectiveArray.length > 0) { %>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <% objectiveArray.forEach(function(item) { %>
                                            <%if(item != ""){%>
                                            <li> <%=item %> </li>
                                            <% } %>
                                        <% }); %>
                                    </ul>
                                    <% } else { %>
                                        NA
                                     <% } %>
                                </td>
                            </tr>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy form
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.subsidyInstrument%>
                        </dd>
                    </div>
                    <% if (fetchawarddetails.subsidyInstrument == "Tax measures (tax credit, or tax/duty exemption)") { %>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy range
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.subsidyFullAmountRange%>
                        </dd>
                    </div>
                    <% } else { %>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Subsidy amount
                        </dt>
                        <dd class="govuk-summary-list__value">
                            £<%= fetchawarddetails.subsidyFullAmountExact%>
                        </dd>
                    </div>
                    <% } %>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Public Authority
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.grantingAuthorityResponse.grantingAuthorityName  %>
                        </dd>
                    </div>
                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Public authority policy URL
                        </dt>
                        <dd class="govuk-summary-list__value">
                        <% if(typeof fetchawarddetails.authorityURL != 'undefined') { %>
                                <a aria-label="Weblink to public authority" target="_blank"
                                  href="<%= (fetchawarddetails.authorityURL.includes('https://')) ?  fetchawarddetails.authorityURL 
                                  : 'https://'+fetchawarddetails.authorityURL %>">
                                  <%=fetchawarddetails.authorityURL %>
                                </a>
                        <% } else { %>
                            <a aria-label="Public authority policy URL not applicable" >NA</a>
                        </dd>
                        <%  } %>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Public authority policy page summary
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= (fetchawarddetails.standaloneAward === 'No') ? 'NA' : fetchawarddetails.authorityURLDescription %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Award date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.legalGrantingDate %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Published date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.publishedAwardDate %>
                        </dd>
                    </div>

                </dl>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">
                            Recipient details
                        </h2>
                        <!-- <a rel="external" class="govuk-link head-right govuk-relative-position" href="/addsubsidyaward">
                        <p>Change </p>
                    </a> -->
                    </div>
                </div>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.beneficiary.beneficiaryName  %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation size
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.beneficiary.orgSize %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            ID Type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.beneficiary.nationalIdType   %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            ID number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.beneficiary.nationalId  %>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Provider of (goods and/or services)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.goodsServicesFilter %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Geographical Location(s)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <% if(fetchawarddetails.regionArray.length > 0) { %>
                                <ul class="govuk-list govuk-list--bullet">
                                    <% fetchawarddetails.regionArray.forEach(function(item) { %>
                                    <li> <%=item %> </li>
                                    <% }); %>
                                </ul>
                            <% } else { %>
                                NA
                            <% } %>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Sector
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <%= fetchawarddetails.spendingSector %>
                        </dd>
                    </div>

                </dl>
            </section>
                <% if(ssn.dashboard_roles != 'Granting Authority Encoder' && (ssn.dashboard_roles == 'BEIS Administrator' || ssn.dashboard_ga_name == fetchawarddetails.grantingAuthorityResponse.grantingAuthorityName)) { %>
                <% if(Get_Award_Status.toLowerCase() =="awaiting approval") { %>
                <input type="hidden" value="Yes" name="PublishAward">
                <button class="govuk-button" data-module="govuk-button" name="Award_status" id="Award_status"
                    value="Published">Approve and publish</button>
                <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="Award_status"
                    id="reject-button" value="Rejected">Reject</button>

                <!-- <a value="Cancel" href="/subsidyawardfetchcancel"
                    aria-label="cancel the current award rejection page and " class="govuk-button-cancel"
                    name="Award_status">Cancel</a> -->

                <% } %>
                <% if(Get_Award_Status.toLowerCase() == "published" || Get_Award_Status.toLowerCase() == "rejected") { %>
                <input type="hidden" value="No" name="PublishAward">
                <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="Award_status"
                    id="Award_status" value="Deleted">Delete</button>
                <!-- <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="Award_status"
                  id="Award_status" value="Rejected">
                  Reject </button> -->

                <!-- <a value="Cancel" href="/subsidyawardfetchcancel" class="govuk-button-cancel"
                        name="Award_status">Cancel</a> -->
                <% } %>
                <% } %>
                <% if(Get_Award_Status.toLowerCase() =="rejected" &&  fetchawarddetails.subsidyMeasure.status != "Inactive" && (ssn.dashboard_roles == 'BEIS Administrator' || ssn.dashboard_ga_name == fetchawarddetails.grantingAuthorityResponse.grantingAuthorityName)) { %>
                <!-- <button class="govuk-button" data-module="govuk-button" name="Award_status" id="Award_status"
                    value="Editaward">
                    Edit</button> -->
                <!-- <a href="/editsubsidyaward?award=<%= awardnumber%>" -->
                <input type="hidden" value="Yes" name="PublishAward">
                <a href="/addsubsidyeditaward" style="color : rgb(250, 245, 245); text-decoration: none"
                    class="govuk-button" data-module="govuk-button">Edit</a>
                <!-- <button class="govuk-button govuk-button--warning" data-module="govuk-button" name="Award_status"
                    id="Award_status" value="Rejected">
                    Reject </button> -->

                <!-- <a value="Cancel" href="/subsidyawardfetchcancel" class="govuk-button-cancel" name="Award_status"
                   >Cancel</a> -->
                <% } %>

                <a href="/mysubsidyawards" class="govuk-button govuk-button--secondary" data-module="govuk-button">Back
                    to subsidy awards list</a>
                <!-- <a value="Cancel" href="/subsidyawardfetchcancel" class="govuk-button-cancel" name="Award_status"
                    aria-label="cancel the current award rejection page ">Cancel</a> -->
            </form>
            <% }  %>
        </main>

    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('subsidyaward-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>