<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Add Subsidy Schemes page</title>

    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
         // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
    </script>
    <script>
        getSubsidyAdhoc = (event) => {
            if (event.target.value == 'Yes') {
                // document.getElementById("scheme_issued_end_day").setAttribute("disabled", "true");
                // document.getElementById("scheme_issued_end_month").setAttribute("disabled", "true");
                // document.getElementById("scheme_issued_end_year").setAttribute("disabled", "true");
                document.getElementById("endDateDiv").style.display = "none";
                // document.getElementById("scheme-issued-day").value = document.getElementById("scheme_issued_start_day").value;
                // document.getElementById("scheme_issued_end_month").value = document.getElementById("scheme_issued_start_month").value;
                // document.getElementById("scheme_issued_end_year").value = document.getElementById("scheme_issued_start_year").value;
                document.getElementById("startDateLabel").textContent = "Date";
            }
            else {
                // document.getElementById("scheme_issued_end_day").removeAttribute("disabled");
                // document.getElementById("scheme_issued_end_month").removeAttribute("disabled");
                // document.getElementById("scheme_issued_end_year").removeAttribute("disabled");
                document.getElementById("endDateDiv").style.display = "block";
                document.getElementById("startDateLabel").textContent = "Start Date";
            }
        }



        getErrorList = (errorArray, adhoc) => {
            if (errorArray > 0) {
                document.getElementById("error-alert").focus();
            }
            if (adhoc == 'Yes') {
                document.getElementById("endDateDiv").style.display = "none";
                document.getElementById("startDateLabel").textContent = "Date";
            } else {
                document.getElementById("endDateDiv").style.display = "block";
                document.getElementById("startDateLabel").textContent = "Start Date";
            }
        }
    </script>
</head>


<body class="govuk-template__body app-example-page"
    onload="getErrorList('<%=ssn.SubsidyArraySize%>','<%=ssn.Subsidy_Adhoc_Global%>')">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>

            <!-- Header pane starts here -->
            <%- include('../partials/navigationbar.ejs') %>
            <!-- Header pane starts here -->
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/mysubsidymeasures">Subsidy schemes</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Add a subsidy scheme</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <% if( ssn.SubsidyArraySize > 0 ){ %>

            <div tabindex="-1" class="govuk-error-summary" id="error-alert" role="alert"
                aria-labelledby="error-summary-title" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>

                <div class="govuk-error-summary__body">
                    <% for(var i=0; i < ssn.SubsidyArraySize  ; i++) {%>
                    <ul class="govuk-list govuk-error-summary__list">

                        <li> <a href="<%= ssn.SubsidyFocus[i] %>"> <%= ssn.SubsidyErrors[i] %> </a> </li>
                    </ul>
                    <% } %>
                </div>

            </div>

            <% } %>
            <!-- Body header starts here -->
            <h1 class="govuk-heading-xl">Add a subsidy scheme</h1>

            <p class="govuk-body govuk-!-font-size-19">This section is for adding a subsidy scheme. To add a new award
                under an existing scheme, you can add <a href="/addsubsidyaward" aria-label="Add Single Award">a subsidy
                    award</a> or use the bulk
                upload to <a href="/bulkuploadsubsidy" aria-label="Bulk Upload Subsidy Awards">add multiple
                    subsidy awards</a>.</p>
            <!-- Body header ends here -->
            <label class="govuk-heading-l">
                Subsidy scheme details
            </label>

            <form action="/reviewsubsidymeasures" method="POST" id="scheme-form">
                <section class="govuk-grid-row">
                    <% if( ssn.Subsidy_Adhoc_Error ){ %>
                    <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                        <% } else { %>
                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                            <% }  %>
                            <label class="govuk-label" for="address-line-1">
                                Is this for an ad hoc subsidy?
                            </label>
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        What is an ad hoc subsidy?
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    An ad hoc subsidy scheme is a scheme created specifically for one subsidy award. If
                                    you create an ad hoc subsidy scheme, you will only be able to add one subsidy award
                                    under it.
                                </div>
                            </details>
                            <!-- <div id="adhoc-subsidy-hint" class="govuk-hint">
                                You will only be able to create one subsidy award under each ad hoc subsidy scheme.
                            </div> -->
                            <% if( ssn.Subsidy_Adhoc_Error ){ %>
                            <span class="govuk-error-message" id="Subsidy_adhoc_Error">
                                <span class="govuk-visually-hidden">Error:</span> Select the adhoc subsidy scheme
                            </span>
                            <% }  %>
                            <div class="govuk-radios" id="Subsidy_Adhoc">
                                <div class="govuk-radios__item">
                                    <% if(ssn.Subsidy_Adhoc_Global == 'Yes') { %>
                                    <input class="govuk-radios__input" name="Subsidy_Adhoc" id="adhocyes" type="radio"
                                        value="Yes" checked>
                                    <% } else { %>
                                    <% var ssn_Object = JSON.stringify(ssn)%>
                                    <input class="govuk-radios__input" name="Subsidy_Adhoc"
                                        onchange="getSubsidyAdhoc(event)" id="adhocyes" type="radio" value="Yes">
                                    <% } %>
                                    <label class="govuk-label govuk-radios__label" for="adhocyes">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <% if(ssn.Subsidy_Adhoc_Global == 'No') { %>
                                    <input class="govuk-radios__input" name="Subsidy_Adhoc" id="adhocno" type="radio"
                                        value="No" checked>
                                    <% } else { %>
                                    <% var ssn_Object = JSON.stringify(ssn)%>
                                    <input class="govuk-radios__input" name="Subsidy_Adhoc"
                                        onchange="getSubsidyAdhoc(event)" id="adhocno" type="radio" value="No">
                                    <% } %>
                                    <label class="govuk-label govuk-radios__label" for="adhocno">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- *****************************************  -->
                        <!-- Get the Granting Authority Name from user  -->
                        <!-- *****************************************  -->
                        <% if( ssn.Granting_Authority_Name_Error ||   ssn.Granting_Authority_Name_Inactive_Error) { %>
                        <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                            <label class="govuk-label" for="Granting_Authority_Name">
                                Granting authority name
                            </label>
                            <% if(ssn.Granting_Authority_Name_Inactive_Error){ %>
                            <span class="govuk-error-message" id="Granting_Authority_Name_Error">
                                <span class="govuk-visually-hidden">Error:</span> Granting authority is not active
                            </span>
                            <% } else { %>
                            <span class="govuk-error-message" id="Granting_Authority_Name_Error">
                                <span class="govuk-visually-hidden">Error:</span> Enter a granting authority name
                            </span>
                            <% } %>
                            <% if(ssn.dashboard_roles == "BEIS Administrator") { %>
                            <input class="govuk-input govuk-!-width-one-half govuk-input--error"
                                id="Granting_Authority_Name" name="Granting_Authority_Name" type="text"
                                aria-describedby="Granting_Authority_Name"
                                <% if(ssn.Granting_Authority_Name_Measure_Global) {%>
                                value="<%= ssn.Granting_Authority_Name_Measure_Global %>" <% } %> />

                            <% } else { %>

                            <input class="govuk-input govuk-!-width-one-half govuk-input--error"
                                id="Granting_Authority_Name" name="Granting_Authority_Name" type="text"
                                aria-describedby="Granting_Authority_Name" value="<%= ssn.dashboard_ga_name %>"
                                disabled />
                            <% } %>
                        </div>
                        <% } else { %>

                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                            <label class="govuk-label" for="Granting_Authority_Name">
                                Granting authority name
                            </label>

                            <% if(ssn.dashboard_roles == "BEIS Administrator") { %>
                            <input class="govuk-input govuk-!-width-one-half" id="Granting_Authority_Name"
                                name="Granting_Authority_Name" type="text" aria-describedby="Granting_Authority_Name"
                                <% if(ssn.Granting_Authority_Name_Measure_Global) {%>
                                value="<%= ssn.Granting_Authority_Name_Measure_Global %>" <% } %> />

                            <% } else { %>

                            <input class="govuk-input govuk-!-width-one-half" id="Granting_Authority_Name"
                                name="Granting_Authority_Name" type="text" aria-describedby="Granting_Authority_Name"
                                value="<%= ssn.dashboard_ga_name %>" disabled />
                            <% } %>
                        </div>
                        <% }  %>


                        <% if( ssn.Subsidy_Measure_Title_Error ){ %>
                        <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                            <% } else { %>
                            <div class="govuk-form-group govuk-grid-column-two-thirds">
                                <% }  %>
                                <label class="govuk-label" for="address-line-1">
                                    Subsidy scheme name
                                </label>
                                <!-- <div id="scheme-issued-hint" class="govuk-hint">This is the name of the
                            subsidy measure that awards
                            can be related to.</div> -->
                                <% if( ssn.Subsidy_Measure_Title_Error ){ %>
                                <span class="govuk-error-message" id="Subsidy_Measure_Title_Error">
                                    <span class="govuk-visually-hidden">Error:</span> Enter a valid subsidy
                                    scheme name
                                </span>
                                <% } else if( ssn.Subsidy_Measure_Title_255_Error ){ %>
                                <span class="govuk-error-message" id="Subsidy_Measure_Title_Error">
                                    <span class="govuk-visually-hidden">Error:</span> Subsidy scheme name cannot be
                                    greater than 255 characters
                                </span>
                                <% }  %>
                                <input class="govuk-input govuk-!-width-one-half" id="Subsidy_Measure_Title"
                                    name="Subsidy_Measure_Title" type="text"
                                    value="<%= ssn.Subsidy_Measure_Title_Global %>">
                            </div>
                            <% if( ssn.Legal_Basis_Error ){ %>
                            <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                <% } else { %>
                                <div class="govuk-form-group govuk-grid-column-two-thirds">
                                    <% }  %>
                                    <label class="govuk-label" for="Legal_Basis">
                                        Legal basis
                                    </label>
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                What is Legal basis?
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            This is the legal justification of this subsidy scheme.
                                        </div>
                                    </details>


                                    <% if( ssn.Legal_Basis_Error ){ %>
                                    <span class="govuk-error-message" id="Legal_Basis_Error">
                                        <span class="govuk-visually-hidden">Error:</span> Enter a valid legal basis
                                    </span>
                                    <% }  %>
                                    <input class="govuk-input govuk-!-width-one-half" id="Legal_Basis"
                                        name="Legal_Basis" type="text" value="<%= ssn.Legal_Basis_Global%>">
                                </div>
                                <% if( ssn.Granting_Authority_URL_Error || ssn.Granting_Authority_URL_255_Error){ %>
                                <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                    <% } else { %>
                                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                                        <% }  %>
                                        <label class="govuk-label" for="address-line-1">
                                            Granting authority policy URL
                                        </label>
                                        <details class="govuk-details" data-module="govuk-details">
                                            <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    What is Granting authority policy URL?
                                                </span>
                                            </summary>
                                            <div class="govuk-details__text">
                                                This is the web address for the policy that
                                                this subsidy scheme is related to.
                                            </div>
                                        </details>

                                        <% if( ssn.Granting_Authority_URL_Error ){ %>
                                        <span class="govuk-error-message" id="Granting_Authority_URL_Error">
                                            <span class="govuk-visually-hidden">Error:</span> Enter a valid granting
                                            authority policy URL

                                        </span>
                                        <% } else if( ssn.Granting_Authority_URL_255_Error ){ %>
                                        <span class="govuk-error-message" id="Granting_Authority_URL_Error">
                                            <span class="govuk-visually-hidden">Error:</span> Granting authority policy
                                            url cannot be greater than 255 characters
                                        </span>
                                        <% } %>
                                        <input class="govuk-input " name="Granting_Authority_URL"
                                            id="Granting_Authority_URL" type="text"
                                            value="<%= ssn.Granting_Authority_URL_Global%>">
                                    </div>
                                    <% if( ssn.Granting_Authority_Policy_Error ||ssn.Granting_Authority_Policy_255_Error){ %>
                                    <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                        <% } else { %>
                                        <div class="govuk-form-group govuk-grid-column-two-thirds">
                                            <% }  %>
                                            <label class="govuk-label" for="address-line-1">
                                                Granting authority policy page description
                                            </label>
                                            <details class="govuk-details" data-module="govuk-details">
                                                <summary class="govuk-details__summary">
                                                    <span class="govuk-details__summary-text">
                                                        What should a Granting authority policy page description be?
                                                    </span>
                                                </summary>
                                                <div class="govuk-details__text">
                                                    A short summary of the policy page that you provided the URL for.
                                                    For example, Water Purity Scheme policy page.
                                                </div>
                                            </details>

                                            <!-- <div class="govuk-hint">A short summary of the policy page that you provided
                                                the URL for. For example, Water Purity Scheme policy page.
                                            </div> -->
                                            <% if( ssn.Granting_Authority_Policy_Error ){ %>
                                            <span class="govuk-error-message" id="Granting_Authority_Policy_Error">
                                                <span class="govuk-visually-hidden">Error:</span> Enter a valid
                                                granting authority policy page description
                                            </span>

                                            <% } else if( ssn.Granting_Authority_Policy_255_Error ){ %>
                                            <span class="govuk-error-message" id="Granting_Authority_Policy_Error">
                                                <span class="govuk-visually-hidden">Error:</span> Granting authority
                                                policy description cannot be greater than 255 characters
                                            </span>
                                            <% }  %>
                                            <input class="govuk-input" id="Granting_Authority_Policy"
                                                name="Granting_Authority_Policy" type="text"
                                                value="<%= ssn.Granting_Authority_Policy_Global%>">
                                        </div>
                                        <% if( ssn.Budget_Error ){ %>
                                        <div
                                            class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                            <% } else { %>
                                            <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                <% }  %>
                                                <label class="govuk-label" for="address-line-1">
                                                    Budget (£)
                                                </label>
                                                <details class="govuk-details" data-module="govuk-details">
                                                    <summary class="govuk-details__summary">
                                                        <span class="govuk-details__summary-text">
                                                            What is budget?
                                                        </span>
                                                    </summary>
                                                    <div class="govuk-details__text">
                                                        For ad hoc subsidies, enter the exact amount. For other subsidy
                                                        schemes, enter the overall budget. Please format with numeric values only  
                                                            (eg 12000000 instead of 12m)
                                                    </div>
                                                </details>

                                                <% if( ssn.Budget_Error ){ %>
                                                <span class="govuk-error-message" id="Budget_Error">
                                                    <span class="govuk-visually-hidden">Error:</span> Enter a valid
                                                    budget

                                                </span>
                                                <% } %>
                                                <div class="govuk-input__wrapper">
                                                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                                    <input class="govuk-input govuk-!-width-one-third" id="Budget"
                                                        name="Budget" type="text" value="<%= formatedCurrency%>"
                                                        inputmode="numeric" pattern="^[0-9]+$">
                                                </div>

                                            </div>

                                            <% if( ssn.scheme_issued_start_day_Error || ssn.scheme_issued_start_month_Error || ssn.scheme_issued_start_year_Error ){ %>
                                            <div
                                                class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error">
                                                <% } else { %>
                                                <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                    <% }  %>
                                                    <label class="govuk-label" for="address-line-1" id="startDateLabel">
                                                        <% if(ssn.Subsidy_Adhoc_Global == 'Yes') { %>
                                                        Date
                                                        <%} else {%>
                                                        Start Date
                                                        <% }  %>
                                                    </label>
                                                    <div class="govuk-hint">
                                                        For example, 25 3 2020
                                                    </div>
                                                    <% if( ssn.scheme_issued_start_day_Error || ssn.scheme_issued_start_month_Error || ssn.scheme_issued_start_year_Error){ %>
                                                    <span class="govuk-error-message" id="Date_Error">
                                                        <span class="govuk-visually-hidden">Error:</span>
                                                        Enter a valid date
                                                    </span>
                                                    <% }  %>


                                                    <div class="govuk-date-input" id="scheme-issued">
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label"
                                                                    for="scheme_issued_start_day">
                                                                    Day
                                                                </label>
                                                                <input
                                                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                    id="scheme_issued_start_day"
                                                                    name="scheme_issued_start_day" type="text"
                                                                    placeholder="DD" pattern="[0-9]*"
                                                                    inputmode="numeric"
                                                                    value="<%= ssn.Scheme_Start_Day_Global%>">
                                                            </div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label"
                                                                    for="scheme_issued_start_month">
                                                                    Month
                                                                </label>

                                                                <input
                                                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                    id="scheme_issued_start_month"
                                                                    value="<%= ssn.Scheme_Start_Month_Global%>"
                                                                    name="scheme_issued_start_month" placeholder="MM"
                                                                    type="text" pattern="[0-9]*" inputmode="numeric">
                                                            </div>
                                                        </div>
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label"
                                                                    for="scheme_issued_start_year">
                                                                    Year
                                                                </label>
                                                                <input
                                                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                                    id="scheme_issued_start_year"
                                                                    name="scheme_issued_start_year" type="text"
                                                                    pattern="[0-9]*" inputmode="numeric"
                                                                    value="<%= ssn.Scheme_Start_Year_Global%>"
                                                                    placeholder="YYYY"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <% if( ssn.scheme_issued_end_day_lesser_Error || ssn.scheme_issued_end_day_Error || ssn.scheme_issued_end_month_Error || ssn.scheme_issued_end_year_Error ){ %>
                                                <div class="govuk-form-group govuk-grid-column-two-thirds govuk-form-group--error"
                                                    id="endDateDiv">
                                                    <% } else { %>
                                                    <div class="govuk-form-group govuk-grid-column-two-thirds"
                                                        id="endDateDiv">
                                                        <% }  %>
                                                        <label class="govuk-label" for="address-line-1">
                                                            End Date
                                                        </label>
                                                        <div class="govuk-hint">
                                                            For example, 25 11 2021. If this is an ad hoc subsidy
                                                            award,
                                                            the end date must be the same as the start date.
                                                        </div>
                                                        <% if( ssn.scheme_issued_end_day_Error  || ssn.scheme_issued_end_month_Error || ssn.scheme_issued_end_year_Error){ %>
                                                        <span class="govuk-error-message" id="EndDate_Error">
                                                            <span class="govuk-visually-hidden">Error:</span>
                                                            Enter a valid date
                                                        </span>
                                                        <% } else if(ssn.scheme_issued_end_day_lesser_Error) {%>
                                                        <span class="govuk-error-message" id="EndDate_Error">
                                                            <span class="govuk-visually-hidden">Error:</span>
                                                            End date should be later than start date
                                                        </span>
                                                        <% } %>
                                                        <div class="govuk-date-input" id="scheme-issued">
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_end_day">
                                                                        Day
                                                                    </label>

                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                        id="scheme_issued_end_day"
                                                                        value="<%= ssn.Scheme_End_Day_Global%>"
                                                                        name="scheme_issued_end_day" type="text"
                                                                        placeholder="DD" pattern="[0-9]*"
                                                                        inputmode="numeric">

                                                                </div>
                                                            </div>
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_end_month">
                                                                        Month
                                                                    </label>

                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-2"
                                                                        id="scheme_issued_end_month"
                                                                        value="<%= ssn.Scheme_End_Month_Global%>"
                                                                        name="scheme_issued_end_month" placeholder="MM"
                                                                        type="text" pattern="[0-9]*"
                                                                        inputmode="numeric">

                                                                </div>
                                                            </div>
                                                            <div class="govuk-date-input__item">
                                                                <div class="govuk-form-group">
                                                                    <label class="govuk-label govuk-date-input__label"
                                                                        for="scheme_issued_end_year">
                                                                        Year
                                                                    </label>

                                                                    <input
                                                                        class="govuk-input govuk-date-input__input govuk-input--width-4"
                                                                        id="scheme_issued_end_year"
                                                                        value="<%= ssn.Scheme_End_Year_Global%>"
                                                                        name="scheme_issued_end_year" type="text"
                                                                        pattern="[0-9]*" inputmode="numeric"
                                                                        placeholder="YYYY">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="govuk-form-group govuk-grid-column-two-thirds">
                                                        <button class="govuk-button" data-module="govuk-button"
                                                            name="buttonvalue" value="Continue">Continue</button>
                                                        <button class="govuk-link govuk-cancel-button-link"
                                                            data-module="govuk-button" name="buttonvalue" value="Cancel"
                                                            style="background: transparent;cursor:pointer;
                                                                border: 0;color: #1d70b8;  outline: 0px solid transparent;    box-shadow: 0 0px #fd0, 0 0px #0b0c0c;
                                                                   text-decoration: underline;">Cancel</button>
                                                        <!-- <a href="/canceladdsubsidymeasures"
                                                            class="govuk-link govuk-cancel-button-link"
                                                            data-module="govuk-button" name="buttonvalue"
                                                            value="Cancel">Cancel</a> -->
                                                    </div>

                </section>

            </form>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>
    <script>
        document.getElementById('subsidyscheme-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>