<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Add user page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
         // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
    </script>
    <!-- <script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script> -->
    <script>

        var url = new URL(window.location.href);
        var change = url.searchParams.get("change");

        getUserRole = (usertype, dashboard_ga_name, dashboard_roles, GA_Name_User_Global, changeSubmit, UserErrorLength_Global) => {
            if (UserErrorLength_Global > 0) {
                document.getElementById("error-alert").focus();
            }

            if (dashboard_roles == 'BEIS Administrator') {
                if (usertype == 'BEIS Administrator') {
                    document.getElementById("GA_Name_User").value = dashboard_ga_name;
                    document.getElementById("GA_Name_User").disabled = true;
                }
                else if (change != 'Yes' && !changeSubmit) {
                    document.getElementById("GA_Name_User").value = "";
                    document.getElementById("GA_Name_User").disabled = false;
                }
                else if (changeSubmit == 'Yes') {
                    document.getElementById("GA_Name_User").value = GA_Name_User_Global;
                    document.getElementById("GA_Name_User").disabled = false;
                }
                else {
                    document.getElementById("GA_Name_User").value = GA_Name_User_Global;
                    document.getElementById("GA_Name_User").disabled = false;
                }
            }
        }

    </script>
</head>

<body class="govuk-template__body app-example-page"
    onload="getUserRole('<%=ssn.User_Role_Global%>','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>','<%=change%>','<%=ssn.UserErrorLength_Global%>')">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>

            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/userselect">Users</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Add a new user</a>
                    </li>
                </ol>
            </div>

            <% if( ssn.UserErrorLength_Global > 0 ){ %>
            <div tabindex="-1" class="govuk-error-summary" id="error-alert" role="alert"
                aria-labelledby="error-summary-title" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <% for(var i=0; i < ssn.UserErrorLength_Global  ; i++) {%>
                    <ul class="govuk-list govuk-error-summary__list">
                        <li> <a href="<%= UserFocus[i] %>"> <%= UserErrors[i] %> </a> </li>
                    </ul>
                    <% } %>
                </div>
            </div>
            <% } %>
            <!-- bread crumbs ends here -->
            <form action="/userreview" method="POST">
                <fieldset class="govuk-fieldset" aria-describedby="role-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Add a new user - Send invitation
                        </h1>
                    </legend>

                    <% if(ssn.User_Role_Error) { %>

                    <span class="govuk-error-message" id="Goods_or_Services_Error">
                        <span class="govuk-visually-hidden">Error:</span> Choose the role
                    </span>


                    <div id="role-id" class="govuk-hint">
                        Role
                    </div>

                    <div class="govuk-radios govuk-form-group govuk-form-group--error">
                        <div class="govuk-radios__item">
                            <%  if(ssn.User_Role_Global == 'BEIS Administrator') { %>
                            <input class="govuk-radios__input" id="BEISAdmin" aria-describedby="beis-user-hint"
                                name="userRole" type="radio" value="BEIS Administrator" checked
                                onchange="getUserRole('BEIS Administrator','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% }else if(ssn.dashboard_roles != 'BEIS Administrator'){ %>
                            <input class="govuk-radios__input" id="BEISAdmin" aria-describedby="beis-user-hint"
                                name="userRole" type="radio" value="BEIS Administrator" disabled>
                            <% } else { %>
                            <input class="govuk-radios__input" id="BEISAdmin" aria-describedby="beis-user-hint"
                                name="userRole" type="radio" value="BEIS Administrator"
                                onchange="getUserRole('BEIS Administrator','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } %>
                            <label class="govuk-label govuk-radios__label" for="BEISAdmin">
                                BEIS Administrator
                            </label>
                            <div id="beis-user-hint" class="govuk-hint govuk-radios__hint">
                                Will be able to add, edit and approve users, public authorities, subsidy schemes and
                                awards.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <%  if(ssn.User_Role_Global == 'Granting Authority Administrator') { %>
                            <input class="govuk-radios__input" id="GAAdmin" aria-describedby="GA-Admin-user-hint"
                                name="userRole" type="radio" value="Granting Authority Administrator" checked
                                onchange="getUserRole('GAAdmin','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } else { %>
                            <input class="govuk-radios__input" id="GAAdmin" aria-describedby="GA-Admin-user-hint"
                                name="userRole" type="radio" value="Granting Authority Administrator"
                                onchange="getUserRole('GAAdmin','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } %>

                            <label class="govuk-label govuk-radios__label" for="GAAdmin">
                                Public Authority Administrator
                            </label>
                            <div id="GA-Admin-user-hint" class="govuk-hint govuk-radios__hint">
                                Will be able to add, edit and approve users, subsidy schemes and awards.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <%  if(ssn.User_Role_Global == 'Granting Authority Approver') { %>
                            <input class="govuk-radios__input" id="GAApprover" aria-describedby="GA-Approver-user-hint"
                                name="userRole" type="radio" value="Granting Authority Approver" checked
                                onchange="getUserRole('GAApprover','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } else { %>
                            <input class="govuk-radios__input" id="GAApprover" aria-describedby="GA-Approver-user-hint"
                                name="userRole" type="radio" value="Granting Authority Approver"
                                onchange="getUserRole('GAApprover','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } %>
                            <label class="govuk-label govuk-radios__label" for="GAApprover">
                                Public Authority Approver
                            </label>
                            <div id="GA-Approver-user-hint" class="govuk-hint govuk-radios__hint">
                                Will be able to add, edit and approve subsidy schemes and awards.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <%  if(ssn.User_Role_Global == 'Granting Authority Encoder') { %>
                            <input class="govuk-radios__input" id="GAEncoder" aria-describedby="GA-Encoder-user-hint"
                                name="userRole" type="radio" value="Granting Authority Encoder" checked
                                onchange="getUserRole('GAEncoder','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } else { %>
                            <input class="govuk-radios__input" id="GAEncoder" aria-describedby="GA-Encoder-user-hint"
                                name="userRole" type="radio" value="Granting Authority Encoder"
                                onchange="getUserRole('GAEncoder','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } %>
                            <label class="govuk-label govuk-radios__label" for="GAEncoder">
                                Public Authority Encoder
                            </label>
                            <div id="GA-Encoder-user-hint" class="govuk-hint govuk-radios__hint">
                                Will be able to add and edit subsidy awards.
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    <!-- normal process -->

                    <div id="role-id" class="govuk-hint">
                        Role
                    </div>

                    <div class="govuk-radios govuk-form-group">
                        <div class="govuk-radios__item">
                            <%  if(ssn.User_Role_Global == 'BEIS Administrator') { %>
                            <input class="govuk-radios__input" id="BEISAdmin" aria-describedby="beis-user-hint"
                                name="userRole" type="radio" value="BEIS Administrator" checked
                                onchange="getUserRole('BEIS Administrator','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% }else if(ssn.dashboard_roles != 'BEIS Administrator'){ %>
                            <input class="govuk-radios__input" id="BEISAdmin" aria-describedby="beis-user-hint"
                                name="userRole" type="radio" value="BEIS Administrator" disabled>
                            <% } else { %>
                            <input class="govuk-radios__input" id="BEISAdmin" aria-describedby="beis-user-hint"
                                name="userRole" type="radio" value="BEIS Administrator"
                                onchange="getUserRole('BEIS Administrator','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } %>
                            <label class="govuk-label govuk-radios__label" for="BEISAdmin">
                                BEIS Administrator
                            </label>
                            <div id="beis-user-hint" class="govuk-hint govuk-radios__hint">
                                Will be able to add, edit and approve users, public authorities, subsidy schemes and
                                awards.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <%  if(ssn.User_Role_Global == 'Granting Authority Administrator') { %>
                            <input class="govuk-radios__input" id="GAAdmin" aria-describedby="GA-Admin-user-hint"
                                name="userRole" type="radio" value="Granting Authority Administrator" checked
                                onchange="getUserRole('GAAdmin','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } else { %>
                            <input class="govuk-radios__input" id="GAAdmin" aria-describedby="GA-Admin-user-hint"
                                name="userRole" type="radio" value="Granting Authority Administrator"
                                onchange="getUserRole('GAAdmin','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } %>

                            <label class="govuk-label govuk-radios__label" for="GAAdmin">
                                Public Authority Administrator
                            </label>
                            <div id="GA-Admin-user-hint" class="govuk-hint govuk-radios__hint">
                                Will be able to add, edit and approve users, subsidy schemes and awards.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <%  if(ssn.User_Role_Global == 'Granting Authority Approver') { %>
                            <input class="govuk-radios__input" id="GAApprover" aria-describedby="GA-Approver-user-hint"
                                name="userRole" type="radio" value="Granting Authority Approver" checked
                                onchange="getUserRole('GAApprover','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } else { %>
                            <input class="govuk-radios__input" id="GAApprover" aria-describedby="GA-Approver-user-hint"
                                name="userRole" type="radio" value="Granting Authority Approver"
                                onchange="getUserRole('GAApprover','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } %>
                            <label class="govuk-label govuk-radios__label" for="GAApprover">
                                Public Authority Approver
                            </label>
                            <div id="GA-Approver-user-hint" class="govuk-hint govuk-radios__hint">
                                Will be able to add, edit and approve subsidy schemes and awards.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <%  if(ssn.User_Role_Global == 'Granting Authority Encoder') { %>
                            <input class="govuk-radios__input" id="GAEncoder" aria-describedby="GA-Encoder-user-hint"
                                name="userRole" type="radio" value="Granting Authority Encoder" checked
                                onchange="getUserRole('GAEncoder','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } else { %>
                            <input class="govuk-radios__input" id="GAEncoder" aria-describedby="GA-Encoder-user-hint"
                                name="userRole" type="radio" value="Granting Authority Encoder"
                                onchange="getUserRole('GAEncoder','<%=ssn.dashboard_ga_name%>','<%=ssn.dashboard_roles%>','<%=ssn.GA_Name_User_Global%>')">
                            <% } %>
                            <label class="govuk-label govuk-radios__label" for="GAEncoder">
                                Public Authority Encoder
                            </label>
                            <div id="GA-Encoder-user-hint" class="govuk-hint govuk-radios__hint">
                                Will be able to add and edit subsidy awards.
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <!-- Normal process ends here -->

                    <div class="govuk-grid-row ">
                        <% if(ssn.GA_Name_User_Error) { %>

                        <span class="govuk-error-message" id="Goods_or_Services_Error">
                            <span class="govuk-visually-hidden">Error:</span> Enter the Public authority name
                        </span>

                        <div class="govuk-form-group govuk-grid-column-full govuk-form-group--error">
                            <label class="govuk-label" for="GA_Name_User">
                                Public authority name
                            </label>
                            <!-- <div class="govuk-form-group govuk-grid-column-one-half govuk-padding-0"> -->
                            <%  if(ssn.dashboard_roles == 'BEIS Administrator') { %>
                            <input class="govuk-input govuk-!-width-one-half govuk-form-group--error"
                                placeholder="Public authority name" type="text" id="GA_Name_User" name="GA_Name_User"
                                <% if(ssn.GA_Name_User_Global) {%> value="<%= ssn.GA_Name_User_Global %>" <% } %>>
                            <% } else { %>
                            <input class="govuk-input govuk-!-width-one-half" placeholder="Public authority name"
                                type="text" id="GA_Name_User" name="GA_Name_User" disabled
                                value="<%= ssn.dashboard_ga_name   %>">
                            <% } %>
                        </div>
                        <% } else if(ssn.GA_Error){ %>
                        <span class="govuk-error-message" id="Goods_or_Services_Error">
                            <span class="govuk-visually-hidden">Error:</span> <%=ssn.GA_msg%>
                        </span>
                        <div class="govuk-form-group govuk-grid-column-full govuk-form-group--error">
                            <label class="govuk-label" for="GA_Name_User">
                                Public authority name
                            </label>


                            <!-- <div class="govuk-form-group govuk-grid-column-one-half govuk-padding-0"> -->
                            <%  if(ssn.dashboard_roles == 'BEIS Administrator') { %>
                            <input class="govuk-input govuk-!-width-one-half" placeholder="Public authority name"
                                type="text" id="GA_Name_User" name="GA_Name_User" <% if(ssn.GA_Name_User_Global) { %>
                                value="<%= ssn.GA_Name_User_Global %>" <% } %>>
                            <% } else { %>
                            <input class="govuk-input govuk-!-width-one-half" placeholder="Public authority name"
                                type="text" id="GA_Name_User" name="GA_Name_User" disabled
                                value="<%= ssn.dashboard_ga_name %>">
                            <% } %>
                        </div>

                        <% } else { %>
                        <div class="govuk-form-group govuk-grid-column-full">
                            <label class="govuk-label" for="GA_Name_User">
                                Public authority name
                            </label>
                            <!-- <div class="govuk-form-group govuk-grid-column-one-half govuk-padding-0"> -->
                            <%  if(ssn.dashboard_roles == 'BEIS Administrator') { %>
                            <input class="govuk-input govuk-!-width-one-half" placeholder="Public authority name"
                                type="text" id="GA_Name_User" name="GA_Name_User" <% if(ssn.GA_Name_User_Global) { %>
                                value="<%= ssn.GA_Name_User_Global %>" <% } %>>
                            <% } else { %>
                            <input class="govuk-input govuk-!-width-one-half" placeholder="Public authority name"
                                type="text" id="GA_Name_User" name="GA_Name_User" disabled
                                value="<%= ssn.dashboard_ga_name %>">
                            <% } %>
                        </div>
                        <% } %>
                        <div class="govuk-grid-column-one-third">

                            <% if(ssn.Email_Id_Error) { %>

                            <span class="govuk-error-message" id="emailid_Error">
                                <span class="govuk-visually-hidden">Error:</span> <%=ssn.Email_msg%>
                            </span>

                            <div class="govuk-form-group govuk-form-group--error">
                                <!-- <div class="govuk-form-group govuk-grid-column-one-third"> -->
                                <label class="govuk-label" for="EmailId">
                                    Email address
                                </label>
                                <input class="govuk-input govuk-input--width-20 govuk-form-group--error" id="EmailId"
                                    name="Email_Id" type="text" <% if(ssn.Email_Id_Global) {%>
                                    value="<%= ssn.Email_Id_Global %>" <% } %>>
                                <!-- </div> -->
                            </div>
                            <% } else { %>

                            <div class="govuk-form-group govuk-grid-column-full govuk-padding-0">
                                <!-- <div class="govuk-form-group govuk-grid-column-one-third"> -->
                                <label class="govuk-label" for="EmailId">
                                    Email address
                                </label>
                                <input class="govuk-input govuk-input--width-20" id="EmailId" name="Email_Id"
                                    type="text" <% if(ssn.Email_Id_Global) {%> value="<%= ssn.Email_Id_Global %>"
                                    <% } %>>
                                <!-- </div> -->
                            </div>
                            <% } %>
                        </div>


                        <div class="govuk-grid-column-full">
                            <button class="govuk-button" data-module="govuk-button" name="buttonvalue" value="Continue">
                                Continue
                            </button>
                            <button class="govuk-link govuk-cancel-button-link"
                                style="color: #1d70b8;text-decoration: none;border: 0px;background-color: transparent;"
                                data-module="govuk-button" name="buttonvalue" value="Cancel">
                                Cancel
                            </button>
                            <!-- <a class="govuk-link govuk-cancel-button-link" href="/canceluser">
                                Cancel
                            </a> -->
                        </div>

            </form>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('user-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>