<!DOCTYPE html>
<html lang="en">

<head>
    <title>User <%= ssn.User_Name_Single %> <%= ssn.User_Last_Name_Single %> - Manage UK subsidies - GOV.UK - Individual User Details page</title>
    <%- include('../partials/headercss.ejs') %>
    <script>
        function updateCopyIcon(state){
            var success = document.getElementById("copy-icon-success");
            var copy = document.getElementById("copy-icon-default")
            switch(state) {
                case "copied":
                    success.style.display = "inline-block"
                    copy.style.display = "none";
                    break;
                default:
                    success.style.display = "none"
                    copy.style.display = "inline-block";
                    break;
            }
        }

        function selectText(input) {
            input.focus();
            input.select();
            input.setSelectionRange(0, 99999); // For mobile devices
        }

        function writeToClipboard(el){
            navigator.clipboard.writeText(el.value);
        }

        function copyRedemptionLink(button) {
            var copyText = document.getElementById("redemptionLink");

            selectText(copyText);
            writeToClipboard(copyText);
            selectText(copyText);

            // update the copy icon, then revert it after 3 seconds
            updateCopyIcon("copied");
            setTimeout(() => {  updateCopyIcon(); }, 3000);
        }
    </script>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>

            <%- include('../partials/navigationbar.ejs') %>
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/userselect">Users</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">User details</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-xl"> <%= ssn.User_Name_Single %> <%= ssn.User_Last_Name_Single %> </h1>
                </div>
            <!-- *************************************
              Review for subsidy details tab
              ************************************* -->
                <div class="govuk-grid-column-full">
                    <% if (typeof inviteSent != "undefined"){ %>
                        <% if(inviteSent) { %>
                            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                            aria-labelledby="govuk-notification-banner-title"
                            data-module="govuk-notification-banner">
                                <div class="govuk-notification-banner__header">
                                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                    Success
                                    </h2>
                                </div>
                                <div class="govuk-notification-banner__content">
                                    <h3 class="govuk-notification-banner__heading">
                                    <%= messageHeader %>
                                    </h3>
                                    <%= messageBody %>
                                    <br/>
                                    <br/>
                                    <label class="govuk-label" for="redemptionLink">
                                        Redemption link
                                      </label>
                                    <div class="govuk-input__wrapper">
                                        <input class="govuk-input govuk-!-width-full" id="redemptionLink" name="redemptionLink" type="text" value="<%=redemptionLink%>" readonly>
                                        <div class="govuk-input__suffix" aria-hidden="true">
                                            <button id="redemptionCopy" type="button" data-view-component="true" onclick="copyRedemptionLink(this)" title="Copy redemption link">
                                                <span class="Button-content">
                                                  <span class="Button-label">
                                                      <svg id="copy-icon-default" aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" style="display: inline-block;">
                                                        <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path>
                                                        <path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path>
                                                      </svg>
                                                      <svg id="copy-icon-success" style="display: none;" aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true">
                                                        <path d="M13.78 4.22a.75.75 0 0 1 0 1.06l-7.25 7.25a.75.75 0 0 1-1.06 0L2.22 9.28a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018L6 10.94l6.72-6.72a.75.75 0 0 1 1.06 0Z"></path>
                                                      </svg>
                                                  </span>
                                              </span>
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-warning-text__assistive">Warning</span>
                                    <%= messageBody %>
                                </strong>
                            </div>
                        <% } %>
                    <% } %>
                </div>

                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">User details</h2>
                    <a rel="external" class="govuk-link head-right govuk-relative-position" href="/edituser">
                        <p>Change </p>
                    </a>
                </div>
            </div>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Role
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.User_Role_Single.replace('Granting', 'Public') %>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Public Authority name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <% if ( ssn.User_GA_Name == 'Granting Authority Administrator' 
                        || ssn.User_GA_Name == 'Granting Authority Approver' 
                        || ssn.User_GA_Name == 'Granting Authority Encoder' ) {  %>
                        NA
                        <% } else if (ssn.User_GA_Name == 'BEIS Administrator' ) {  %>
                        Department for Business, Energy & Industrial Strategy
                        <% } else { %>
                        <%= GA_Selected %>
                        <% } %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        First name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.User_Name_Single %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.User_Last_Name_Single %>
                    </dd>

                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.User_Email_Single %>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= ssn.User_Mobile_Single %>
                    </dd>

                </div>


            </dl>

            <form action="/userdeactivate" method="POST">
                <!-- <a href="/userupdated" class="govuk-button" data-module="govuk-button">
                    Save updates
                </a> -->
                <a href="/userselect" class="govuk-button" data-module="govuk-button">
                    View all users
                </a>
                <!-- <a href="/" class="govuk-link govuk-cancel-button-link">Deactivate</a> -->

                <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                    Deactivate
                </button>
                <% if (typeof externalUserState != "undefined"){ %>
                    <% if ( (ssn.dashboard_roles == 'Granting Authority Administrator' 
                            || ssn.dashboard_roles == 'BEIS Administrator') && externalUserState == 'PendingAcceptance' ) { %>
                    <a class="govuk-button" href="/userreinvite?userID=<%= ssn.user_id %>" data-module="govuk-button" style="float:right">
                    Resend invitation
                    </a>
                    <% } %>
                <% } %>
            </form>
        </main>
    </div>
</body>

<%- include('../partials/footer.ejs') %>
<script>
    document.getElementById('user-li').firstElementChild.setAttribute("aria-current", 'page');
</script>

</html>