<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Edit User details page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-145652997-21');
    </script>
    <!-- <script type="text/javascript" src="/assets/javascripts/pagination.class.js"></script> -->
</head>


<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>

            <%- include('../partials/navigationbar.ejs') %>
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/userselect">Users</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Edit user</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->

            <h1 class="govuk-heading-xl">
                Edit user</h1>
            <div id="sign-in-hint" class="govuk-hint">
                Role
            </div>
            <form method="POST" action="/usereditreview">
                <div class="govuk-radios govuk-form-group">
                    <div class="govuk-radios__item">
                        <%  if(UserRole == 'BEIS Administrators') { %>
                        <input class="govuk-radios__input" id="BEISAdmin" name="userRole" type="radio"
                            value="BEIS Administrator" checked>
                        <% } else { %>
                        <input class="govuk-radios__input" disabled id="BEISAdmin" name="userRole" type="radio"
                            value="BEIS Administrator">
                        <% } %>

                        <label class="govuk-label govuk-radios__label" for="BEISAdmin">
                            BEIS Administrator
                        </label>
                        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Will be able to add, edit and approve users, granting authorities, subsidy schemes and
                            awards.
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <%  if(UserRole == 'Granting Authority Administrators') { %>
                        <input class="govuk-radios__input" id="GAAdmin" name="userRole" type="radio"
                            value="Granting Authority Administrator" checked>
                        <% } else { %>
                        <input class="govuk-radios__input" disabled id="GAAdmin" name="userRole" type="radio"
                            value="Granting Authority Administrator">
                        <% } %>

                        <label class="govuk-label govuk-radios__label" for="GAAdmin">
                            Granting Authority Administrator
                        </label>
                        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Will be able to add, edit and approve users, subsidy schemes and awards.
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <%  if(UserRole == 'Granting Authority Approver') { %>
                        <input class="govuk-radios__input" id="GAApprover" name="userRole" type="radio"
                            value="Granting Authority Approver" checked>
                        <% } else { %>
                        <input class="govuk-radios__input" disabled id="GAApprover" name="userRole" type="radio"
                            value="Granting Authority Approver">
                        <% } %>

                        <label class="govuk-label govuk-radios__label" for="GAApprover">
                            Granting Authority Approver
                        </label>
                        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Will be able to add, edit and approve subsidy schemes and awards.
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <%  if(UserRole == 'Granting Authority Encoder') { %>
                        <input class="govuk-radios__input" id="GAEncoder" name="userRole" type="radio"
                            value="Granting Authority Encoder" checked>
                        <% } else { %>
                        <input class="govuk-radios__input" disabled id="GAEncoder" name="userRole" type="radio"
                            value="Granting Authority Encoder">
                        <% } %>
                        <label class="govuk-label govuk-radios__label" for="GAEncoder">
                            Granting Authority Encoder
                        </label>
                        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            Will be able to add and edit subsidy awards.
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-form-group" id="ga-name-div">
                        <label class="govuk-label" for="width-20">
                            Granting Authority name
                        </label>
                        <!-- <div class="govuk-form-group govuk-grid-column-two-thirds govuk-padding-0"> -->
                        <input class="govuk-input govuk-!-width-two-thirds" value="<%=GA_Selected%>" name="GA_Selected"
                            placeholder="Granting Authority name" type="text" readonly>
                        <!-- <button class="govuk-button" data-module="govuk-button">
                            Select
                        </button> -->
                        <!-- </div> -->
                    </div>
                    <div class="govuk-grid-column-full govuk-grid-row" id="full-name-div">
                        <div class="govuk-form-group govuk-grid-column-one-third">
                            <label class="govuk-label" for="width-20">
                                First name
                            </label>
                            <input class="govuk-input govuk-input--width-20" value="<%=ssn.User_Name_Single%>"
                                name="User_Name_Single" type="text" required>
                        </div>
                    </div>
                    <div class="govuk-grid-column-full govuk-grid-row">

                        <div class="govuk-form-group govuk-grid-column-one-third">
                            <label class="govuk-label" for="width-20">
                                Last name
                            </label>
                            <input class="govuk-input govuk-input--width-20" name="User_Last_Name_Single"
                                value="<%=ssn.User_Last_Name_Single%>" type="text" required>
                        </div>

                    </div>
                    <div class="govuk-grid-column-full govuk-grid-row">
                        <div class="govuk-form-group govuk-grid-column-one-third">
                            <label class="govuk-label" for="width-20">
                                Email address
                            </label>
                            <input class="govuk-input govuk-input--width-20" value="<%=ssn.User_Email_Single%>"
                                name="User_Email_Single" type="text" readonly>
                        </div>

                    </div>
                    <div class="govuk-grid-column-full govuk-grid-row">
                        <div class="govuk-form-group govuk-grid-column-full">
                            <label class="govuk-label" for="width-20">
                                Mobile phone number
                            </label>
                            <div class="govuk-hint">
                                We will send a reset code to this phone number if the user forgets their password.
                            </div>
                            <input class="govuk-input govuk-input--width-10" value="<%=ssn.User_Mobile_Single%>"
                                name="User_Mobile_Single" type="text" required>
                        </div>
                        <div class="govuk-form-group govuk-grid-column-full">
                            <button class="govuk-button" data-module="govuk-button">
                                Continue
                            </button>
                            <a href="/userdeactivate" class="govuk-button govuk-button--warning"
                                data-module="govuk-button">
                                Deactivate user
                            </a>
                            <a class="govuk-link govuk-cancel-button-link" href="/canceluser">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script>
        document.getElementById('user-li').firstElementChild.setAttribute("aria-current", 'page');
    </script>
</body>

</html>