<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Individual User Details page</title>
    <%- include('../partials/headercss.ejs') %>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <!-- <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>

                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>



                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Sign out
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item head-right">
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div> -->
            <%- include('../partials/navigationbar.ejs') %>
            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/userselect">Users</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link active" href="#">User details</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-xl"> <%= User_Name_Single %> &nbsp <%= User_Last_Name_Single %> </h1>

                    <!-- *************************************
              Review for subsidy details tab
              ************************************* -->
                </div>
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m" name="subsidydetails" value="subsidydetails">User details</h2>
                    <a rel="external" class="govuk-link head-right govuk-relative-position" href="/addsubsidyreview">
                        <p>Change </p>
                    </a>
                </div>
            </div>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Role
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= User_Role_Single %>
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Granting Authority name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <% if ( GA_Selected == 'Granting Authority Administrator' || GA_Selected == 'Granting Authority Approver' || GA_Selected == 'Granting Authority Encoder' ) {  %>
                        NA
                        <% } else if (GA_Selected == 'BEIS Administrator' ) {  %>
                        Department for Business, Energy & Industrial Strategy
                        <% } else { %>
                        <%= GA_Selected %>
                        <% } %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        First name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= User_Name_Single %>
                    </dd>

                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= User_Last_Name_Single %>
                    </dd>

                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= User_Email_Single %>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= User_Mobile_Single %>
                    </dd>

                </div>


            </dl>

            <form action="/userdeactivate" method="POST">
                <!-- <a href="/userupdated" class="govuk-button" data-module="govuk-button">
                    Save updates
                </a> -->
                <a href="/userselect" class="govuk-button" data-module="govuk-button">
                    View all users
                </a>
                <!-- <a href="/" class="govuk-link govuk-cancel-button-link">Deactivate</a> -->

                <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                    Deactivate
                </button>
            </form>
        </main>
    </div>
</body>

<%- include('../partials/footer.ejs') %>
<script>
    document.getElementById('user-li').firstElementChild.setAttribute("aria-current", 'page');
</script>

</html>