<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - Deactivate User page</title>
    <%- include('../partials/headercss.ejs') %>

</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>
            <!-- Header pane starts here -->
            <!-- <div class="govuk-grid-row govuk-form-group">
                <div class="govuk-grid-column-full">
                    <nav class="govuk-sub-navigation" aria-label="Sub navigation">
                        <ul class="govuk-sub-navigation__list">
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mygrantingauthority">
                                    Granting Authorities
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/userselect">
                                    Users
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" aria-current="page" href="/mysubsidymeasures">
                                    Subsidy Schemes
                                </a>
                            </li>
                            <li class="govuk-sub-navigation__item">
                                <a class="govuk-sub-navigation__link" href="/mysubsidyawards">
                                    Subsidy Awards
                                </a>
                            </li>

                            <li class='govuk-sub-navigation__item head-right'>
                                <a class="govuk-sub-navigation__link" href="/logintransparency">
                                    Signout
                                </a>
                            </li>
                            <li class='govuk-sub-navigation__item head-right'>
                                <a class="govuk-sub-navigation__link" href="/useraccount">
                                    My account
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div> -->
            <!-- Header pane starts here -->

            <!-- bread crumbs start here -->
            <div class="govuk-breadcrumbs ">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Dashboard</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/userselect">Users</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" aria-current="page" href="#">Edit user</a>
                    </li>
                </ol>
            </div>
            <!-- bread crumbs ends here -->

            <!-- Body header starts here -->
            <div class="govuk-body-cancel">
                <h1 class="govuk-heading-l">Deactivate user</h1>

                <p class="govuk-body govuk-!-font-size-19 govuk-!-width-two-thirds">If you make this user inactive, the
                    user will no longer be able to access the system.</p>
                <!-- Body header ends here -->
                <p class="govuk-body govuk-!-font-size-19">Are you sure you want to make this user inactive?</p>

                <a href="/userdeactivated">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Yes, deactivate
                        user</button>
                </a>
                <a href="/userindividualdetails/?userObject=<%= ssn.user_id %>">
                    <button class="govuk-button govuk-button_sm govuk-button--secondary"
                        data-module="govuk-button">No</button>
                </a>
            </div>

        </main>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/assets/javascripts/vendor/iframeResizer.contentWindow.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/modernizr.js"></script>

</body>

</html>