<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOV.UK - My Account details page</title>
    <%- include('../partials/headercss.ejs') %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145652997-21"></script>
    <script>
         // window.dataLayer = window.dataLayer || [];

        // function gtag() {
        //     dataLayer.push(arguments);
        // }
        // gtag('js', new Date());
        // gtag('config', 'UA-145652997-21');
    </script>
</head>

<body class="govuk-template__body app-example-page">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%- include('../partials/cookies-consent.ejs') %> <%- include('../partials/header.ejs') %>
    <div class="govuk-width-container ">
        <main id="main-content" role="main">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        beta
                    </strong>
                    <span class="govuk-phase-banner__text">
                        This is a new service – your <a class="govuk-link" href="/feedbackform">feedback</a> will help
                        us to improve it.
                    </span>
                </p>
            </div>
            <%- include('../partials/navigationbar.ejs') %>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <!-- <br /> -->

                    <!-- <h1 class="govuk-heading-xl">Review new user details</h1> -->

                </div>
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl" name="subsidydetails" value="subsidydetails">
                        <%= ssn.dashboard_user_name %>
                    </h1>
                    <!-- <a rel="external" class="govuk-link head-right govuk-relative-position" href="/addsubsidyreview">
                        <p>Change </p>
                    </a> -->
                </div>
            </div>
            <table class="govuk-table">

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Your details</th>
                        <td class="govuk-table__cell"></td>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <!-- <p>Update my details</p> -->
                            <!-- <p><a href="/useraccountdetails" style="font-weight: normal;
                                color: #169BD5;">Update your name, phone number and email
                                    address</a></p> -->
                            Role
                        </th>
                        <td class="govuk-table__cell"><%= ssn.dashboard_roles.replace('Granting', 'Public') %></td>
                        <!-- <td class="govuk-table__cell">£109.80 per week</td> -->
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Public authority name</th>
                        <td class="govuk-table__cell"><%= ssn.dashboard_ga_name%></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">First name</th>
                        <td class="govuk-table__cell"><%= ssn.Full_Name_Global%></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Last name</th>
                        <td class="govuk-table__cell"><%= ssn.Last_Name_Global%></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Email address</th>
                        <td class="govuk-table__cell"><%= ssn.Email_Id_Global%></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Contact number</th>
                        <td class="govuk-table__cell"><%= ssn.Phone_Number_Global%></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" style="text-align: left;">
                            <a href="/useraccountdetails" style="font-weight: normal;
                            color: #169BD5;">Update your details</a>
                        </th>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            Change password
                        </th>
                        <td class="govuk-table__cell">
                            <p class="govuk-body"><a href="https://aka.ms/sspr" style="font-weight: normal;
                            color: #169BD5;">Change your password</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>




</html>